[2015-01-13 17:16] jj0hns0n commented on #1367
@tomkralidis can you look into this one?

[2015-01-13 17:17] jj0hns0n commented on #1325
We can hook up autocomplete and tokenizing here. I've add it it in a few other places already.

[2015-01-13 17:18] jj0hns0n commented on #1307
We should verify if this is still an issue.

[2015-01-13 17:18] jj0hns0n commented on #1305
@ischneider will this just go away in favor of the new uploader?

[2015-01-13 17:19] jj0hns0n commented on #1294
This should get handled as part of new uploader work cc @ischneider

[2015-01-13 17:21] jj0hns0n commented on #1213
Should we go ahead and close this one?

[2015-01-13 17:21] jj0hns0n commented on #1210
I think we are going to abandon the current kml importer in 2.4. @ischneider let me know otherwise if so.

[2015-01-13 17:22] #1209 closed

[2015-01-13 17:23] jj0hns0n commented on #1066
I think we are going to punt on KML issues until 2.5

[2015-01-13 17:25] jj0hns0n commented on #821
Can we close this?

[2015-01-13 17:26] jj0hns0n commented on #783
@matthewhanson can you verify this is still an issue? Perhaps something you can help with?

[2015-01-13 17:27] state-hiu commented on #1915
+1, this would be really great for geocoding global "by country" datasets, such as indicators, foreign assistance, programs, etc, against country polygons.  Also, I would add a UI for identifying unmatched rows somewhere even if the errors need to be corrected offline.

[2015-01-13 17:27] state-hiu commented on #1915
+1, this would be really great for geocoding global "by country" datasets, such as indicators, foreign assistance, programs, etc, against country polygons.  Also, I would add a UI for identifying unmatched rows somewhere even if the errors need to be corrected offline.

[2015-01-13 17:34] jj0hns0n commented on #1913
This should be done with a management command. It should configure the layers in geoserver and then sync with geonode.

[2015-01-13 17:37] ischneider commented on #1891
I haven't played with ogr2ogr and KML.

In general, I still suggest extracting data external to GeoNode - IMHO, there are too many potential issues with how to extract, generate schemas, preserve styles, etc.

[2015-01-13 17:37] jj0hns0n commented on #907
We can change the admin header pretty easily, how does one change add a header to geoserver?

[2015-01-13 17:38] jj0hns0n commented on #889
Moving to 2.5. Clip and Ship would still be very useful.

[2015-01-13 17:39] jj0hns0n commented on #886
This would be a really fun project at the sprint, but Im going to push to 2.5 for now.

I'd also like a geonode users/servers map on our geonode.org site.

[2015-01-13 17:40] jj0hns0n commented on #518
Can we close this since we have a totally new permission system? @simod

[2015-01-13 17:40] ischneider commented on #1718
I've taken a break from it due to other demands.

[2015-01-13 17:40] #462 closed

[2015-01-13 17:41] jj0hns0n commented on #130
Im pretty sure I did some work to port this code against master. See here https://github.com/jj0hns0n/geonode/tree/create_new_user_from_email ... Ill see if I can get this merged.

[2015-01-13 17:43] jj0hns0n commented on #1234
@ppasq and @simod can you update us on this one?

[2015-01-13 17:44] ischneider commented on #1674
Looks like #1676 was merged, so I'll close for now.

Longer term, probably should be abandoned

[2015-01-13 17:44] #1674 closed

[2015-01-13 17:45] ischneider commented on #1670
@jj0hns0n Unsure of whether a new uploader will appear before 2.4

[2015-01-13 17:52] ischneider commented on #1667
Periodic syncing seems like overkill.

Ideally, it seems like style operations should be done through GeoNode and this would keep things in sync.

OK with adding a 'refresh' option, too

[2015-01-13 18:26] ischneider commented on #1305
it may be dealt with already but I haven't looked

[2015-01-13 18:26] jj0hns0n commented on #858
Is this documented somewhere? If we at least have documentation about the
hack then we can point people to it.

On Tue, Jan 13, 2015 at 8:55 AM, Bart van den Eijnden <
notifications@github.com> wrote:

[2015-01-13 18:27] ischneider commented on #1294
@jj0hns0n This may have been fixed w/ 9b82d71d5740293c057e73bfcf259b09a878d6eb

[2015-01-13 18:27] jj0hns0n commented on #1915
The plan is to have the status endpoint return a potentially truncated list
of unmatched rows for inspection offline.

On Tue, Jan 13, 2015 at 9:27 AM, Humanitarian Information Unit <
notifications@github.com> wrote:

[2015-01-13 18:32] ischneider commented on #1913
Having a management command initially would be a good start but it would be great to have the logic reside outside that command.

[2015-01-13 18:36] bartvde commented on #858
I don't think it's documented outside of the ticket, where should the docs go?

[2015-01-13 18:37] jj0hns0n commented on #858
If you can point to them and maybe prepare a quick google doc or something,
I can make sure it gets into the docs when we sprint on them in a few weeks.

On Tue, Jan 13, 2015 at 10:36 AM, Bart van den Eijnden <
notifications@github.com> wrote:

[2015-01-13 19:02] garnertb opened #1917 "Document celery integration."

[2015-01-13 19:31] tomkralidis commented on #1376
@benjwadams can you point to an example or code? I'm unclear where this is actually happening.

[2015-01-13 19:36] tomkralidis commented on #1367
@batje from the trace, looks like It's failing CKAN validation.  The ISO XML we produce covers the elements CKAN is complaining about, so I'm guessing something gets botched when generating maps as CSW layers.

Do you have an example GeoNode which has a map available so I can test?

[2015-01-13 22:05] ischneider commented on #1818
@jj0hns0n unsure of it's status.

[2015-01-14 00:15] mbertrand commented on #1770
@jjohns0n, I think this was handled by the [GXP FeatureGrid widget](https://github.com/boundlessgeo/gxp/blob/master/src/script/widgets/grid/FeatureGrid.js#L244) in conjunction with the maplayer configuration.

[2015-01-14 00:16] mbertrand commented on #1040
@jjohns0n, no update since the last one on 4/16.

[2015-01-14 07:23] simod commented on #1818
They are both showing the background due to this PR https://github.com/GeoNode/geonode/pull/1884 which restores some of the logic that was in place in 2.0 also for layers (need a second save for them)

[2015-01-14 07:32] ilpise commented on #1692
Hi, the image is 25MB and  is not possible to upload it here.
I will check for a smaller one or let me know how can i send the original one.
Thanks a lot.

[2015-01-14 07:37] #1234 closed

[2015-01-14 07:38] #1213 closed

[2015-01-14 07:38] #1409 closed

[2015-01-15 11:17] george-silva opened #1919 "On Windows paver start fails"
Hello guys and gals,
Following the setup instructions clearly, paver start command fails. It is still looking for /dev/null for start_geoserver task.

Check this line:

https://github.com/GeoNode/geonode/blob/master/pavement.py#L346

In my specific installation, the command ```java -version``` appears to work, so we never consider this to be on windows or not, maintaining the ```longernullpath = '

[2015-01-15 11:21] garnertb commented on #1919
Maybe you can use [os.devnull](https://docs.python.org/2/library/os.html#os.devnull)?

[2015-01-15 11:28] george-silva commented on #1919
@garnertb that seems to be simpler! I'll use that approach!

[2015-01-15 14:08] collaer opened #1922 "Page explore Layers, missing edit data and edit style permission to layers"
In the  /layers/ page :

When editing permessions to the selected layers (button Set Permission), two options are missing : "edit data" and "edit style". This page is really usefull to set permission to several layers at once.

regards,

julien

[2015-01-15 14:45] state-hiu opened #1923 "CSP - Content Security Policy"
**Overview**
To mitigate against potential XSS, we should implement Content Security Policy (CSP) -- http://www.html5rocks.com/en/tutorials/security/content-security-policy/.  CSP allows servers to whitelist specific origins where scripts can be loaded via response headers.  CSP is supported by our target browsers (http://caniuse.com/contentsecuritypolicy), but only version 1 (there is a second ve

[2015-01-15 15:09] state-hiu opened #1924 "Proxy WFS behind Human-Readable URL"
To simplify integration with external discovery platforms, such as CKAN, we should enable a proxy endpoint for WFS requests behind a human-readable URL.  This will facilitate manual registration of GeoNode services in external systems.  Other systems could more easily detect the file format (based on the extension) without having to learn the WFS spec.  Automated harvesting should still use the no

[2015-01-15 16:32] ischneider commented on #1924
It seems like a redirect would work and be easier to implement?

[2015-01-16 08:29] #1838 closed

[2015-01-16 08:30] #1788 closed

[2015-01-16 08:31] simod commented on #1793
I can't replicate this one

[2015-01-16 08:36] #1509 closed

[2015-01-16 08:37] simod commented on #1425
should we tag this for 2.5?

[2015-01-16 11:50] garnertb commented on #1425
Yes, I think so.  I'll update it for now.

[2015-01-16 15:21] state-hiu commented on #1196
@simod, so is likely a GeoNode or GeoServer problem?

[2015-01-16 16:21] tomkralidis commented on #1412
Looks like there's a test in https://github.com/GeoNode/geonode/blob/master/geonode/layers/tests.py#L111

Basically when the WPS returns Exception, we pass and set attribute stat columns to `NA`.

Digging deeper, tracing this through shows that GeoServer WPS is throwing error:

[code]
Not sure what this means in the context of GeoServer.

[2015-01-16 16:50] ischneider commented on #1412
Heh, when comments are worthless:
https://github.com/GeoNode/geonode/blob/master/geonode/layers/tests.py#L113

[2015-01-16 17:21] garnertb commented on #1913
@jj0hns0n, I'm moving this feature request to 2.5.

[2015-01-16 17:36] garnertb commented on #1644
@vrubiella, is there any chance that you could provide a Vagrantfile that sets up a VM with your configuration so we help you?

[2015-01-16 19:17] nathanhilbert opened #1925 "Move binary files for paver win_deps to geonode.org"
These compiled python packages currently live in a non-geonode owned location for the windows install deps paver command.  It might be best to move them all to geonode.org to ensure availability and to better manage required changes to versions in the future.
    win_packages = {
        "PIL": "https://pypi.python.org/packages/2.7/P/Pillow/Pillow-2.5.1.win32-py2.7.exe",
        "Py2exe": "http://

[2015-01-16 19:19] tomkralidis commented on #1412
from irc:

[code]

[2015-01-16 19:29] nathanhilbert commented on #1383
Responded on [geonode users google group](https://groups.google.com/forum/#!searchin/geonode-users/ascii/geonode-users/TvFIjqurUfg/wgVQIMhVzBAJ).  Sorry I didn't see it until now.
@ischneider would you mind merging the [PR for gsimporter](https://github.com/boundlessgeo/gsimporter/pull/2)? Thanks!

@george-silva with the exception of #1919, which seems to be fixed from 340d6e0db6eaffeca37685028fe2

[2015-01-16 22:38] state-hiu commented on #1634
Could we use md5 hashes of thumbnail byte array and store the hash with the model?

[2015-01-16 23:38] menegon opened #1926 "Metadata changes are not synchronized with GeoServer"
In some circumstances (i.e. layers imported through "updatelayers")  metadata changes (i.e. title, abstract) are not synchronized with GeoServer.

I think the problem is in geonode.geoserver.signals.geoserver_pre_save function. The layers, imported through "updatelayers", have no base_file defined (None) so the function "geoserver_pre_save" exits immediately without applying any effects.

GeoNode

[2015-01-17 10:05] capooti commented on #858
I can help as well here, during the sprint I can take care of it.

[2015-01-17 10:10] capooti commented on #518
+1 to close

[2015-01-17 10:11] capooti commented on #886
We did some work at this regard in our instance.
Maye I can try to integrate the work done.
Assigning it to myself.

[2015-01-17 10:17] capooti commented on #821
+1 to close it

[2015-01-17 10:30] capooti commented on #1828
is this a duplicate of #1462?

[2015-01-17 10:37] capooti commented on #1421
Also, let's make sure to avoid any duplication with https://github.com/GeoNode/geonode/wiki/GNIP-47--Predefined-Download-Service

[2015-01-17 10:43] capooti commented on #1890
we could add an "Edit data" link in the menu for this purpose.

[2015-01-17 10:46] capooti commented on #1621
no, I agree to tag it for 2.5.x milestone

[2015-01-17 10:48] capooti commented on #1766
I guess after documenting it we can close it?

[2015-01-17 17:01] bartvde commented on #858
thanks @capooti !

[2015-01-17 18:09] #518 closed

[2015-01-17 18:10] #821 closed

[2015-01-17 18:10] jj0hns0n commented on #1828
@capooti I think they are different but related. We should be able to close these together with a good fix during the sprint.

[2015-01-20 13:51] capooti commented on #1908
This was a bad surprise as we are using it quiet extensively and I just realized we lost quiet a lot of information. Thanks for reporting.
I am working on this today on master and will try to come out with a PR.
I then need to back port it to our 2.0 instance

[2015-01-20 16:55] JJediny opened #1929 "Change Uploader Permissions Default - to Anyone can View and Download"
The permissions menu should be changed to toggle on the checkbox to "Anyone" for View and Download. If and when users upload the default should be open and accessible. Currently without intervention it will restrict the layer to the uploading user in both cases
![2015-01-20 11_50_03-upload layer - geonode](https://cloud.githubusercontent.com/assets/6350035/5821539/eb0b2144-a09a-11e4-9dc0-7722b3b9e

[2015-01-20 17:06] state-hiu commented on #1929
I think this should be handled via a settings.py configuration so that different instances can have different default permissions.  GeoNode instances that act more like shared drives should probably have restricted default permissions.  Open Data GeoNode instances would have open permissions configured in settings.py

[2015-01-20 17:27] ischneider commented on #1929
I agree it should be configurable ideally.

For this and future settings changes (when it makes sense), can we implement things so it takes either a value (in this case, let's say `DEFAULT_PERMISSIONS_FORM_STATE`) or function (this this case, the function could take the current user) with kwargs to not break if/when things change?

So when it's being consumed (in the view), it would look like:
[co

[2015-01-20 19:18] george-silva commented on #1383
Hello Nathan,

Not that I remember. No errors.

On Fri, Jan 16, 2015 at 5:29 PM, Nathan Hilbert <notifications@github.com>
wrote:

--
George R. C. Silva
SIGMA Consultoria
----------------------------
http://www.consultoriasigma.com.br/

[2015-01-21 07:20] simod commented on #1929
+1

[2015-01-21 09:09] capooti commented on #1929
Agree, +1 here

On Wed, Jan 21, 2015 at 8:20 AM, Simone Dalmasso <notifications@github.com>
wrote:

--
Paolo Corti
Geospatial software developer
web: http://www.paolocorti.net
twitter: @capooti
skype: capooti

[2015-01-21 09:16] #1922 closed

[2015-01-21 15:57] #1908 closed

[2015-01-21 20:25] jj0hns0n opened #1931 "GNIP - Add OSM Import and Update Functionality using GeoGig"
# Overview/Background

Many GeoNode admins have expressed the desire to include OpenStreetMap data as layers in their GeoNodes so that their users can download country or region sized chunks of OSM in 'layers' that are familiar to them as GIS users. Sites like geofabrik provide this sort of functionality, but not for every country and only with a fixed and inflexible set of layers. Other OSM downl

[2015-01-22 10:02] mdlux opened #1932 "New remote services registration - Mapserver long name url not recognized"
Discussed in geonode-users.
A remote service url from mapserver:
http://maps.iguess.tudor.lu/cgi-bin/mapserv?map=/srv/mapserv/MapFiles/RO_localOWS_test.map
is not accepted as a valid input for registering a new remote service. Probably because of the question mark, probably after an attempt of appending ?request=GetCapabilities with another question mark.

[2015-01-22 11:24] tomkralidis commented on #1932
Note we could use `owslib.util.bind_url` here: https://github.com/geopython/OWSLib/blob/8145c7893d2ff7b3c8e69209908025884f47050d/owslib/util.py#L553

[2015-01-22 11:39] capooti commented on #1932
excellent.
I will need to work on remote services in the next days, maybe I can also fix this using the bind_url method.
Thanks @tomkralidis!

[2015-01-23 02:23] state-hiu commented on #1849
I am replicating this with the zipped shapefile from http://ebolageonode.org/layers/geonode%3Albr_heal_pt_unmeer_ccc.  I extract into component parts and add in the ISO metadata as .shp.xml.  A duplicate health entry is added to http://localhost:8000/admin/base/topiccategory/.  I think the error is here https://github.com/GeoNode/geonode/blob/master/geonode/layers/utils.py#L360.  Will hopefully ha

[2015-01-23 03:32] state-hiu opened #1934 "Layer Metadata View Requires Attribute Labels"
Most of the code in GeoNode coalesces attribute and attribute_label, such as at https://github.com/GeoNode/geonode/blob/master/geonode/layers/models.py#L383.  The attribute model accepts None for labels but not blank.  The cleaned_form returns blanks, though.  This disconnect should be resolved.

[2015-01-23 08:39] #1934 closed

[2015-01-23 08:46] #1849 closed

[2015-01-23 09:19] teamgeode commented on #1888
FYI : This bug only occurs on Chrome (IE and FF looks ok)

[2015-01-23 10:55] #1818 closed

[2015-01-23 12:14] vytj opened #1937 "2.4b10 fresh install/configure problems"
Hello,

Tried fresh install of GeoNode 2.4b10 on Ubuntu 14.04. Installation itself went without problems, but initial configuration failed:
  $ sudo geonode-updateip 127.0.0.1
  $ geonode createsuperuser
led to errors:

Replacing SITEURL in /etc/geonode/local_settings.py
Adding entry for local ip in /usr/share/geoserver/data/printing/config.yaml
Adding ALLOWED_HOSTS in /etc/geonode/local_settings.

[2015-01-23 12:23] collaer commented on #1937
Seems django-kombu is not installed, related with the initial celery integration maybe ?
@garnertb

[2015-01-23 12:25] garnertb commented on #1937
This is definitely related to celery integration as kombu is a dependency of the celery python package.  I'll look into this.

[2015-01-23 13:12] simod commented on #1937
A quick workaround is to do sudo pip install celery django-celery.

Il venerdì 23 gennaio 2015, Tyler Garner <notifications@github.com> ha
scritto:

--
Simone

[2015-01-23 13:20] vytj commented on #1937
Installed django-celery, got new errors:

$ sudo geonode-updateip 127.0.0.1
Replacing SITEURL in /etc/geonode/local_settings.py
Adding entry for local ip in /usr/share/geoserver/data/printing/config.yaml
  IP was already added to the printing whitelist.
Replacing ALLOWED_HOSTS in /etc/geonode/local_settings.py
Traceback (most recent call last):
  File "/usr/bin/django-admin", line 5, in <module>

[2015-01-23 13:38] simod commented on #1937
Apparently the installation process did not finish properly. Running geonode syncdb then geonode createsuperuser and geonode-updateip yourip should help. We'll try to fix it today.

[2015-01-23 13:48] garnertb opened #1938 "Add a 'modified' attribute to the resourcebase model."
Among other benefits, we could use this value to compare with an `IF-MODIFIED-SINCE` header from the client to conditionally process a lot of the GeoNode views.  Any reason we shouldn't do this?

[2015-01-23 13:57] simod commented on #1937
the b11 should be ready in one hour or so and should have a fix for this.

[2015-01-23 14:35] vytj commented on #1937
"geonode syncdb" created additional tables:

Creating table announcements_announcement
Creating table announcements_dismissal

You just installed Django's auth system, which means you don't have any superusers defined.
Would you like to create one now? (yes/no):

I chose "no", then ran createsuperuser and geonode-updateip.
Now i can see Geonode site and log in. However, /var/www/geonode/static fol

[2015-01-23 14:48] collaer commented on #1937
just a last "geonode collectstatic" maybe :)

[2015-01-23 14:54] vytj commented on #1937
That did the trick :) Thanks!

[2015-01-23 21:30] JamesLeonDufour commented on #1937
same problems fixed, but got a basic 500 internal server error ?

[2015-01-23 22:53] state-hiu opened #1939 "Document Downstream Projects"
Update http://geonode.readthedocs.org/en/latest/tutorials/devel/projects/projectsintro.html with new downstream projects and provide links.

[2015-01-24 01:32] state-hiu opened #1940 "Shadow DOM"
Explore use of the Shadow DOM (http://www.html5rocks.com/en/tutorials/webcomponents/shadowdom/) to encapsulate the map client.  This may assist with hot-swapping map clients and other custom integrations.

[2015-01-24 05:53] JJediny commented on #258
Related GNIP was proposed in Geonode 2015 Summit User Survey. Seems the underlying purpose is to provide a project-level categorization of all content unique to whatever project. Might be worth thinking about this differently; that instead of 'creating' portals to silo content that instead add the functionality to geonode_projects with a simple django app (controlled only in admin to add/manage co

[2015-01-24 06:37] JJediny commented on #1915
+1 on functionality, as this opens the door to alot of use cases:

* Appending geocoded data
* Integrating data from remote/external systems using standard export queries with manual & scheduled, or externally triggered event refresh
* Saving space by reusing geometry for multiple sets of attributes (Demographics being an obvious ex)

##Main concern###

The concern as @state-hiu mentioned would be

[2015-01-24 06:58] JJediny commented on #1421
-1 for vector data
+1 for raster data

While geoserver takes a hit the reality is traffic/demand is rarely an issue, and if a production geonode is seeing heavy use, taking the normal steps to scale the site (via clustering / DB isolation) will meet the demand. Shouldn't break or complicate what already works, for raster I agree that automating a download service for original raster file is needed

[2015-01-24 07:15] JJediny commented on #1931
Think this and other data import methods moving forward should be approached on the client side to distribute processing away from geonode server. OL3 now supports dynamic rendering of OSM-XML http://openlayers.org/en/v3.1.1/examples/vector-osm.html?q=OSM . OSM/GeoJSON/KML are some of the most common formats clients are likely to be comfortable/fimilar with. Hits on the bigger issue of how and if

[2015-01-24 08:08] gamesbook commented on #1931
The problem with moving all your importing to the client-side is that it
becomes much more difficult to built third-party front-end apps which
leverage GeoNode capabilities on the "back end" (which is the direction we
see things moving).  My personal take is that data ingestion/conversion is
a server-side responsibility.  If the core team does not want to take on
enhancing GeoNode to handle a gaji

[2015-01-24 09:08] JJediny commented on #1931
By no means speaking for the team and no doubt its a complex issue. But I think moving forward we need to separate the discussion of big bulk uploads to "Layers" in Geonode from smaller/dynamic types of data. Know I'm broadening this thread way beyond this ticket and OSM could be either type depending on the use; but my comment before was more geared to the later (small/dynamic), with other use-ca

[2015-01-24 10:51] vytj commented on #1937
In my case, i had fully updated fresh Ubuntu Server 14.04 64-bit install. To fix GeoNode, these commands were needed:

sudo pip install celery django-celery
sudo geonode syncdb
sudo geonode createsuperuser
sudo geonode-updateip <system IP>
sudo geonode collectstatic
(plus some entries in /var/geonode/local_settings.py to ALLOWED_HOSTS and PROXY_ALLOWED_HOSTS due to internal network specifics).

Th

[2015-01-24 18:47] JamesLeonDufour commented on #1937
Fixed needed to run

$ sudo pip install django-celery --upgrade

[2015-01-25 15:56] ischneider commented on #1938
Agreed adding the field is relatively simple but maintaining it and taking advantage of it are more difficult.

What views are you thinking of enabling this on?

If related to a page (versus a resource specific API response), consider all of the other related models on a page - directly or indirectly related - as well as other factors, such as authenticated status.

[2015-01-25 15:59] ischneider commented on #1940
What do mean by 'hot-swapping map clients'?

[2015-01-25 21:05] tomkralidis commented on #1938
This would also help the CSW `apiso:Modified`/`dct:modified` queryable mappings.

Note that `last_modified` already exists in `geonode.maps.models.Map` (https://github.com/GeoNode/geonode/blob/master/geonode/maps/models.py#L73), so if we were to introduce `last_modified` in `geonode.base.models.ResourceBase`, I would see this replacing the local one in maps.

[2015-01-26 06:12] JJediny commented on #1164
Any reason this is still open?

[2015-01-26 08:08] vytj commented on #1937
Confirmed with 2.4.b11, on fresh install still needed:
$ sudo pip install django-celery --upgrade

Otherwise, you get "500 Internal Server Error"

[2015-01-26 08:13] gamesbook commented on #1939
Would also be useful to add actual hyperlinks to those projects' websites.

[2015-01-26 08:22] gamesbook commented on #1931
@JJediny - that all makes sense.  We have also been looking at exactly the same issue of _"dynamically rendering a feature service directly to the canvas like with some xml based (kml/osm/georss/etc.) or json based data streams / small single files"_ but using OL3, not Leaflet.  If GeoNode, in some future version, moved to using OL3, I think it could be extended to handle this kind of use-case nat

[2015-01-26 08:45] simod commented on #1937
I saw that ubuntu 14.04 version of django-celery is 2.5.5 while we require the 3.1. So the option we have is to release a geonode-django-celery but I would prefer to avoid it. @garnertb any chance we can use the 2.5.5?

[2015-01-26 08:51] simod commented on #1937
update, the 2.5.5 seems to not be compatible with django 1.6

[2015-01-26 09:11] JJediny commented on #1931
@gamesbook - there are alot of ongoing discussions on the future map clients for Geonode 2.5+ ; think everyone sees the horizon for Geoexplorer which has served geonode well but is built on older since deprecated libraries. Seems like there are two obvious mapping libraries being played with in leaflet and OL3; but as far as a main mapping framework for geonode that could support modularization so

[2015-01-26 11:28] #1164 closed

[2015-01-26 13:55] JJediny commented on #1939
@state-hiu are you wanting to distinguish between all geonode "projects" or only those with significant customization / change in their code base from the current version of geonode but were derived from geonode at some point? If the former this seems redundant with the [Geonode.org's Sites Gallery](http://geonode.org/gallery/). If the later then +1, but besides updating the list think we should a

[2015-01-26 14:39] gamesbook commented on #1931
Yes; the Angularjs/OL3 combination is a solid one.

[2015-01-26 20:12] state-hiu commented on #1939
I was just thinking links to "projects" that use https://github.com/geonode/geonode-project, would be useful examples.  A tutorial is good, but it's also useful to just look around someone's working code.  No strong thoughts one way or the other.  Maybe we just delete the section and redirect to the gallery.  However, the gallery does not include links to GitHub repos.

[2015-01-26 20:57] JJediny commented on #1939
As this seems most useful to people being newly introduced to Geonode think it makes sense to update the sites gallery with new projects and in the process add a link to their repos as a encouraged but optional piece of info and possibly include some unique features as a bullet list below the description snippet... Think we should also consider more prominently featuring the gallery on Geonode.org

[2015-01-27 06:02] state-hiu opened #1947 "Geonode Internal Messaging App / Enhancements"
It would be nice to have the GeoNode messaging framework include some newer features found in email clients, such as starred messages, an autocomplete TO line (rather than dropdown), sent items, filter messages by from/to.

[2015-01-28 10:48] vytj opened #1951 "Show mouse position coordinates"
Hello,
Is there any way to display mouse position coordinates in layers and maps view?

[2015-01-28 11:08] simod commented on #1951
Hi, not easily as far as I know because this would require a new build of GeoExplorer with the OpenLayers tool.

[2015-01-28 11:14] vytj opened #1952 "2.4b11 Get Feature Info works only in maps"
Hello,
Get Feature Info tool in GeoNode 2.4b11 works only in maps - in layer view, window with results is not shown. Tested with Firefox 35.0 and IE 11.
Also, when loading specific layer view, Firebug shows these errors:
[code]

[2015-01-28 11:21] vytj commented on #1951
Any plans to implement this feature? Looks like it's done in https://github.com/GeoNode/django-geoexplorer

[2015-01-28 12:08] simod commented on #1952
Hi, the 405 error is the correct behavior. This looks the same issue as https://github.com/GeoNode/geonode/issues/1865, so closing this one

[2015-01-28 12:09] #1952 closed

[2015-01-28 12:10] simod commented on #1951
It's not really implemented in geoexplorer. We removed the js code that was putting it in the map client because was throwing errors. Not sure we will include it as the future of this mapping client is not defined yet.

[2015-01-28 15:18] vytj opened #1953 "2.4b11 importlayers additional options fails"
Hello,
Encountered permission issues while trying to upload layers from command line using *geonode importlayers*. GeoNode had 2 users - gnuser (default superuser) and T.User.

[code]
That's expected, because permissions for this folder are
drwxr-xr-x 2 www-data www-data 4096 Jan 28 11:53 layers

Running the same command as root and with options:
[code]
Leaving only keywords part:
[code]
Layer is

[2015-01-29 15:01] capooti commented on #889
I think I will need to work with this in the next days as we really need it urgently. Maybe in the sprint if I have time? So assigning it to me and set back to 2.4 milestone.

[2015-01-31 19:44] JJediny opened #1958 "GNIP: Create a New ‘Anonymous-Contributor’ Permission level in Core"
Currently visitors to a geonode site cannot contribute data without first becoming users. There are many instances when you’d want contributions from the “crowd” but not necessarily want the “crowd” to become your users. While the map client for this scenario is not currently available [for well-known  geonode compatible Map Clients (GeoExplorer/Maploom)] one could create a separate authentication

[2015-01-31 19:50] JJediny opened #1959 "Map Thumbnail Link: Change Default to "View" Map not “Detail”"
After reviewing traffic/flow through our public geonode site as well as sitting through introductions to the site first time or infrequent users will almost always click on the map thumbnailing expecting to see the “view” map fullscreen layout but will be turned away when they are taken to the details page without realizing the full geoexplorer "view" was an available option. Detail view is usuall

[2015-01-31 20:01] JJediny opened #1960 "Group Logo on Responsive Screen Change will Resize"
When window is re-sized and tabs swap from header to pull-down menu the image for group will not hold its dimensions. This example used SVG logo but regardless of the native resolution/dimension/format should be bounded to a consistent thumbnail size.
![geonodegroupissue](https://cloud.githubusercontent.com/assets/6350035/5989550/e60ed704-a959-11e4-83c8-ce4ac9c97d0a.jpeg)
![geonodegroupissue1](htt

[2015-01-31 20:12] JJediny opened #1961 "Allow users to edit User/Group/Remote-Service Slug name during creation & before initial save."
### For Remote Service

When registering multiple remote services (especially for WMS from ArcGIS Servers which will all register as "OGC WMS") allow users to overwrite the default remote service name before saving. By automating this a remote service with the same name will overwrite remote-service layers previously added

### For User and Group Slugs

Entering permissions is cumbersome having to

[2015-02-02 08:51] #1847 closed

[2015-02-02 09:14] capooti commented on #1932
working on this right now.

[2015-02-02 09:46] jj0hns0n commented on #1919
Can this now be closed?

[2015-02-02 09:58] george-silva commented on #1919
sure
Em 02/02/2015 07:46, "Jeffrey Johnson" <notifications@github.com> escreveu:

[2015-02-02 10:00] simod opened #1962 "Celery queued notifications break with celery 2.5.2 and django-celery 2.5.5"

[2015-02-02 10:43] simod commented on #1886
fixed by https://github.com/GeoNode/geonode/commit/7737d44d45f322240c33ef5930b790dc2e7f8648

[2015-02-02 10:43] #1886 closed

[2015-02-02 11:36] #1332 closed

[2015-02-02 11:58] capooti commented on #1962
we will create packages for latest celery and django-celery

[2015-02-02 11:58] #1962 closed

[2015-02-02 11:58] jj0hns0n opened #1965 "Rework "Edit Layer" Popover"
* [ ] Add a grid of icons
* [ ] The Edit Layer popover did not go away after clicking 'Edit Style'
* [ ] Move Edit Styles above Manage Styles
* [ ] Change "Manage Styles" to "Manage Available Styles"

https://github.com/GeoNode/geonode/issues/1795

[2015-02-02 11:59] #1795 closed

[2015-02-02 12:00] capooti commented on #1422
can we close this?

[2015-02-02 12:03] capooti commented on #1090
I am looking into this and see if we can close it or we need to put some effort in it.

[2015-02-02 12:08] collaer commented on #1759
verified with @jj0hns0n

root@vagrant-ubuntu-trusty-64:/# geonode importlayers setup/Bat_Deval.shp
[created] Layer for 'setup/Bat_Deval.shp' (1/1)

Finished processing 1 layers in 14.0 seconds.

1 Created layers
0 Updated layers
0 Skipped layers
0 Failed layers
14.000000 seconds per layer

[2015-02-02 12:10] jj0hns0n commented on #1759
This seems to work both when using python manage.py and also with the geonode alias when installed from packages.

(geonode)scylax:geonode ortelius$ python manage.py importlayers scratch/tl_2013_06_tract.shp
[02/Feb/2015 06:00:42] "GET /layers/acls HTTP/1.1" 200 82
[02/Feb/2015 06:00:45] "GET /layers/acls HTTP/1.1" 200 653
[created] Layer for 'scratch/tl_2013_06_tract.shp' (1/1)

Finished processi

[2015-02-02 12:14] jj0hns0n commented on #1759
@ingenieroariel ... closing, please reopen if you encounter this issue again.

[2015-02-02 12:14] #1759 closed

[2015-02-02 12:17] markiliffe commented on #1422
Yes. Will close.

[2015-02-02 12:17] #1422 closed

[2015-02-02 12:19] collaer opened #1966 "enconding problem in layer abstract field with accented chararcters"
Page cannot be displayed if an accented character is present into the abstract field.
Just edit metadata for a layer as :

![image](https://cloud.githubusercontent.com/assets/6357213/6000378/73c5fc06-aadd-11e4-8480-2a9461a1949a.png)

The abstract is correctly displayed in layer list
![image](https://cloud.githubusercontent.com/assets/6357213/6000391/a37aa3e8-aadd-11e4-998a-cfb4a0d0554f.png)

But t

[2015-02-02 12:20] markiliffe commented on #1140
Closing this.

[2015-02-02 12:20] #1140 closed

[2015-02-02 12:23] jj0hns0n commented on #1598
Verified to be working with @simod

[2015-02-02 12:23] #1598 closed

[2015-02-02 12:30] #1888 closed

[2015-02-02 12:31] capooti commented on #1966
taking care of this

[2015-02-02 14:14] collaer commented on #1966
same with maps and map description
![image](https://cloud.githubusercontent.com/assets/6357213/6001828/13dcbca6-aaee-11e4-86e9-95c760ce783b.png)
![image](https://cloud.githubusercontent.com/assets/6357213/6001839/28aefba8-aaee-11e4-80e0-598d988a4689.png)

[2015-02-02 14:18] markiliffe commented on #1099
The documentation is covered by: http://geonode.readthedocs.org/en/master/organizational/contribute/contribute_to_translation.html?highlight=i18n. The screenshots need to be updated.

[2015-02-02 14:27] capooti commented on #1966
it is a regression introduced by this PR: https://github.com/GeoNode/geonode/pull/1930/files#diff-aadb2492556667858a9abd91a23ef330R558
fixing it right now

[2015-02-02 14:38] #1966 closed

[2015-02-02 14:42] capooti commented on #917
I tried it right now on the original imaged (attached in my initial comment) and now with master works well.
+1 to close this

[2015-02-02 14:43] #1932 closed

[2015-02-02 14:44] #1901 closed

[2015-02-02 14:44] #1960 closed

[2015-02-02 14:44] #1090 closed

[2015-02-02 14:56] simod commented on #1634
the thumbnail urls are now obscured with the uuid, tagging to 2.5 for the full permissions framework maybe using the django-sendfile

[2015-02-02 15:06] jj0hns0n commented on #923
This was completed in https://github.com/GeoNode/geonode/commit/1e1969a73a4f98739bc2e05750d6089675d9eaf9

[2015-02-02 15:17] kalxas commented on #923
Thanks!

[2015-02-02 15:18] markiliffe commented on #1688
It now works. Closing the issue.

[2015-02-02 15:18] #1688 closed

[2015-02-02 15:21] #1773 closed

[2015-02-02 15:22] markiliffe commented on #1136
Closing this down.

[2015-02-02 15:22] #1136 closed

[2015-02-02 15:35] #765 closed

[2015-02-02 15:44] #1860 closed

[2015-02-02 16:02] nathanhilbert commented on #1919
I can verify that this can be closed.  Can the "Windows" label be added to this for others to find in the future?

[2015-02-02 16:04] garnertb commented on #1919
Closing, per @nathanhilbert's comments.

[2015-02-02 16:04] #1919 closed

[2015-02-02 16:16] nathanhilbert opened #1970 "Improve paver for windows"
Improved errors
------
If a user runs paver start --java_path="C:/something/java.exe", everything runs fine.  If the user does a crtl-c on the django dev server, it closes and returns to the prompt, but does not kill geoserver's java instance.  When user tries to do paver start --java_path="C:/something/java.exe" they get a permission denied to downloads/null.txt because the file is already open u

[2015-02-02 16:23] nathanhilbert commented on #1039
@jj0hns0n has there been any progress on this?  I was going to take a look using NSIS during the sprint.

Some thoughts around the stand-alone install.

 - I'll be working on one for a base production install using the script [here](https://bitbucket.org/nathanhilbert/geonodewininstall) the next few days.  I think a dev version would be a lot easier.
 - Boundlessgeo seems to have a good installer

[2015-02-02 16:29] capooti commented on #446
should we discuss this or can we postpone to future milestone?

[2015-02-02 16:51] capooti commented on #1607
I have tested it with the mapserver end point that was posted it in list a while back ago:
http://maps.iguess.tudor.lu/cgi-bin/mapserv?map=/srv/mapserv/MapFiles/RO_localOWS_test.map&SERVICE=WMS&REQUEST=GetCapabilities&version=1.3.0

Everything is working properly, specifically:
* layers are correctly registered
* layer title is correct and layer is visible in map
* it is possible to add other regi

[2015-02-02 17:03] vdeparday opened #1972 "Shapefile download should include the metadata as .xml and styles as .sld"
It requires two separate downloads to get the shp and xml and it is not possible to download the style without going through GeoServer

It would require either to add it in core GeoServer or to implement or to package on the Django side.

[2015-02-02 17:23] capooti commented on #1607
oh I figure out after some more testing.
It seems that under same circumstances the remote service disappear from the remote server list.
Looking into this tomorrow.

[2015-02-02 19:10] JJediny opened #1974 "Consolidate Documentation Tickets for 2015 Code Sprint"
Documentation tickets mostly revolve around gaps in content and coverage, to collaboratively develop content for these tickets we're consolidating all open tickets tagged with documentation here: https://docs.google.com/document/d/1LWspQeVlzw6t7XrfpglbbxSBMLu71u88_pAd-l6W0jM/edit?usp=sharing

For #1939 #1917 #1775 #1688 #1428 #1422 #1766 #1880 #1158 #1160 #1161 #1165 #1166 #1167 #1168 #1176 #1177

[2015-02-02 19:56] state-hiu commented on #1972
For GeoServer, I think we'd need to add some additional parameters.

http://docs.geoserver.org/latest/en/user/services/wfs/outputformats.html#wfs-outputformat-shapezip

[2015-02-02 21:17] JJediny commented on #1561
Adding to critical as there is currently no way to add layers from remote services... remote services are external to geoserver handling layers in geoexplorer, if remote services will be in this release it's critical to find a way to add remote services to map composer

[2015-02-02 21:31] tomkralidis commented on #1561
I think if we bring back `gxp_geocataloguesource`, given pycsw binds directly to the Django model, then this should bring us closer.

[2015-02-02 22:06] state-hiu opened #1975 "Profile Page Not displaying Profile Field"
User Profile field is not being displayed on the profile page.

https://github.com/GeoNode/geonode/blob/master/geonode/people/templates/people/profile_detail.html
https://github.com/GeoNode/geonode/blob/master/geonode/people/models.py#L48

[2015-02-02 23:25] #1803 closed

[2015-02-02 23:41] JJediny commented on #1972
Packaging a zip from three end points in 1. geoserver WFS (data) 2. geoserver REST (sld) 3. pyCSW (xml) Seems like a lot to resolve while only supporting shapefile. Think an interim solution would be to list the same available (data/metadata/style) downloads for the layer in the same download popup so user could atleast download all from same screen? Download Sld requires authentication

[2015-02-03 08:20] collaer commented on #1937
closed by #1962 (and beta 12) i think

[2015-02-03 08:21] menegon commented on #1753
I try to fix it

[2015-02-03 08:33] jj0hns0n commented on #446
This has been implemented starting with https://github.com/GeoNode/geonode/commit/bb850c2a1867520e3b8a7d5ed6f93908abf29fc8. Closing

[2015-02-03 08:33] #446 closed

[2015-02-03 08:37] jj0hns0n commented on #1039
@nathanhilbert not sure if there has been any progress. You should check in with someone like @bmmpxf who should be able to point you in the right direction.

[2015-02-03 09:07] #1842 closed

[2015-02-03 09:21] #1865 closed

[2015-02-03 09:28] jj0hns0n commented on #1905
@simod it seems you are right about this being an issue specific to this instance.

Is it possible to fix this so that the first entry is not automatically selected.

[2015-02-03 09:31] #1825 closed

[2015-02-03 09:33] jj0hns0n commented on #1793
This is working for us. Closing

[2015-02-03 09:33] #1793 closed

[2015-02-03 09:34] capooti commented on #446
I know, but I thought we are also trying to figure out a strategy for record values.

[2015-02-03 09:36] jj0hns0n commented on #1779
Here is a more complete stack trace. @bartvde any ideas on this one?

![developer_tools_-_http___localhost_8000_maps_17](https://cloud.githubusercontent.com/assets/506078/6017656/82b53610-ab90-11e4-9c58-cd6d51d7349f.png)

[2015-02-03 09:37] jj0hns0n commented on #1972
Partial Dupe of https://github.com/GeoNode/geonode/issues/1240

[2015-02-03 09:39] jj0hns0n commented on #1975
@ppasq can you take care of this one quickly?

[2015-02-03 09:49] #1953 closed

[2015-02-03 09:50] jj0hns0n commented on #1953
Note the correct syntax is without the =

A valid version of the command is as follows

python manage.py importlayers -v 3 --user jeff --keywords testing,at,sprint ~/.virtualenvs/geonode/lib/python2.7/site-packages/gisdata/data/good/vector/

[2015-02-03 09:50] jj0hns0n commented on #1926
@menegon lets discuss and look at this together today? Just grab me when you have time.

[2015-02-03 09:51] vdeparday opened #1980 "Add Error and Traceback for failed upload in the upload sessions admin"
![image](https://cloud.githubusercontent.com/assets/1036189/6017863/81240054-ab92-11e4-8339-8cb037dd3f42.png)

[2015-02-03 09:51] jj0hns0n commented on #1889
@garnertb any update on this from

[2015-02-03 09:52] jj0hns0n commented on #1883
@tomkralidis Any chance you can look into this one?

[2015-02-03 09:52] ppasq opened #1981 "Add filters to people list page"
The people list page could have some filters such as groups and keywords

[2015-02-03 09:52] jj0hns0n commented on #1873
@menegon can we close this now that #1950 was merged. Guess we should test again on the latest packages?

[2015-02-03 09:53] jj0hns0n commented on #1861
@vdeparday can we look at this together today? I think we may need to file several issues around this basic problem.

[2015-02-03 09:53] jj0hns0n commented on #1798
@ingenieroariel any update on this?

[2015-02-03 09:55] jj0hns0n commented on #1787
@simod I also find no issue here. Should we just close this?

[2015-02-03 10:00] jj0hns0n commented on #1782
@al3mon I believe this must have been an issue with your installation as it works locally and on the demo server. Closing

[2015-02-03 10:00] #1782 closed

[2015-02-03 10:00] #1787 closed

[2015-02-03 10:01] daniviga opened #1982 "Users should not be able to edit other users profile"
This bug has been already fixed in the `2.0.x` branch, but it's still present in `master`.

1. Create an admin user "admin"
2. Create a unprivileged user "foo"
3. Login as "foo" and go to http://127.0.0.1:8000/people/profile/admin/
4. Change "admin" email and Save
5. "admin" email has been updated by "foo" (!!!)

See https://github.com/GeoNode/geonode/pull/1907. I'll open a PR on `master` asap

[2015-02-03 10:02] bartvde commented on #1779
would need to see the error in the debug version of GeoExplorer to make any sense out of it ;-)

Or ability to debug somewhere online?

[2015-02-03 10:02] simod commented on #1779
is just on map detail page.

[2015-02-03 10:03] simod commented on #1779
@bartvde http://demo.geonode.org/ is on line from today :)

[2015-02-03 10:08] bartvde commented on #1779
but no maps on there as yet @simod ?

[2015-02-03 10:12] daniviga commented on #1982
PR: https://github.com/GeoNode/geonode/pull/1984

[2015-02-03 10:15] jj0hns0n commented on #446
Lets discuss.

[2015-02-03 10:16] simod commented on #1779
@bartvde hem... we are redeploying the latest beta and you'll be able to upload layers in it shortly. :)

[2015-02-03 10:16] bartvde commented on #1779
okay let me know when you have something for me to look at

[2015-02-03 10:25] #1767 closed

[2015-02-03 10:29] #1961 closed

[2015-02-03 10:30] simod commented on #1961
the only thing that is not fixed is the lookup by email because the email is not mandatory.

[2015-02-03 10:31] jj0hns0n commented on #1686
@ingenieroariel can you provide more info about how to make this fail. I cant replicate on Mac

[2015-02-03 10:40] jj0hns0n commented on #1671
This now looks like it fails silently and the layer is not deleted.

[2015-02-03 10:57] jj0hns0n commented on #1671
@garnertb I may need some help with this one now that the layer delete is being handled by the task queue. This line is failing with a FailedRequestError https://github.com/GeoNode/geonode/blob/master/geonode/geoserver/helpers.py#L260 Which propagates back up to here https://github.com/GeoNode/geonode/blob/master/geonode/geoserver/signals.py#L34 Which ends up here https://github.com/GeoNode/geonod

[2015-02-03 11:14] jj0hns0n commented on #1656
We can do this via the GWC rest API. http://docs.geoserver.org/stable/en/user/geowebcache/rest/seed.html

@ischneider do you have any pointers on how to do this most efficiently? Seems like there may be some py code out there already vs just starting from scratch with python requests.

[2015-02-03 11:15] simod commented on #1905
sorry, closing as wontfix :)

[2015-02-03 11:15] #1905 closed

[2015-02-03 11:22] #1413 closed

[2015-02-03 11:22] garnertb commented on #1889
Hold.  Still pending boundlessgeo/gsconfig#90.

[2015-02-03 11:25] jj0hns0n commented on #1567
As far as I can tell this has been fixed. Closing.

[2015-02-03 11:25] #1567 closed

[2015-02-03 11:28] simod commented on #1377
I'm closing this one as in #1965 there are some more details

[2015-02-03 11:28] #1377 closed

[2015-02-03 11:31] jj0hns0n commented on #1462
@simod can we now close this?

[2015-02-03 11:31] jj0hns0n commented on #1828
@simod can we now close this?

[2015-02-03 11:45] jj0hns0n commented on #1916
Here is a screenshot. The locality field has a max length of 8 characters.

![geoexplorer_-_example_com](https://cloud.githubusercontent.com/assets/506078/6019592/8aaafa14-aba2-11e4-92c0-64622bef8d64.png)

@bartvde is there anyway to return a more specific error?

[2015-02-03 11:46] jj0hns0n commented on #1916
@garnertb guessing this is the same issue in MapLoom and not only in GeoExplorer

[2015-02-03 11:49] jj0hns0n commented on #1982
Can this now be closed? It looks to have been fixed (I just verified with latest master)

[2015-02-03 11:50] jj0hns0n commented on #1561
Removing critical. This is NOT a showstopping issue.

[2015-02-03 11:51] #1982 closed

[2015-02-03 11:54] jj0hns0n commented on #1317
@mwengren has this been resolved? I think the right approach may be to just forcibly remove all the existing links before saving?

[2015-02-03 11:56] #1462 closed

[2015-02-03 11:58] oware commented on #1415
verified and documentation is up to date http://docs.geonode.org/en/master/reference/security.html#security

[2015-02-03 11:58] capooti commented on #1567
could be a dupe of #1090  that should have been fixed

[2015-02-03 12:08] jj0hns0n commented on #1307
This is still an issue. The interface just stays stuck with the "Querying" popup.

![geoexplorer_-_example_com_and_geonode_ _ubuntu_ip-10-63-64-228____geonode_ _bash_ _199x48_and_qgis](https://cloud.githubusercontent.com/assets/506078/6019859/7c9dbee0-aba5-11e4-88c5-cc1ea6378751.png)

Looks like the error from geoserver is as follows.

<ows:ExceptionReport xmlns:ows="http://www.opengis.net/ows" xm

[2015-02-03 12:09] garnertb commented on #1671
@jj0hns0n, fixed in 433cf0108292bb163e7b58443f1dfcb6120f8ac8.  The exception will now propagate through the task.

[2015-02-03 12:11] jj0hns0n commented on #1305
The javascript is now served from /static/geonode/js/upload/main.js but Im guessing the time is not working. Closing this for now. We can reopen new issues related to uploading time issues.

[2015-02-03 12:11] #1305 closed

[2015-02-03 12:11] bartvde commented on #1307
The XML request does not validate but not sure why:

[code]

[2015-02-03 12:12] jj0hns0n commented on #1295
@vdeparday Im removing the bug label. Happy to look over this with you this week so we can close it.

[2015-02-03 12:13] bartvde commented on #1307
it seems underscores are not allowed at all?

[2015-02-03 12:14] jj0hns0n commented on #1294
@batje can you test this with the latest beta that includes the fix @ischneider mentioned.

[2015-02-03 12:15] jj0hns0n commented on #1279
@vdeparday lets look into this at the sprint this week and close if possible.

[2015-02-03 12:16] bartvde commented on #1307
yes as soon as you use an underscore, the XML request is invalid. Nothing much the client can do about this. I think this should be handled on validation of layer names in GeoServer instead? Or wherever you can intervene in GeoNode before the stuff gets published to GeoServer.

[2015-02-03 12:16] jj0hns0n commented on #1270
Im not sure this is still an issue. We should still make sure its truncated. @ppasq can you check into this?

[2015-02-03 12:21] bartvde commented on #1916
sure getting a more specific error in the dialogue should be possible @jj0hns0n

[2015-02-03 12:22] tomkralidis commented on #1883
@vesnikos is there a usecase/workflow I can follow to reproduce the issue?

[2015-02-03 12:23] bartvde commented on #1916
@jj0hns0n it would help if you could debug in this function (this is part of ```src/script/plugins/FeatureEditor.js``` in GXP):

I had expect the message to be in there already because of: ```gxp.util.getOGCExceptionText(response.exceptionReport);```

[code]

[2015-02-03 12:24] bartvde commented on #1916
Also I'd be interested to see what GeoServer actually returns in the error message (use the XHR tab in the browser to find out)

[2015-02-03 12:33] garnertb commented on #1916
@jj0hns0n, MapLoom uses the DescribeFeatureType request to restrict input to the length of the field.

[2015-02-03 12:36] bartvde commented on #1916
which is what GeoExt also does, so not sure what's actually going on here:

https://github.com/geoext/geoext/blob/master/lib/GeoExt/widgets/form.js#L201

[2015-02-03 12:58] daniviga commented on #1982
Thanks!

[2015-02-03 13:10] jj0hns0n commented on #1201
@vdeparday can you provide more information on how to replicate this one? I've tried a few different things and am unable to replicate it. This may have been fixed long ago.

[2015-02-03 13:13] jj0hns0n commented on #1199
@ingenieroariel its not clear to me if this was already fixed or not? If not, its probably something I can work on.

[2015-02-03 13:25] jj0hns0n commented on #1196
I've just verified that this is still an issue. Adding keywords on the geonode side does NOT save them to the geoserver side. I'll take on trying to solve this.

[2015-02-03 13:31] #1671 closed

[2015-02-03 13:36] jj0hns0n commented on #1196
@simod is correct, they do seem to show up after a forced second save. We are investigating.

[2015-02-03 13:37] #1898 closed

[2015-02-03 13:39] #1341 closed

[2015-02-03 13:48] simod commented on #1779
@bartvde http://demo.geonode.org/maps/2 ^^

[2015-02-03 13:53] bartvde commented on #1779
just a quick question, how do you expect this to work when you pass in an empty string for the print service?

printService: "",

[2015-02-03 14:02] simod commented on #1779
@bartvde ....we apologize...we realized that the template used for map detail did not have the print service configured. Thanks for your time :)

[2015-02-03 14:02] bartvde commented on #1779
np :-)

[2015-02-03 14:03] #1779 closed

[2015-02-03 14:03] garnertb commented on #1856
I updated the invite user form: https://github.com/GeoNode/geonode-user-accounts/commit/f29cbab542735ddf560a23b463c6bee51d96bc45.

Still need to push the new version to PyPI and bump the dependency in setup.py before closing this.

[2015-02-03 14:25] capooti commented on #1856
excellent.
Can you do it or would you like me to do? cheers

[2015-02-03 14:26] jj0hns0n commented on #1415
@ingenieroariel can you verify this since you opened the ticket and then close. Thanks for the review @oware

[2015-02-03 14:27] garnertb commented on #1856
I can if I can get perms on the `geonode-user-accounts` package on PyPI.

[2015-02-03 14:29] jj0hns0n commented on #1307
Its actually the spaces that cause problems and not the underscores.
@ingenieroariel, do you have any ideas on how we could sanitize field names
before uploading to geoserver.

On Tue, Feb 3, 2015 at 1:16 PM, Bart van den Eijnden <
notifications@github.com> wrote:

[2015-02-03 14:31] jj0hns0n commented on #1671
@garnertb. Did we actually test that the error is caught and returned to
the user or just that it now propagates?

On Tue, Feb 3, 2015 at 2:31 PM, Tyler Garner <notifications@github.com>
wrote:

[2015-02-03 14:32] garnertb commented on #1671
I tested both.

[2015-02-03 14:34] #1196 closed

[2015-02-03 14:36] jj0hns0n commented on #1195
Moving this to 2.5 as its an edge case.

[2015-02-03 14:42] garnertb commented on #1975
@ppasq, @jj0hns0n - I can work this one.

[2015-02-03 14:44] capooti commented on #1856
sure, I will assign you as a maintainer. Which is your pypi username?

On Tue, Feb 3, 2015 at 3:27 PM, Tyler Garner <notifications@github.com>
wrote:

--
Paolo Corti
Geospatial software developer
web: http://www.paolocorti.net
twitter: @capooti
skype: capooti

[2015-02-03 14:45] garnertb commented on #1856
Its **garnertb**, thanks!

[2015-02-03 14:49] capooti commented on #1856
done it

On Tue, Feb 3, 2015 at 3:45 PM, Tyler Garner <notifications@github.com>
wrote:

--
Paolo Corti
Geospatial software developer
web: http://www.paolocorti.net
twitter: @capooti
skype: capooti

[2015-02-03 14:59] capooti commented on #1414
checking if I can still replicate and then see if there is an easy fix.

[2015-02-03 15:11] ischneider commented on #1656
I don't think there is any existing py library for this but the API looks simple enough to use - create a JSON object and POST to the correct endpoint.

[2015-02-03 15:13] lucageo opened #1990 "Cannot type into GeoExt boxes"
Dear all,

in order to modify a layer style I try to type something into the boxes but apparently there are some JavaScript errors, I suppose, and I am not allowed to write into the boxes (see the figure attached).
![image](https://cloud.githubusercontent.com/assets/10832462/6022765/8a9e3528-abbf-11e4-925f-3813ed0a018e.png)

Some of you already had this kind of problem?
Do you have an Idea?

Thank

[2015-02-03 15:25] simod commented on #1990
Hi which browser are you using? On chrome is working for me

[2015-02-03 15:26] lucageo commented on #1990
Both with chrome and firefox...

[2015-02-03 15:28] simod commented on #1990
any error from the browser console?

[2015-02-03 15:36] lucageo commented on #1990
I got the following errors:
![untitled-2](https://cloud.githubusercontent.com/assets/10832462/6023162/b97d042a-abc2-11e4-8765-780420b70987.jpg)

[2015-02-03 15:38] simod commented on #1990
We released a fix for this errors in these days, could you try to update your geonode and see if still happens?

[2015-02-03 15:44] ilpise commented on #1896
The model should be an image field instead of file field.

[2015-02-03 15:45] collaer commented on #1896
https://github.com/Geode/geonode/blob/master/geonode/groups/models.py#L33

[2015-02-03 15:51] lucageo commented on #1990
Thank you,
Do you have any suggestion regarding the procedure to update the software considering that it is installed on CentOS? Do I have to perform a full deploy?

[2015-02-03 15:53] simod commented on #1990
Ok I assume that you installed it manually pulling from github master right? in that case you just have to go back to your geonode folder where you did git clone and do a git pull origin master, then restart apache.

[2015-02-03 15:54] #1975 closed

[2015-02-03 15:56] vdeparday opened #1991 "Configure GeoServer allocated memory during the post install for the package"
On demo.geonode.org that is installed with the default package, Geoserver is too slow and it cannot save back styles when editing through geoxsp
To reproduce:
Try editing style of http://demo.geonode.org/layers/geonode%3Ars2_20150121_flood
And you get an error "Cannot get save style" because GeoServer is too slow to respond

[2015-02-03 15:59] lucageo commented on #1990
OK, thank! I'll try

[2015-02-03 16:01] #1414 closed, assigned to nobody

[2015-02-03 16:06] #1058 closed, assigned to ingenieroariel

[2015-02-03 16:17] #1856 closed, assigned to nobody

[2015-02-03 16:46] vdeparday opened #1994 "Login form does not remember username and password when "Remember Me" is checked"
version 2.4b2

To reproduce:
check the box "remember me"
enter username and password
log out
return to the login window and username and password are not remembered

[2015-02-03 16:53] #1607 closed, assigned to capooti

[2015-02-03 17:00] #1753 closed

[2015-02-03 17:09] capooti opened #1995 "Upload shapefile with invalid dbf hangs GeoServer forever"
The GeoNode user interface and Django process still continue to work and I get 200:

[03/Feb/2015 11:09:07] "GET /upload/progress HTTP/1.1" 200 17
[03/Feb/2015 11:09:10] "GET /upload/progress HTTP/1.1" 200 17
[03/Feb/2015 11:09:13] "GET /upload/progress HTTP/1.1" 200 17

but in GeoServer log:

2015-02-03 18:04:19,662 ERROR [data.shapefile] - The following locker still has a lock: read on file:/hom

[2015-02-03 17:21] ischneider commented on #1307
Minor adjustment:

If field name starts with a number, *prepend* '_'

In my experience, postgres/geoserver handles SQL names by escaping or quoting but there are potential edge cases.

Here is the existing (simple) implementation:

https://github.com/GeoNode/geonode/blob/master/geonode/upload/files.py#L142

[2015-02-03 19:14] d3netxer opened #1998 "Can we have Ubuntu installation notes?"
Can we have Ubuntu installation notes in README?

[2015-02-03 19:20] #1998 closed

[2015-02-03 19:53] nathanhilbert opened #1999 "GEOSversion not found for Windows"
There is some geos_c.dll and geos.dll confusion between django.contrib.gis and Shapely.  django.contrib.gis wants to use geos_c.dll, while Shapely wants to use geos.dll.  This was solved by checking for all in Shapely with this PR https://github.com/Toblerity/Shapely/pull/240.
Shapely version will need to be bumped when this PR is applied.

[2015-02-04 02:23] mwengren commented on #1317
@jj0hns0n oops, thought this was closed by my earlier commit.  Closing now, resolved.

[2015-02-04 02:23] #1317 closed

[2015-02-04 04:44] state-hiu opened #2001 "Jetty Dev Environment Upgrade"
We should upgrade the jetty runner to the latest version, 9.27.  We are currently using 8.18. See: https://github.com/GeoNode/geonode/blob/master/pavement.py#L72

Current
http://repo2.maven.org/maven2/org/mortbay/jetty/jetty-runner/

Stable Target
http://central.maven.org/maven2/org/eclipse/jetty/jetty-runner/

[2015-02-04 04:50] state-hiu opened #2002 "Fix PEP8 Violations in Pavement.py"
Fix the PEP8 violations in the [pavement.py](https://github.com/GeoNode/geonode/blob/master/pavement.py).

How to find PEP8 violations:
1. Install flake8: `pip install flake8` in your GeoNode virtual environment.
2. cd [geonode_root](https://github.com/GeoNode/geonode)
3. `flake8 pavement.py` (don't do `flake8 .` since that may search dependencies, etc.)
4.  Fix all identified issues as much as re

[2015-02-04 04:57] state-hiu commented on #940
See https://github.com/GeoNode/geonode/pull/1978.  You can now specify a custom url for the geoserver.war, including local with `file:///.../.../geoserver.war`.  Still think the long-term goal should be to move copies of deps to geonode.org as much as possible.

[2015-02-04 05:53] state-hiu commented on #1817
It's not working for JPEG documents, too.  Should image documents (JPEG, PNG, GIF, etc.) even need a separate thumbnail.  Maybe, but we should have a workaround to just display the raw image for now.  The resulting div is the following.

[code]

[2015-02-04 06:43] vesnikos commented on #1883
on sudo geonode-updateip the metadata links of a layer on geoserver should change to reflect the change. They dont.

Testest on  2.4b7.

![gs-metadatalink](https://cloud.githubusercontent.com/assets/6684178/6036152/5d336538-ac49-11e4-9989-0a0e08df3f84.PNG)

[2015-02-04 08:13] simod commented on #1817
My only concern is that if the raw image is big then the thumbnail will be very heavy and the page will be very slow to load.

[2015-02-04 08:21] simod commented on #1929
fixed

[2015-02-04 08:21] #1929 closed

[2015-02-04 08:36] capooti commented on #1307
yes I meant that, prepend to it, sorry
I will use your implementation, thanks

On Tue, Feb 3, 2015 at 6:21 PM, Ian Schneider <notifications@github.com>
wrote:

--
Paolo Corti
Geospatial software developer
web: http://www.paolocorti.net
twitter: @capooti
skype: capooti

[2015-02-04 08:40] #1965 closed

[2015-02-04 08:45] #1821 closed

[2015-02-04 09:01] vdeparday opened #2005 "Email address should be required to create a new user and for admin user"
It will be much nicer to really take advantage of the fact that GeoNode should be a social platform too where you can enquire about metadata or ask the data owner some more details through the message system.

[2015-02-04 09:26] jj0hns0n commented on #1994
@vdeparday this is really a question of what design pattern is being applied here. What the remember me option does currently is to keep you logged in even after you close your browser and reopen. It does not remember your username and password. There are discussions about this (google "remember me" design pattern). I think we can add support for actually remembering the username and password, but

[2015-02-04 09:29] vdeparday opened #2006 "Layer icon is broken on IE 9"
![image](https://cloud.githubusercontent.com/assets/1036189/6037876/2ea049a2-ac26-11e4-9bdf-98f2d173733b.png)

[2015-02-04 09:34] capooti commented on #2002
you can use flak8 geonode before every commit, so you can make sure that all python files will be pep8 compliant
same is done by our Travis script, by the way

[2015-02-04 09:37] capooti commented on #1883
I am looking into this right now, because I remember we fixed it at some point but I could be wrong

[2015-02-04 09:40] vdeparday opened #2008 "Drag and Drop files in the uploader is not working in IE9"
To reproduce:
open the upload form, try drag and dropping a shapefile, IE prompt to download the files instead of adding the files to the upload list.

[2015-02-04 09:46] vdeparday opened #2009 "Cannot upload files in IE9"
When clicking on browse, the user can select only one file (not several files) and even when trying to pick files one by one, because when selecting the first file and clicking ok, it does not get picked up by the UI.

![image](https://cloud.githubusercontent.com/assets/1036189/6038172/d5c737ca-ac28-11e4-94a4-62261283344c.png)

[2015-02-04 10:07] capooti commented on #1883
after some investigation, it looks like the GeoServer link are not generated at all after an upload, therefore I am afraid we have some regressions here.
Another problem is that the GeoNode links must be updated as well.
Trying to fix both.

[2015-02-04 10:07] ndufrane commented on #2002
I am looking into it

[2015-02-04 10:11] vdeparday opened #2010 "Detect browser type (IE) and warn users that their browser is not fully supported"
We should create a ribbon at the top that warns the user that their browser is not fully supported and they advise them to use another more modern browser if possible.

Related to #1885

[2015-02-04 10:11] jj0hns0n commented on #783
Moving to 2.5

[2015-02-04 10:11] capooti commented on #1883
oh it looks the metadata links are correctly generated after the first metadata save and not during the initial upload.
This looks ok to me so forget first part of my last comment.

[2015-02-04 10:20] capooti commented on #1883
just figured out that @simod and @menegon are working on the related #1926 therefore I am waiting for their PR before doing anything here

[2015-02-04 10:23] jj0hns0n opened #2011 "The style editor in the layer detail page should be disabled if not logged in"
If the user is not logged in, the style editor should be completely disabled since they cant actually save the styles. What happens now is an error is thrown when the app tries to save the style. It would be much better to just not allow the user to try to edit the style (as on the map detail page) or prompt them to login (as in the map composer / geoexplorer)

![san_andres_y_providencia_water_ _e

[2015-02-04 10:29] bartvde commented on #2011
The styler component already needs the roles: ["ROLE_ADMINISTRATOR"] to be set.

Can you point me to the code of this page in github?

[2015-02-04 11:01] jj0hns0n commented on #1861
This cant be reproduced as described, so we are closing and will continue investigating style issues and file separately.

[2015-02-04 11:01] #1861 closed

[2015-02-04 11:05] collaer opened #2014 "syncdb, createsuperuser problem"
When you install a new geonode and use the syncdb command, the system ask you for creating a superuser.
If you do so, everything seems to work, but in fact the superser is not created.

[code]

you have to create a new superuser (with same name) just after.

[2015-02-04 11:37] simod opened #2015 "Remove geoserver_save signals and rely on something else"

[2015-02-04 11:38] #1926 closed

[2015-02-04 12:04] daniviga opened #2016 "List of metadata exports is empty in layer view"
The list of available metadata exports is empty in the layer page:

![screenshot from 2015-02-04 13 04 05](https://cloud.githubusercontent.com/assets/1818657/6040091/56de457a-ac6e-11e4-98cd-a1f038cef343.png)

Metadata are correctly set and displayed in the 'Edit metadata' form.

My GeoNode version is: 433cf0108292bb163e7b58443f1dfcb6120f8ac8

[2015-02-04 12:10] simod commented on #2016
seems to be working on demo, http://demo.geonode.org/layers/geonode%3Abat_deval

[2015-02-04 12:12] daniviga commented on #2016
I'm looking at the server logs but I don't see any error. Which version is running on the demo website?

[2015-02-04 12:15] simod commented on #2016
is beta17

[2015-02-04 12:24] garnertb commented on #2016
@daniviga, this can happen when you have a url for the CSW URL (https://github.com/GeoNode/geonode/blob/master/geonode/settings.py#L548) that does not match settings.SITEURL.  Make sure if you are overriding SITEURL in local_settings.py to update the CSW_URL value after.

Here is the code that plucks the Link if they don't match: https://github.com/GeoNode/geonode/blob/master/geonode/geoserver/sig

[2015-02-04 12:31] daniviga commented on #2016
Thanks @simod and @garnertb

My `SITEURL` in local_settings is set to my LXC IP:
[code]

I see that I have several links in the DB but none has type `metadata`:
[code]
So this filter returns an empty list: https://github.com/GeoNode/geonode/blob/master/geonode/base/models.py#L632

[2015-02-04 12:32] lucageo commented on #1990
Thank you simod, everything is working fine with the new version!

[2015-02-04 12:34] garnertb commented on #2016
You need to update the CSW_URL in `local_settings.py` (or in `settings.py` after the `local_settings.py` import).

[2015-02-04 12:43] daniviga commented on #2016
Thanks, it worked! Maybe it's a good idea to have the `CATALOGUE` setting in the `local_settings.py.sample` like you do for the `OGC_SERVER`.

[2015-02-04 12:43] #2016 closed

[2015-02-04 13:12] state-hiu commented on #2002
Yes, the reason pavement was never fixed was that it is in the root directory rather than in the `geonode` source subdirectory.

[2015-02-04 13:35] #2002 closed

[2015-02-04 13:35] simod commented on #1990
^^

[2015-02-04 13:35] #1990 closed

[2015-02-04 13:43] capooti opened #2019 "Uploader does not populate uploads and upload_files"
When uploading a new layer to GeoNode nothing is appended to these tables as it was yesterday

[2015-02-04 13:46] capooti commented on #1307
I need #2019 to be fixed before going to this.
Approach would be to check the layer and return an error in get_base_file in layers/models when finding column with bad names

[2015-02-04 13:57] capooti commented on #2016
I agree. Please add it and commit this.

On Wed, Feb 4, 2015 at 1:43 PM, Daniele Viganò <notifications@github.com>
wrote:

--
Paolo Corti
Geospatial software developer
web: http://www.paolocorti.net
twitter: @capooti
skype: capooti

[2015-02-04 13:58] #1814 closed

[2015-02-04 14:00] ppasq commented on #1814
Tested on Beta 17 and it doesn't happen anymore

[2015-02-04 14:01] capooti commented on #2002
ah sorry :)
got it, maybe you could update here to check this also in Travis:
https://github.com/GeoNode/geonode/blob/master/pavement.py#L474

On Wed, Feb 4, 2015 at 2:12 PM, Humanitarian Information Unit <
notifications@github.com> wrote:

--
Paolo Corti
Geospatial software developer
web: http://www.paolocorti.net
twitter: @capooti
skype: capooti

[2015-02-04 14:01] ndufrane opened #2020 "Unlock LayerEditing without specific datastore set"
Hi,

With the default local settings we have ogc_server_settings.DATASTORE set to blank. Witch is blocking the edit layer feature.

Putting anything but blank make the editing tool working again. So it seems that the test on DATASTORE is no more necessary.

[2015-02-04 14:11] jj0hns0n commented on #1870
@state-hiu Im not able to fully reproduce this. Emptying the cache via geoserver does seem to solve the problem. @garnertb will be working on https://github.com/GeoNode/geonode/issues/1656 and adding a task that will clear the cache. We should then do the following:

* [ ] Create an option in the Layer Detail Page to clear the cache for the layer
* [ ] Invoke the task in layer_style_manage https:/

[2015-02-04 14:13] nathanhilbert commented on #1970
Closed with PR #1996

[2015-02-04 14:13] #1970 closed

[2015-02-04 14:14] menegon commented on #1591
I try to fix this

[2015-02-04 14:16] capooti commented on #2019
closing it as I was checking the wrong tables :)
sorry for the noise

[2015-02-04 14:16] #2019 closed

[2015-02-04 14:18] jj0hns0n commented on #1889
If I'm not mistaken, @ingenieroariel created a new gsconfig package after @ischneider pulled this PR. @garnertb can you test and close if possible?

[2015-02-04 14:25] vdeparday opened #2022 "Layer search is no longer available in the GXP map viewer when adding a layer"
When adding a layer with the green + sign in the map viewer, there is the list of layers (can be several hundred) and there is no way to filter/search it:
![image](https://cloud.githubusercontent.com/assets/1036189/6042018/7b62df92-ac4f-11e4-9dd7-7e7937cb478a.png)

It seems like the search is still in the code but not enabled or not showing up
https://github.com/GeoNode/geonode/blob/master/geonode

[2015-02-04 14:27] jj0hns0n commented on #1873
Lets look at this with @afabiani tomorrow when he is at the sprint.

[2015-02-04 14:29] capooti opened #2023 "Do we still need the upload application?"
In case we don't need it anymore, we may consider to remove it as it can cause confusion, at least with me :laughing:

[2015-02-04 14:30] ingenieroariel opened #2024 "Map extent is not saved correctly"
The map extent should be calculated and saved based on the viewport extent and not based on the aggregated layers extent.

[2015-02-04 14:33] garnertb commented on #2023
Yes, the upload application uses the Geoserver Importer vs the Geoserver REST API to upload data.  We use it in GeoSHAPE (formerly ROGUE) to allow users to upload GeoGIG repositories and other file types that I don't think are supported by the REST API.  But I agree, trying to debug upload problems is very confusing with the two methods.

[2015-02-04 14:34] bartvde commented on #2022
looking at app.sources it doesn't seem like a search source is defined in the config?

[2015-02-04 14:37] bartvde commented on #2022
ah it actually there and named search will look a bit further

[2015-02-04 14:38] jj0hns0n commented on #1412
@afabiani is this something you could help us look at tomorrow?

[2015-02-04 14:39] vdeparday opened #2025 "Generate default layer thumbnail automatically"
As it stands a user has to manually generate the thumbnail for a layer by clicking on the "set thumbnail" button. This is not convenient especially when batch uploading layer.
A default thumbnail should be generated automatically.

[2015-02-04 14:40] afabiani commented on #1412
Sure ... at least I can try :)

[2015-02-04 14:42] #1374 closed

[2015-02-04 14:43] bartvde commented on #2022
@vdeparday can you try changing search: true to:

[code]

[2015-02-04 14:44] bartvde commented on #2022
So in this spot: https://github.com/GeoNode/geonode/blob/master/geonode/static/geonode/js/extjs/GeoNode-GeoExplorer.js#L439

[2015-02-04 15:03] garnertb commented on #1294
This can be fixed by adjusting the `RequestReadTimeout` in the Apache configuration. Without a pull request, I think the default settings are OK and this is up to the system administrator to fine-tune based on deployment limitations.

[2015-02-04 15:10] state-hiu commented on #1870
+1 to have a manual button to clear cache from layer detail page.  This is a good mitigation measure against future GN/GS/GWC sync issues.

[2015-02-04 15:11] garnertb commented on #1870
Ok, I probably won't get around to it until tomorrow, but I'm still happy to work it.

[2015-02-04 15:15] jj0hns0n commented on #2022
@bartvde that did the trick and enabled the widget again. The search API has changed dramatically since this last worked. Can you point us at where we set the Search API URL and what is the expected output format. We will need to figure out how to adapt to the new API.

[2015-02-04 15:18] bartvde commented on #2022
sure url is set here: https://github.com/GeoNode/geonode/blob/master/geonode/static/geonode/js/extjs/GeoNode-GeoExplorer.js#L451

[2015-02-04 15:19] bartvde commented on #2022
The protocol code is here: https://github.com/boundlessgeo/gxp/blob/master/src/script/plugins/GeoNodeCatalogueSource.js

[2015-02-04 15:22] vdeparday commented on #2011
It should be there: https://github.com/GeoNode/geonode/blob/master/geonode/layers/templates/layers/layer_geoext_map.html

[2015-02-04 15:26] bartvde commented on #2011
Can you guys check is using an array for authorizedRoles helps?

[code]

should be:

[code]

[2015-02-04 15:30] jj0hns0n commented on #1279
I cant replicate this now. I dont the see statistics calculated at all, but it certainly doesnt hang. Going to go ahead and close and look at the stats generation in other tickets including #1412

[2015-02-04 15:30] #1279 closed

[2015-02-04 15:31] jj0hns0n commented on #1294
Going to go ahead and close. @batje please re-open or file a new issue if you encounter this same issue again.

[2015-02-04 15:31] #1294 closed

[2015-02-04 15:32] #1270 closed

[2015-02-04 15:34] ptormene opened #2028 "Possibility to download/upload a layer and the corresponding metadata programmatically"
Downloading a layer and its metadata programmatically is not so straightforward, because it requires an additional server-side query on the DB to retrieve the url to be used to download the metadata xml.
The new `api/layers` is useful to list the available layers, although it would be good if it could contain more information such as, for instance, the url to get the metadata, and the keywords ass

[2015-02-04 15:35] jj0hns0n commented on #1270
Im going to go ahead and close this. @ingenieroariel now that we have these geoserver errors logged to the database, we should NEVER show these kind of errors to the user since they are completely useless to them. We should instead give them a nice message and tell them to contact the administrator when some sort of issue number or link or something that the admin can look up. Ill file a separate

[2015-02-04 15:36] jj0hns0n opened #2029 "NEVER show nasty GeoServer errors to the user"
We should NEVER show these kind of errors to the user since they are completely useless to them. We should instead give them a nice message and tell them to contact the administrator when some sort of issue number or link or something that the admin can look up. Ill file a separate issue for this.

![](https://camo.githubusercontent.com/54709729205aa02c2196ee3df045da42812f29ef/68747470733a2f2f662e

[2015-02-04 15:39] jj0hns0n commented on #2029
@ingenieroariel can you implement this using the error logging etc you implemented.

[2015-02-04 15:50] jj0hns0n commented on #1376
@benjwadams looks like you fixed this yourself? Going to go ahead and close.

https://github.com/GeoNode/geonode/commit/a37ccd7562f12324fb1a7d164dfff571c8566962

[2015-02-04 15:50] #1376 closed

[2015-02-04 15:51] nathanhilbert commented on #1999
This is solved by latest Shapely 1.5.6 version that is automatically installed with
[code]

[2015-02-04 15:51] #1999 closed

[2015-02-04 15:51] ingenieroariel commented on #2010
Fixed in https://github.com/GeoNode/geonode/commit/7dd349e1364f2e8d20d96bb759d53ac6bde76e16

[2015-02-04 15:51] #2010 closed

[2015-02-04 15:52] nathanhilbert commented on #1925
See PR #2030 for updated list of packages and the possibility that this won't be required in the future with the new Wheels.

[2015-02-04 15:52] ingenieroariel commented on #2029
Not really, we are getting this kind of error straight from OWSLib or gsconfig. Hiding this would mean hiding all the other more user friendly errors.

[2015-02-04 15:56] nathanhilbert commented on #1383
Please close this ticket.

[2015-02-04 16:21] ingenieroariel opened #2031 "Style editor not working on demo server"
On local developers machines, styling works fine. But it is not working on the packages version of GeoNode.

[2015-02-04 16:22] ingenieroariel commented on #1991
https://github.com/GeoNode/geonode/commit/cc8e35fd944e110efa61e8e8abaaad18aae66d37

Fixed

[2015-02-04 16:22] #1991 closed

[2015-02-04 16:27] jj0hns0n commented on #543
@bartvde sorry to keep bugging you about things. How hard is it for us to change the "Cancel" button to "Clear"

![geoexplorer_-_example_com_and_geonode_ _bash_ _125x44](https://cloud.githubusercontent.com/assets/506078/6044332/c8a6fb06-ac92-11e4-9e54-0af71f6a3402.png)

And to have the query button close the entire panel (Query and Table panels) vs just the Query one?

We have our own fork of both

[2015-02-04 16:34] ppasq commented on #1816
Tested on Beta 18 and the issue does not occur anymore.

[2015-02-04 16:34] #1816 closed

[2015-02-04 16:35] bartvde commented on #543
For the text you can change it here: https://github.com/boundlessgeo/gxp/blob/master/src/script/plugins/QueryForm.js#L64

or just set ```gxp.plugins.QueryForm.prototype.cancelButtonText = 'Clear';``` at the GeoNode level.

The other question I need to investigate a bit more.

[2015-02-04 16:48] vdeparday commented on #2011
I tried to change
[code]

[2015-02-04 17:04] ingenieroariel commented on #2031
Looked into this.

There is a PUT request happening at the start of the editing session. This put request is never returning, therefore, no other request are made and the style is not changed.

The endpoint that the style editor is trying to hit, is not directly a GeoServer endpoint, but a django based proxy.

In development editing works and there is no apache based proxy, but in production it do

[2015-02-04 17:07] #1491 closed

[2015-02-04 17:08] menegon commented on #1591
it works if we add a transaction.atomic decorator on account.views.SignupView.form_valid ( geonode-user-accounts).
just tested.

[2015-02-04 17:15] ingenieroariel commented on #1199
It is not fixed. This behavior still happens in beta18.

[2015-02-04 17:18] bartvde commented on #543
As for the second question, you can modify the code here:

https://github.com/boundlessgeo/gxp/blob/master/src/script/plugins/QueryForm.js#L145

and add this line:

[code]

[2015-02-04 17:19] ingenieroariel commented on #1240
Since GeoServer has a link to the CSW catalog, it could fetch the information and add it to the zip. The downside is that it would need to be accepted by the upstream geoserver community.

[2015-02-04 17:25] ingenieroariel commented on #1240
Many people at the sprint expressed interest in having something like this.

[2015-02-04 17:27] ingenieroariel commented on #1319
We should support zip files. This would be a blocker.

[2015-02-04 17:33] jj0hns0n commented on #1367
@JJediny can you have one of the CKAN dev folks look into this?

[2015-02-04 17:33] ingenieroariel commented on #1367
We need an example XML added to this issue. @batje can you provide one?
Punting to 2.5

[2015-02-04 17:35] tomkralidis commented on #1240
Sounds like we have both short term and long approaches.  Data without metadata is like a shapefile without a projection ;)

[2015-02-04 17:36] ingenieroariel commented on #1412
Also if we cannot make it work for 2.4, let's remove the table.

[2015-02-04 17:39] capooti opened #2035 "Display attribute label and description as default in attributes tab in detail page"
This in place of the statistics got from WPS, by default.
The admin may enable it by using the settings.

[2015-02-04 17:40] capooti commented on #2035
and moving #1412 to 2.5 milestone

[2015-02-04 17:40] ingenieroariel commented on #1798
The reason this is important is because even though GWC is enabled in some servers, the javascript client is requesting tiles that are not cached at all.

[2015-02-04 17:45] jj0hns0n opened #2036 "Batch upload stops when encountering an unsupported file"
I downloaded a batch of 6 shapefiles from a map in another geonode and tried to upload it to a new geonode. The README that is included is not a supported filetype and so the UI only showed the shapefile sets encountered before the README was encountered and just stopped there.

[2015-02-04 17:45] ingenieroariel commented on #362
Let's rename this ticket. If GeoNode does not handle well very big files, we should be returning a meaningful error to the user instead of 500 errors or  nothing.

[2015-02-04 17:46] ingenieroariel commented on #362
We need to define an upper limit for big files and reject the ones above that limit with a notice asking to contact the site administrator.

[2015-02-04 17:48] ingenieroariel opened #2037 "Change the label in the upload form to processing when upload is finished"
This will let users know that the file was uploaded successfully but is still being processed.

[2015-02-04 17:53] capooti commented on #1591
so you may come out with a PR?

[2015-02-04 17:54] ingenieroariel opened #2038 "Create a cache preseed button in the layer detail page"
To avoid performance issues.

[2015-02-04 17:55] ndufrane commented on #2011
Hi,
Maybe the solution is to not include the styler plugin if the user is not logged. We can make this in geo_header.html template

    {% if not map %} --> And logged
        config.viewerTools.splice(5, 0, {
            id: "styler",
            ptype: "gxp_styler",
            checked: true
        });
    {% endif %}

[2015-02-04 18:02] #1122 closed

[2015-02-04 18:03] ingenieroariel opened #2039 "Integrate geoserver authentication fixes"
*  [ ] This PR needs to be merged
https://github.com/GeoNode/geoserver-geonode-ext/pull/30
 *  [ ] A new geoserver-geonode-ext release needs to be made to dev.geonode.org
 *  [ ] A new geoserver-geonode needs to be created and put into launchpad.net

[2015-02-04 18:03] vdeparday commented on #362
I tried to upload the three shapefiles corals from here: http://www.iucnredlist.org/technical-documents/spatial-data

It took a long time locally but it worked.

It crashed GeoServer on demo.geonode.org but didn't give the error above.

[2015-02-04 18:04] ingenieroariel opened #2040 "Package and release geoserver-geonode with the latest stable"
2.6 at the time of writing.

[2015-02-04 18:07] vdeparday commented on #2038
I would be in favour of automating the generation of cache for sane default, especially once it is working with celery.
For instance, with the large files from #362 from http://www.iucnredlist.org/technical-documents/spatial-data, it takes up a very long time to display any data.

[2015-02-04 18:07] ingenieroariel commented on #1883
go for it @capooti

[2015-02-04 18:10] ingenieroariel commented on #1903
When a link to Geoserver's JIRA is added here, we can move to 2.5.x

[2015-02-04 18:14] bartvde commented on #2011
Yeah that solution should also work I think. Let me know if it doesn't work and I'll proceed with my investigation

[2015-02-04 18:15] ingenieroariel commented on #1916
@ndufrane will try to take a look at it

[2015-02-04 18:22] nathanhilbert commented on #1039
First dirty dev environment installer for Windows.
https://s3.amazonaws.com/geonodedeps/Geonode_Dev.exe
Requires Java to be installed.
Uses an isolated python environment by setting environment variables through batch files.
To dos include:
 - Verify that eggs are loading correctly when code is in the egg folder in site-packages.  Virtualenv has some special handlers that loads eggs.
 - Create ico

[2015-02-04 18:26] #2011 closed

[2015-02-04 18:37] ingenieroariel commented on #2001
@state-hiu if you can create a PR in time for 2.4 we'll merge it.

[2015-02-04 18:41] vdeparday commented on #2029
I think it should:
- send an automatic email to the admin with a link to the upload session
- have a user friendly message for the user mentioning that the admin has been warned and will get back in touch with him and include the email of the user so the admin can do the follow-up.

[2015-02-04 18:42] ingenieroariel commented on #1974
@JJediny could you create a unique ticket with check list with every single improvement that has to be done?

[2015-02-04 18:45] ingenieroariel opened #2042 "Core committers individual policy"
After discussion among the developers during the code sprint we think that the core developers should only be individuals and not organizations, for security. Can other core devs comment on this?

[2015-02-04 18:49] ingenieroariel commented on #1972
we should create a feature request to geoserver for an optional parameter to get the sld into the zip file.

[2015-02-04 18:56] #1937 closed

[2015-02-04 18:58] #1925 closed

[2015-02-04 19:43] JJediny commented on #2042
+1

[2015-02-04 20:47] ischneider commented on #1240
Unless something has changed, shapefile -> zip export is being done in the geoserver-geonode-ext:
https://github.com/GeoNode/geoserver-geonode-ext/blob/master/src/main/java/org/geonode/process/batchdownload/shp/ShapeZipWriter.java

[2015-02-04 20:49] garnertb commented on #2042
+1
On Feb 4, 2015 1:45 PM, "Ariel Núñez" <notifications@github.com> wrote:

[2015-02-04 20:52] tomkralidis commented on #2042
+1

[2015-02-04 20:55] alanswx opened #2044 "ISO XML template cache rendered before links created"
ISO XML metadata is missing geoserver download links because the XML ISO template that is rendered in catalogue_post_save happens before geoserver_post_save signal is called.

AJS - catalogue_post_save TOP of function
these are the links available at the catalogue call:
md link: Atom
md link: DIF
md link: Dublin Core
md link: ebRIM
md link: FGDC
md link: ISO
AJS geoserver_post_save

[2015-02-04 20:58] ischneider commented on #2039
Added a note to #30 - I don't think it's required and it's also dangerous.

[2015-02-04 21:00] ischneider commented on #362
From my experience, these type of errors can be transient and based upon other factors (other users doing stuff).

[2015-02-04 21:04] ischneider commented on #1972
As noted in #1240, I believe this is actually done in geoserver-geonode-ext:
https://github.com/GeoNode/geoserver-geonode-ext/blob/master/src/main/java/org/geonode/process/batchdownload/shp/ShapeZipWriter.java

[2015-02-05 00:00] state-hiu commented on #2044
I labelled this as critical.  This should be fixed in 2.4, but should not necessarily hold up the first 2.4 release candidate.

[2015-02-05 03:34] JJediny opened #2046 "Layer Upload error using 2.4b.19"
Getting the following error, used two tested shapefiles:
Internal Server Error: /layers/upload
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/django/core/handlers/base.py", line 112, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/usr/lib/python2.7/dist-packages/django/contrib/auth/decorators.py", line 22, in _wrappe

[2015-02-05 04:28] state-hiu commented on #2042
As this directly affects me, I don't think this decision should be made quickly.  Not theoretically opposed, but this would affect internal key management practices.  In the same discussion, we should consider other ways to better highlight institutional support for GeoNode.  The gallery at http://geonode.org/gallery/ is not the best user experience and the twitter account is not very active (http

[2015-02-05 06:24] batje commented on #1367
I think the XML would be
http://maps.data.ug/catalogue/csw?service=CSW&version=2.0.2&request=GetRecords&ElementSetName=full&typenames=csw:Record&resultType=results&startPosition=1&maxRecords=158

Search for the word 'Compairing'

Which will give you any of the two maps we have:
http://maps.data.ug/maps/

Or individually:
http://maps.data.ug/catalogue/csw?service=CSW&version=2.0.2&request=GetRecord

[2015-02-05 06:57] simod commented on #2046
Seems that you upgraded from an older beta. Just need to rebuild the db.

Il giovedì 5 febbraio 2015, John Jediny <notifications@github.com> ha
scritto:

--
Simone

[2015-02-05 07:32] gamesbook commented on #2042
+1

On 5 February 2015 at 06:28, Humanitarian Information Unit <
notifications@github.com> wrote:

[2015-02-05 08:06] simod commented on #2042
+1

2015-02-05 8:32 GMT+01:00 Derek Hohls <notifications@github.com>:

--
Simone

[2015-02-05 08:12] #2046 closed

[2015-02-05 08:44] ndufrane opened #2047 "Proxy fail to handle request with specifics characters (ç ü ù ...)"
The proxy return HTTP 500 code when the content of the request contains specifics characters.

![image](https://cloud.githubusercontent.com/assets/471217/6057184/757645f2-ad1b-11e4-9c24-8900d4b44f1e.png)

[2015-02-05 08:48] simod commented on #2044
This will for sure be fixed when we also fix this https://github.com/GeoNode/geonode/issues/2015, the issue is that the signals cannot be prioritized so it is difficult to fix with the current architecture

[2015-02-05 08:48] collaer opened #2048 "link to sld does not work with sld with differents names"
default point, for example, his geoserver name is not the same as the name in sld tag :

![image](https://cloud.githubusercontent.com/assets/6357213/6057133/c54ed59a-ad1a-11e4-841b-2533dc755f20.png)

if you try to follow the link from geonde for default point you'll be redirected to a bad url  :
![image](https://cloud.githubusercontent.com/assets/6357213/6057156/fedccc86-ad1a-11e4-8c9c-70dfdedbaad

[2015-02-05 08:52] collaer opened #2049 "saving style in the management style section with nothing broke the page"
if you save your layer with 0 style the page broke end like this with no avaible styles.

![image](https://cloud.githubusercontent.com/assets/6357213/6057264/9d12d994-ad1c-11e4-90cc-fa850aa7e4e1.png)

[2015-02-05 08:54] collaer opened #2050 "when updating style in manage style screen, you remove types for metadatas in geoserver"
example workflow to reproduce

1. for a point layer open the "edit layer" --> "style" --> "manage" option.
2. add a second style, the default one for your gemetry type (default_point), to your layer (in this case default point style) and select it as new default style.
3. select the new style as default style and save, the page go back to layer management section. You see the style with the
4. The

[2015-02-05 08:59] capooti commented on #1240
thanks @ischneider
then we will try to modify the java plugin, unless you are volunteering to fix this :)

[2015-02-05 09:06] vytj commented on #1953
Tested with 2.4b19 - import command works.
Should i open ticket to update documentation - it still displays old syntax (with "=")?

http://docs.geonode.org/en/latest/tutorials/admin/commands.html#commands
http://geonode.readthedocs.org/en/latest/tutorials/admin/commands.html
http://geonode.readthedocs.org/en/latest/tutorials/admin/data/importlayers.html

[2015-02-05 09:08] simod commented on #2044
I'm pushing a very ugly workaround for this. Could you check that is working now? I'm punting this issue to 2.5.

[2015-02-05 09:09] capooti commented on #2042
+1

On Thu, Feb 5, 2015 at 9:06 AM, Simone Dalmasso <notifications@github.com>
wrote:

--
Paolo Corti
Geospatial software developer
web: http://www.paolocorti.net
twitter: @capooti
skype: capooti

[2015-02-05 09:11] capooti commented on #2047
Labeling as critical bug for 2.4 milestone

[2015-02-05 09:19] simod commented on #2020
We have to enforce the editing only if using postgis. Any concurrent edits on shapefiles will break it.

[2015-02-05 09:35] #1307 closed

[2015-02-05 09:36] WorldFoodProgramme opened #2052 "Add users to groups during the "User Invitation" process"
If there is the need to add users to existing groups, it would be good to do it when an invitation is sent instead of reprocessing the user profile later.

[2015-02-05 09:58] #2020 closed

[2015-02-05 10:05] teamgeode commented on #2049
Error is here https://github.com/GeoNode/geonode/blob/master/geonode/geoserver/views.py#L212
No style is selected so we catch the exception but no style is transferred.

[2015-02-05 10:18] jj0hns0n commented on #1240
@ischneider Isnt this only used by the batch map download? I believe we are just using the normal shape zip wfs output format for a single layer.

[2015-02-05 10:21] jj0hns0n commented on #1953
Yeah, or better yet, send a PR against the docs.

On Thu, Feb 5, 2015 at 10:06 AM, Vytautas J <notifications@github.com>
wrote:

[2015-02-05 11:11] ppasq opened #2055 "Import selected layers only from a remote service"
Right now all the layers from a Remote Service are imported while it would be more efficient to list all the layers available and select the ones that actually are to be imported.

[2015-02-05 12:07] vdeparday opened #2058 "Add visualization of the attribute table in a tab on the layer details page"
In the like of Socrata and CKAN, we should display the attribute table in a tab in the layer detail page. We could use recline.js to do it easily.

[2015-02-05 12:44] daniviga commented on #2052
+1

[2015-02-05 14:37] vdeparday commented on #2022
I am trying to follow: http://docs.geonode.org/en/master/tutorials/devel/debug/geoexplorer.html to change and debug the GeoNodeCatalogueSource.js to adapt to the new Search api but https://github.com/GeoNode/suite/tree/geonode/geoexplorer no longer compiles because it seems to refer to http://repo.opengeo.org/

@ingenieroariel , how can I get past that?

''''
Downloading: http://dev.mapfish.org/ma

[2015-02-05 14:39] bartvde commented on #2022
try using repo.boundlessgeo.com instead

[2015-02-05 14:54] ischneider commented on #1240
@jj0hns0n I could be mistaken. It could be a means to implement the desired functionality, especially if the metadata for each layer is desired in the map download.

[2015-02-05 15:45] vdeparday commented on #2022
I just changed the reference repo.boundlessgeo.com in the pom.xml but I still get the same error:

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 2.913 s
[INFO] Finished at: 2015-02-05T16:44:00+01:00
[INFO] Final Memory: 10M/245M
[INFO] ----------

[2015-02-05 16:06] bartvde commented on #2022
I'm not sure the whole build process has actually changed in suite maybe pull in those changes?

[2015-02-05 16:34] simod commented on #1331
Overview
=======

We discussed this during the code sprint in Venice firstly by taking a look at the available solutions out there:

GeoExplorer
----------------
Based on Ext and OL2 is the current mapping client which is GeoNode is using since the beginning.

MapStore
------------
Created by GeoSolutions is based on a maintained and updated version of geoexplorer with many plugins

Maploom
------

[2015-02-05 16:49] #2031 closed

[2015-02-05 16:52] collaer opened #2060 "trying to fix column name when uploading a shp"
Now a check is performed and refusing shp with blank spaces into column names.
Should be better to try to fix them and replacing by underscores ?
do you agree ?

[2015-02-05 17:20] #1383 closed

[2015-02-05 17:22] ischneider commented on #2015
Heh, looked again recently at these functions and saw (in the docstring of `geoserver_post_save`)
`Save keywords to GeoServer`
And then looked at the next 320 lines of code that do all manner of things.

I've often wondered about a better approach since this has been problematic for some time. Even if it all worked correctly, doing work when a field that's not related to geoserver changes is a pro

[2015-02-05 18:07] garnertb commented on #2052
@capooti, should this be bumped to 2.5.x?

[2015-02-05 19:09] garnertb commented on #1656
@state-hiu, Can you confirm that this is a bug?  Below are my tests with the internal GWC.

1. Enable disk quota in Geoserver.
1. Upload layer geonode_cntry98.
1. Goto to `layers/geonode%3Acntry98` and scroll around start caching.
1. Check disk space on command line:
[code]
1.  Check disk space in Geoserver:
![screen shot 2015-02-05 at 2 00 46 pm](https://cloud.githubusercontent.com/assets/1141646

[2015-02-05 20:31] mwengren commented on #2044
@simod @alanswx the workaround gets the job done.  catalogue_post_save is executed twice, once before geoserver_post_save has generated the download links and once again after they've been added.  may not be pretty but works for the moment...

[2015-02-05 21:05] simod commented on #2044
Is not just not pretty, it's horrible. :-) we might deactivate the
catalogue_pre_save from catalogue though. For now.

Il giovedì 5 febbraio 2015, Micah Wengren <notifications@github.com> ha
scritto:

--
Simone

[2015-02-05 21:11] vdeparday commented on #2060
+1
I think we should sanitize them automatically and warn the user that they were sanitized and how, and give them a link to download the new one.

[2015-02-05 21:33] vdeparday commented on #1656
I am not sure for the replace layer but this is still a critical issue, especially in #1870 .
When using the managing style window to apply a different styles. If some tiles were cached with a previous styles, then the cache is not emptied and the new style is not applied. And worse, then it never get emptied even after re-changing the style with the style editor.

On @jj0hns0n computer, emptying

[2015-02-06 05:11] JJediny opened #2061 "Installation of 2.4b20 requires pyshp"
seems to require a new dependence in pyshp atleast in dev mode
`pip install pyshp`
w/ paver stop --> paver start solved it for me

----
## Traceback
python manage.py syncdb --noinput
Traceback (most recent call last):
  File "manage.py", line 28, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/lib/python2.7/dist-packages/django/core/management/__init__.py", line 399, in execute_fr

[2015-02-06 06:19] JJediny opened #2062 "GNIP: Support local storage of GeoJSON"
Indirectly related to the discussion of future map clients #1331. As Geonode moves beyond v2.4 there is an obvious want by many to also move beyond GeoExplorer. Regardless of the mapping library used to replace it (most likely OL3 and/or Leaflet) or the framework to bind data from geonode/geoserver, there has always been a common need to create or add informal/adhoc geospatial data (i.e. not first

[2015-02-06 09:15] simod commented on #2061
released b21, thanks!

[2015-02-06 09:15] #2061 closed

[2015-02-06 16:03] capooti commented on #2052
There are no schema changes, so we can event consider to include this in 2.4 if someone is working on it, but we must find a smart way not to add a geonode/groups dependency to our django-user-accounts fork, if in the long run we are willing to reconcile this with the upstream version.

[2015-02-06 16:08] capooti commented on #2058
+1
it would be a nice add

[2015-02-06 16:08] state-hiu commented on #1826
I'm going to close this issue.  Adding a spatial browse functionality or more advanced use of administrative hierarchies shoould be added to a new issue.

[2015-02-06 16:08] #1826 closed

[2015-02-06 16:09] capooti commented on #2055
this would be a very nice feature to have.
Will try to implement a very raw version in the next days.

[2015-02-06 17:56] vdeparday commented on #2055
+1, it would be very nice, for instance we have use cases where we would
want to only import hazard layers and not all layers.

On Fri, Feb 6, 2015 at 5:09 PM, Paolo Corti <notifications@github.com>
wrote:

[2015-02-06 18:10] tomkralidis commented on #1367
The XML looks okay and is inconsistent with the CKAN trace.  I think there are two issues here:

1./ We publish anything as a `dataset` type in the CSW per: https://github.com/GeoNode/geonode/blob/master/geonode/catalogue/templates/catalogue/full_metadata.xml#L12 .  So when a map gets published it's exposed as a dataset.  This is because there is no delineation for map in ISO `MD_ScopeCode` (see h

[2015-02-06 20:25] JJediny opened #2063 "Add SVG filetype to supported imgtypes by Default - Group Logos"
Since when does Geonode favor raster over vector? This was working in Dev mode per sprint and ticket was closed to address thumbnail size #1960, tested on demo.geonode.org.

[2015-02-06 22:59] JJediny opened #2064 "GNIP: Configure Remote Services as a GUI for using MapProxy (optional)"
The new feature of registering remote services is great, but there are some major limitations:
- Users can only register WMS services that support the Web Mercator projection
- Even if/when other remote WMS services can be "cascaded" and dynamically re-projected using Geoserver there are some major drawbacks:
  - Geoserver will eat up a ton of system resources to reproject on the fly, simultaneous

[2015-02-07 05:34] JJediny opened #2065 "Remote Services - Recreating Data from ArcGIS Servers"
# Feature Request

Now that we've integrated celery and remote service we could customize a ArcGIS vector data "emulator"; celery is an asynchrous task manager. There are two ways I've come across to extract vector data from a stock deployment of ArcGIS:
## Query the Geoservices REST API to return ESRI formatted JSON w/ its geometry.

All ArcGIS servers host features as objectid(s) all starting @

[2015-02-08 20:10] jj0hns0n commented on #2064
@jjediny lets work together to turn this into a more formal GNIP

[2015-02-08 20:13] jj0hns0n commented on #2042
+1

[2015-02-08 20:26] jj0hns0n commented on #1931
Thanks for the comments @JJediny and @gamesbook ... but I think the use case hasn't even been defined yet, so the discussion is entirely premature.

The functionality this proposed feature is intended to provide is something like what you see in this GeoNode http://www.masdap.mw/layers/ ... basically country or region sized chunks of OSM where the data has been mapped to layers and is then availab

[2015-02-09 11:05] ingenieroariel commented on #2042
@state-hiu, this highlights the issue we are trying to resolve, right
now I am not sure I am talking to Patrick or someone else, and I would
not trust anyone other than Patrick to be able to modify GeoNode. Put
another way, accounts owned by multiple users (in my org there are
thousands) are not compatible with the kind of meritocracy we expect
in Open Source projects.

I had not really thought ab

[2015-02-09 15:09] garnertb commented on #2040
In case it helps, we have already bumped the GeoSHAPE geoserver build to 2.6.  The GeoSHAPE geoserver build was originally based on the GeoNode geoserver build and the dependencies should be similar.

https://github.com/ROGUE-JCTD/rogue_geonode/blob/master/geoserver_ext/pom.xml

[2015-02-09 15:42] simod commented on #2050
will be fixed by this https://github.com/boundlessgeo/gsconfig/pull/92

[2015-02-09 16:45] donaldbales opened #2067 "Migrating Geonode 2.0 Application (Postgresql Table) data to Geonode 2.4"
I'm working on migrating data for John Jediny's nepanode.anl.gov site, which is Geonode 2.0, to a new site that will use the latest version Geonode 2.4.  From my perspective, there are three parts to this process:
1) Migrate Geonode 2.0's application data, typically found in Postgresql database "geonode", schema "geonode" to Geonode 2.4's application database "geonode", schema "public".
2) Migrate

[2015-02-09 17:22] vdeparday commented on #2022
@ndufrane, this is the ticket I was refering to as you mentioned that you have a working build of GeoExplorer

[2015-02-09 20:31] state-hiu commented on #2042
I fully agree that we should move to individual accounts for security.  I'm definitely supportive of efforts to bump up our security.

If we want to update our security posture, there are other steps we should take too, such as requiring two-factor authentication (easier with individual accounts rather than group accounts).  Individual accounts don't actually increase security that much if keys ar

[2015-02-10 07:44] simod commented on #2067
Hi @donaldbales thanks for reporting this, amazing work! I try to explain the reasons of al those changes here.

##Tables in 2.4 and not in 2.0.

The biggest changes at database level is regarding the permissions system, in 2.4 we have introduced a user based permission system based on django_guardian that allows us to define more granular permissions and users to define their own if needed. This

[2015-02-10 09:12] teamgeode opened #2070 "Layer name cannot be a style name already on Geoserver"
Uploading a layer with the same name that a style already in Geoserver make that layer used this style.

Use case:
* Rename a layer from your computer by the name “point”.
* Upload it by Geonode.

![style error](https://cloud.githubusercontent.com/assets/9469134/6124332/d84c3b60-b10c-11e4-8c8f-4036772e28f1.jpg)

(This is the same layer uploaded twice.)

Working on master.

[2015-02-10 18:24] #2024 closed

[2015-02-11 08:10] igor-chernikov opened #2073 "Can't create group with non-ascii title"
I tried to create group with russian characters in its title (e.g. "Группа"). I got the error:

    Internal Server Error: /groups/create/
    Traceback (most recent call last):
      File "D:\Python27\lib\site-packages\django\core\handlers\base.py", line 112, i
    n get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
      File "D:\Python27\lib\site-packages\

[2015-02-11 09:16] simod commented on #2073
Here's where the issue is https://github.com/GeoNode/geonode/blob/master/geonode/groups/forms.py#L37, django slugify only deals with acii characters. @ingenieroariel, we should add this dependency to solve this https://pypi.python.org/pypi/unicode-slugify. It doesn't seems be slugify package for ubuntu so we'll need to make one...

[2015-02-11 22:18] JJediny commented on #1766
just noticed [django-extensions] set of manage.py commands include `sync_media_s3` and sync_s3`. Could be useful if admin was interested enough to setup a cron job

[2015-02-12 08:25] capooti opened #2074 "Thumbnails are not generated for documents"
Just tested in my development environment and in the demo site.

[2015-02-12 09:54] #2074 closed

[2015-02-12 10:21] #2047 closed

[2015-02-12 10:23] simod commented on #2014
We should use the paver sync command instead of the syncdb. Anyway this is just for development as in production we recommend geonode createsuperuser and the sync is done automatically. I'd say that this is not blocking for a release and is a minor bug.

[2015-02-12 10:27] #1199 closed

[2015-02-12 10:46] #2050 closed

[2015-02-13 14:31] nathanhilbert commented on #1680
Not yet.  I should get to this in the next few weeks if @garnertb  hasn't already.

- [ ]  Logical reading order when style sheets were turned off
- [ ] Images and buttons do not have sufficient alternative text

[2015-02-13 14:33] garnertb commented on #1680
I'm not planning to work this.  Thanks for taking it, @nathanhilbert.

[2015-02-13 15:34] nathanhilbert opened #2075 "Add lxml back into paver win_install_deps"
I incorrectly removed lxml from the paver win_install_deps list as I thought the wheel was now available.  Pypi is still using the .exe, so it needs to be added back in.

[2015-02-13 22:10] JamesLeonDufour opened #2076 "Fresh install Ubuntu 14.04 - Geoserver-geonode problem - latest beta version."
While installing the latest beta version on Ubuntu 14.04, got this error message and didn't manage to fix it .

 * Starting Tomcat servlet engine tomcat7                                [fail]
dpkg: error processing package geoserver-geonode (--configure):
 subprocess installed post-installation script returned error exit status 1
dpkg: dependency problems prevent configuration of geonode:
 geonode

[2015-02-13 22:15] simod commented on #2076
@JamesLeonDufour thanks for reporting this. Is indeed weird, I will test it soon. Can you confirm that you installed GeoNode on a new machine?

[2015-02-13 22:35] JamesLeonDufour commented on #2076
Had the problem when upgrading from a 2.4b11 version, so tried on a new machine and had same problem. Thanks in advance.

[2015-02-17 13:05] nathanhilbert commented on #1039
Curious if anyone has any experience in standalone python installs or portable virtualenvs.  See notes below of my approaches so far.

For the Geonode_Dev_2.4.exe it installs a dev environment with a sort of standalone python install.  It is stable and you can give it a try.  I need a better way of dealing with python.  It currently does everything that we need except “pip uninstall” uninstalls fr

[2015-02-17 18:13] ingenieroariel commented on #1039
I have some experience in portable python envs. What shell are you using?
do we have an opportunity to use a custom shell for Django/GeoNode stuff
(since we want management commands to work and be able to use pip with the
right path). That approach would let us customize the path before launching
that shell and perhaps even use one that is friendly for unix users (cd,
cat, autocomplete, pipe suppo

[2015-02-17 18:14] ingenieroariel commented on #1039
Another question, have you looked into wheels instead of eggs to avoid eggs
pitfalls?

http://pythonwheels.com/

On Tue, Feb 17, 2015 at 1:12 PM, Ariel Nunez <ingenieroariel@gmail.com>
wrote:

[2015-02-17 20:05] nathanhilbert commented on #1039
Yeah started using Wheels: https://github.com/GeoNode/geonode/pull/2030 but realized that not every project has wheels https://github.com/GeoNode/geonode/issues/2075 in their pypi.

I forgot to mention another direction of initializing a fresh virtualenv and running through the script in a batch script during the Windows install.  This is probably the best option, but the most work for my use case

[2015-02-18 09:51] JamesLeonDufour commented on #2076
@simod Any update, I m a bit stuck right now.. :o(

[2015-02-18 10:08] simod commented on #2076
@JamesLeonDufour I installed GeoNode b22 yesterday on a fresh 14.04 machine and I had no issues. Everything went fine. Sorry but I can't replicate this.

[2015-02-18 10:22] JamesLeonDufour commented on #2076
Tried again on a new machine, and got the exact same problem.

Creating config file /etc/logrotate.d/tomcat7 with new version
 * Starting Tomcat servlet engine tomcat7                                [ OK ]
Processing triggers for ureadahead (0.100.0-16) ...
Setting up geoserver-geonode (2.0+201501230745) ...
 * Stopping Tomcat servlet engine tomcat7                                [ OK ]
 * Startin

[2015-02-18 10:40] simod commented on #2076
All correct, do you have any firewalls or something that could prevent connections?

[2015-02-18 10:43] JamesLeonDufour commented on #2076
I dont think so, i never had problems before, I'll check but it s on EC2 AWS amazon.

[2015-02-18 11:43] davekennewell commented on #2076
G'day James,

I'm not sure of the details of your error message, but it does sound like
something on the amazon end.

I had many similar messages using free-tier hardware, where processes would
time out before they had finished, simply because the little freetier cpu
couldn't run fast enough to get the job done.

If it helps, this works for me as of this evening:
Launch an m3.medium instance based

[2015-02-18 12:43] simod commented on #2076
I can confirm that on a t2.micro the installation breaks.  As @davekennewell says it could be related to poor performance machine. Thanks for reporting

[2015-02-18 13:48] JJediny commented on #2076
I can confirm that you need a minimum of an m3.medium... I've done a lot of research the best price point for performance is a c3.xlarge @~42 US cents/hr. Ideally c3.2xlarge at ~60c/hr as this tier includes the most important spec people forget about in throughput on the Internet latency/speed @1GB LAN

[2015-02-18 16:59] JamesLeonDufour commented on #2076
Thanks for the comment, I migrated on another hosting provider and I got another issue :o(

root@vps26298:~# geonode createsuperuser
Username: admin
Traceback (most recent call last):
  File "/usr/bin/django-admin", line 5, in <module>
    management.execute_from_command_line()
  File "/usr/lib/python2.7/dist-packages/django/core/management/__init__.py", line 399, in execute_from_command_line

[2015-02-20 07:09] simod commented on #1371
bumping to 2.5 as we don't have the external actor in 2.4.

[2015-02-20 07:10] simod opened #2079 "Add back the external actors support"
A first non working draft here https://github.com/simod/geonode/tree/issue-1371

[2015-02-20 08:56] #1325 closed

[2015-02-20 09:51] teamgeode opened #2080 "ogc_server_settings.LOG_FILE return None in development mode"
Working on master, I catch an error here https://github.com/GeoNode/geonode/blob/master/geonode/layers/views.py#L83 because the ogc_server_settings.LOG_FILE return None during the loading here https://github.com/GeoNode/geonode/blob/master/geonode/layers/views.py#L65

Don't know if it's normal because it's on master?

[code]

[2015-02-20 09:59] simod commented on #2080
@teamgeode weird, the LOG_FILE is defined here https://github.com/GeoNode/geonode/blob/master/geonode/settings.py#L518, Could you check in a shell that ogc_server_settings.LOG_FILE exists for you?
I neve experienced this error

[2015-02-20 10:17] simod commented on #1873
@jj0hns0n can we close this one?

[2015-02-20 10:21] teamgeode commented on #2080
The file exist on the folder
[code]
but the shell don't find the parameter:
[code]

[2015-02-20 10:27] simod commented on #2080
hm, how can we reproduce this error?

[2015-02-20 10:40] teamgeode commented on #2080
In a new instance try to put a print() after https://github.com/GeoNode/geonode/blob/master/geonode/layers/views.py#L65
[code]
[code]
In my case when I up the server I see this :
[code]

You can see
ogc_server_settings.LOG_FILE =
None

[2015-02-20 10:43] simod commented on #2080
It works for me, do you have the LOG_FILE parameter in the settings? or did you override the OGC_SERVER settings in local_settings.py omitting that entry?

[2015-02-20 10:54] teamgeode commented on #2080
Well yes the OGC_SERVER doesn't have the LOG_FILE entry https://github.com/GeoNode/geonode/blob/master/geonode/local_settings.py.sample#L23

And so yes during the paver setup, local_setting.py was create without it.

Can we add the entry in the sample file to corect that ?

[2015-02-20 11:15] teamgeode commented on #2080
Well that strange cause I recreate a instance and the local_setting was not created during the install … don’t know why this file come here early ;p

Thx again @simod.

[2015-02-20 11:15] #2080 closed

[2015-02-20 12:39] simod commented on #2080
Thanks for debugging, will fix that now :)

[2015-02-20 12:44] simod commented on #2080
https://github.com/GeoNode/geonode/commit/f2b6c80901e92b04cec731b56913ae12bd2af980

[2015-02-20 14:44] simod commented on #1889
Any updates on this? Can we close it?

[2015-02-20 14:58] simod commented on #1412
Do we have any updates on this?

[2015-02-20 15:00] simod commented on #2073
we can fix this one once https://github.com/GeoNode/geonode/pull/2081is merged because it brings in the unicode slugify

[2015-02-20 15:21] ndufrane opened #2082 "Map Layers are missing in the WMC definition"
Hi,

When i download the wmc definition of a map, the xml is generated correctly but without the layers defined in my map.

![image](https://cloud.githubusercontent.com/assets/471217/6288720/42668c7e-b91b-11e4-9c32-962cdb31ebae.png)

The problem seems located here https://github.com/GeoNode/geonode/blob/master/geonode/maps/templates/maps/wmc.xml#L44
and
https://github.com/GeoNode/geonode/blob/mast

[2015-02-20 16:33] tomkralidis commented on #1412
Nothing from my side, although I would guess it's something to do with signal handling.

[2015-02-20 21:13] tomkralidis commented on #2082
Thanks @ndufrane.  Fixed in master.

[2015-02-20 21:13] #2082 closed

[2015-02-22 02:37] JJediny opened #2083 "Deleting Announcement from Form View causes 500 Error"
![image](https://cloud.githubusercontent.com/assets/6350035/6317144/d0f032dc-ba11-11e4-9f8b-b2baa0c9fc2f.png)
Internal Server Error: /announcements/announcement/2/delete
 Traceback (most recent call last):
   File "/usr/lib/python2.7/dist-packages/django/core/handlers/wsgi.py", line 206, in __call__
     response = self.get_response(request)
   File "/usr/lib/python2.7/dist-packages/django/core/ha

[2015-02-23 10:08] #2073 closed

[2015-02-23 17:43] auvipy commented on #2040
django 1.8 is going to be a LTS so syncing geonode django codes with django 1.8/+ should also be on todo list

[2015-02-23 18:28] blewis commented on #2064
+1 this is a fantastic idea

[2015-02-23 19:54] ingenieroariel commented on #2040
Asif, we are already on another LTS (Ubuntu 14.04 LTS). I suspect Ubuntu
16.04 will ship with Django 1.8 LTS and I think that is the right time to
switch.

On Mon, Feb 23, 2015 at 12:43 PM, Asif Saifuddin Auvi <
notifications@github.com> wrote:

[2015-02-25 09:03] capooti opened #2085 "Layer download should be consistent with layer permissions"
If a user/group does not have the download_resourcebase permission for a layer, GeoNode will correctly prevent to download it only by not showing the download button.
Unluckily an astute user will still be able to download the datasets if he can figure out the GeoServer WFS link.

[2015-02-26 15:11] #2060 closed

[2015-02-27 10:24] gamesbook opened #2088 "Need unique constraint for GroupMember model"
The current GroupMember model definition has no 'unique together' constraint.  I found this when I was using code to create a set of groups & members.  I don't think it makes sense to allow a user to join a group twice.

Current:

[code]

 Suggested patch:

[code]

[2015-02-27 13:53] state-hiu commented on #2088
The following line at https://github.com/GeoNode/geonode/blob/master/geonode/groups/models.py#L137 should prevent users from being added twice from the user interface.

[code]

I've never used unique_together, so don't have any direct suggestions.

[2015-02-28 13:38] gamesbook commented on #2088
@state-hiu Thanks, that is useful.  I still think preserving uniqueness in the underlying model (and database table) is worthwhile - unique_together is a common idiom in Django.

[2015-02-28 13:52] garnertb commented on #2088
I agree @gamesbook, this constraint needs to be added to the model.

One question though:  Why are you including the role in the constraint?  That would still allow the user to be in the group twice, once as a member and once as a manager.

Can you submit a PR for this?

[2015-03-02 12:12] simod commented on #932
https://github.com/GeoNode/geonode/commit/664e0bdb39ddb55b407fcd522cfc8e0a164ff9c2

[2015-03-02 12:12] #932 closed

[2015-03-03 08:49] darabk opened #2090 "Ubuntu 14.04, Geonode 2.4b22 ==> 500 Internal Server Error"
After previouse success lunching geonode 2.01 on ubuntu 12.04 and making project for custom theming, for using latest version, jumped to 2.4, but some error appeared..
500 Internal Server Error !

after tracking changes from apache to new version 2.4, error steel exist.

from error.log of apache :

[Tue Mar 03 02:45:09.631507 2015] [:error] [pid 1299:tid 140148981966592] [remote 127.0.0.1:39424] m

[2015-03-03 08:54] simod commented on #2090
@darabk I'm sorry but you cannot upgrade geonode 2.0.1 stable to 2.4 beta at this stage of development.
Migrations will be available with the stable release.
We have a users mailing list also, which is better to get support geonode-users@lists.osgeo.org.

[2015-03-03 08:58] darabk commented on #2090
Dear simod,
I don't upgrade from 2.01 to 2.4..
I install new ubuntu 14.04 on a virtual machine an install geonode with apt-get method.

[2015-03-03 09:00] darabk commented on #2090
Dear simod,
I didn't upgrade from 2.01 to 2.4..
I installed new ubuntu 14.04 on a virtual machine an install geonode with
apt-get method.

On Tue, Mar 3, 2015 at 12:24 PM, Simone Dalmasso <notifications@github.com>
wrote:

[2015-03-03 09:01] simod commented on #2090
oh, sorry. I will test the installation today and will report back. Thanks for reporting this.

[2015-03-03 09:06] AgentJay opened #2091 "pycsw querying elementSetName=full"
Hello, this might be a bug, but this is also a support request.

I would like to add more fields to the metadata output in Pycsw when the full element set is queried. Currently I use the following request:

`/catalogue/csw?request=GetRecords&service=CSW&version=2.0.2&resultType=results&namespace=csw:http://www.opengis.net/cat/csw&maxRecords=1000&elementSetName=full&constraintLanguage=CQL_TEXT&cons

[2015-03-03 09:19] simod commented on #2090
Ok, I just installed a fresh 14.04 vm using those commands:
- sudo add-apt-repository ppa:geonode/testing
- sudo apt-get update
- sudo apt-get install geonode
- geonode createsuperuser
- sudo geonode-updateip localhost:8001 (I'm serving the vm through that port)

And everything works fine.
Ca you confirm that you used the same sequence of commands?

[2015-03-03 09:34] darabk commented on #2090
Thanks for replying..
I followed your steps too and difference is in step 5 for ip: 127.0.0.1
after all steps i succeed lunch genode 2.4b22,
but when installing geonode-project form django command and using
https://github.com/simod/geonode-project/tree/2.4, error 500 occurred.
Attention to changes on apache to new version 2.4, I used 'Require All Granted' beside previously Order allow,deny
Allow f

[2015-03-03 09:36] darabk commented on #2090
Thanks for replying..
I followed your steps too and difference is in step 5 for ip: 127.0.0.1
after all steps i succeed lunch genode 2.4b22,
but when installing geonode-project form django command and using
https://github.com/simod/geonode-project/tree/2.4, error 500 occurred.
Attention to changes on apache to new version 2.4, I used 'Require All Granted' beside previously Order allow,deny
Allow f

[2015-03-03 09:52] simod commented on #2090
ok so here is what I did after the previous commands:
- django-admin startproject my_geonode --template=https://github.com/GeoNode/geonode-project/archive/2.4.zip -epy,rst
- sudo pip install -e my_geonode
- sudo vi /etc/apache2/sites-enabled/geonode.conf
- changed the wsgi to WSGIScriptAlias / /home/vagrant/my_geonode/my_geonode/wsgi.py
- added <Directory "/home/vagrant/my_geonode/">
        Order

[2015-03-03 10:22] darabk commented on #2090
Dear Simod,
I followed these steps about 10-15 times from the first step,
[ I'm friend of Mehrdad Jef..(politecnico di torino-ITHACA) ]
and we exactly did these steps..
but before the last above steps, when test lunching geonode by localhost command in browser, got
500 Internal Server Error !
these steps for ubuntu 12.04 and geonode 2.01 are worked..OK , but not for new version of ubuntu and new g

[2015-03-03 10:26] simod commented on #2090
hm, this is strange. I'm wondering what can I do to reproduce it.

[2015-03-03 10:35] simod commented on #2090
can you give me the output of these commands?
- python
- import tastypie
- tastypie.__version__

[2015-03-03 10:40] darabk commented on #2090
dary@dar:~$ python
Python 2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'version'

[2015-03-03 10:41] simod commented on #2090
is:
[code]

[2015-03-03 10:43] darabk commented on #2090
dary@dar:~$ python
Python 2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

(0, 9, 15)

[2015-03-03 10:47] simod commented on #2090
so we have the correct same version of tastypie.

[2015-03-03 10:51] simod commented on #2090
your django version?

[code]

[2015-03-03 10:54] darabk commented on #2090
(1, 6, 1, 'final', 0)

[2015-03-03 11:00] simod commented on #2090
correct.
Let's try to debug the specific error. Try this:
[code]

[2015-03-03 11:04] darabk commented on #2090
Is it noticable or not, the ubuntu version is latest LTS 14.04.2
but not worked on Ubuntu 14.04.1 too..

after commands above:
dary@dar:~$ geonode shell
Python 2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.
(InteractiveConsole)

[2015-03-03 11:13] darabk commented on #2090
Do I have to replace User and username_field with something else? if Yes with what?

[2015-03-03 11:55] tomkralidis commented on #2091
@AgentJay try specifying `outputschema=http://www.isotc211.org/2005/gmd` in your URL?  e.g.:

`/catalogue/csw?request=GetRecords&service=CSW&version=2.0.2&resultType=results&maxRecords=1000&elementsetname=full&typenames=csw:Record&outputschema=http://www.isotc211.org/2005/gmd`

This should return the full record as stored in GeoNode (which uses ISO).  Asking for anything other than ISO with `eleme

[2015-03-03 12:19] simod commented on #2090
Did you get any errors? I don't see them and seems to work.

[2015-03-03 12:25] darabk commented on #2090
yes, still got Error :
500 Internal Server Error !

[2015-03-03 12:27] simod commented on #2090
I mean in the geonode shell, if you don't see any error there, then it works.
So the only other thing that I could imagine is something wrong with the installation. You confirm that the ubuntu was completely new and empty when you installed geonode?

[2015-03-03 12:30] darabk commented on #2090
yes, I did it for several times with different new systems
ubuntu 14.04.1 LTS
ubuntu 14.04.2 LTS
 and received the same error 500.

[2015-03-03 12:31] darabk commented on #2090
may i view your geonode.conf content file?

[2015-03-03 12:33] simod commented on #2090
[code]

I just modified the wsgi script alias and added the directory directive.

[2015-03-03 12:33] darabk commented on #2090
content of my error
------------
500 Internal Server Error !

The server encountered an internal error or misconfiguration and was unable to complete your request.

Please contact the server administrator at webmaster@localhost to inform them of the time this error occurred, and the actions you performed just before this error.

More information about this error may be available in the server erro

[2015-03-03 12:35] simod commented on #2090
I'm am suspecting a circular import in python. But dunno why it doesn't show up for me

[2015-03-03 12:44] darabk commented on #2090
I'd copied your geonode.conf content with mine and just change vargant to my user 'dary'
and still not worked..

[2015-03-03 12:56] simod commented on #2090
I'm testing again on a different vm

[2015-03-03 13:04] darabk commented on #2090
can I install geonode from first step and report you step by step ?

[2015-03-03 13:09] simod commented on #2090
can you come in IRC irc://irc.freenode.net/geonode?

[2015-03-03 13:14] darabk commented on #2090
I'm in IRC irc://irc.freenode.net/geonode with mibbit.com, correct?

[2015-03-03 13:15] simod commented on #2090
I don't see you, you can use https://kiwiirc.com/client choose freenode on the left, then type your name and #geonode as channel

[2015-03-03 13:17] darabk commented on #2090
yes, I'm connected with darab user

[2015-03-03 14:34] simod commented on #2090
closing as fixed

[2015-03-03 14:34] #2090 closed

[2015-03-04 11:48] gubuntu opened #2092 "geonode install in 12.04 in Docker fails"
I cannot get the Docker build in the repo to work so am trying a 'VM-like' install as per normal installation instructions.

I'm hitting this obstacle - geoserver-geonode not installing:

Setting up tomcat7 (7.0.26-1ubuntu1.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Deb

[2015-03-04 12:31] darabk commented on #2090
Dear Simod,
After renaming 'local_settings.py.sample' to 'local_settings.py' (inside my project), Erro 500 appeared again !
But after copying the file's content from original (/etc/geonode/) to template local_settings.py of my project, it's lunched perfectly.. is it OK or not?

[2015-03-04 12:33] simod commented on #2090
We will test why it throws that error. Anyway is ok but you don't need to do it since the original local_settings.py is still used by the geonode_project. So if the content of the fils is the same you can avoid to use the geonode_project local_settings

[2015-03-04 12:35] simod commented on #2090
Well, the error it's likely to be caused by the missing of this line in the OGC_SERVER https://github.com/GeoNode/geonode/blob/master/geonode/local_settings.py.sample#L37. Fixing.
Thanks for reporting

[2015-03-04 12:51] darabk commented on #2090
But still the Error occured..

On Wed, Mar 4, 2015 at 4:05 PM, Simone Dalmasso <notifications@github.com>
wrote:

[2015-03-04 13:38] darabk commented on #2090
after adding

import os
import geonode

in the first of file

and
'LOG_FILE':'/usr/share/geoserver/data/logs/geoserver.log',
in the OGC block

it's working..
is it OK !?

On Wed, Mar 4, 2015 at 4:21 PM, Dar K <arabkd@gmail.com> wrote:

[2015-03-04 13:42] darabk commented on #2090
after adding
  import os
  import geonode
in the first of file
and
  'LOG_FILE':'/usr/share/geoserver/data/logs/geoserver.log',
in the OGC block

it's working.. is it OK !?

[2015-03-04 13:48] simod commented on #2090
is ok. By the way I have remove the local_settings.py.sample from the
project as it is actually not strictly needed.

2015-03-04 14:42 GMT+01:00 darabk <notifications@github.com>:

--
Simone

[2015-03-04 15:06] darabk commented on #2090
After change the site_base.css for theming, it's not worked !

[2015-03-04 15:07] simod commented on #2090
@darabk you need to run collectstatic in order to see the changes. Please now switch to the geonode-users@lists.osgeo.org for the support :)

[2015-03-04 22:38] purpleplum opened #2093 "Error saving style back to server in IE"
I am using the current release version of geonode:  GeoNode version 2.0.1.
Geonode always gave "the error saving style back to the server" error in IE (version 11.0.9600.17420).    The same operation would work fine in CHROME logged in as the same user.
When I checked the geoserver log, I found the following error message:

           2015-03-04 22:24:36,848 ERROR [geoserver.rest] -
            ja

[2015-03-05 07:06] simod commented on #2093
Hi thanks for reporting this. I can't test on IE but we have to make sure that this issue does not show up in 2.4.

[2015-03-05 10:54] milafrerichs commented on #2092
Hello,

I might be able to help. Are you using the Dockerfile provided in this repo? Or are you suing a different file? If so is there a reason why you are not using the current one?
Is the error occurring on the build process?

mila

[2015-03-05 11:21] darabk commented on #2090
Thanks ..
I'v done collectstatic command, but it was not the problem..
because of in original css file .nav-logo block convert to .navbar-brand, and when I was trying to change logo, it wasn't work !

[2015-03-06 02:49] gubuntu commented on #2076
original issue here shows the same symptoms as #2092

[2015-03-06 08:46] gubuntu commented on #2092
Hi Mila. I've tried the Dockerfile in the repo and
1) I cannot get it to work (details below)
2) I need to set up a production instance of Geonode with Tomcat and Apache instead of Jetty and Django's internal server.

I would like to get both working (repo dev Docker + production Docker) and would be grateful for your assistance.

This is what happens when I run fig (or now, docker-compose) build:

[2015-03-06 17:57] milafrerichs commented on #2092
no you don't have to create a geoserver dir. it will be created here: https://github.com/GeoNode/geonode/blob/master/pavement.py#L96
what is the error when you don't create the geoserver dir?

[2015-03-07 03:07] gubuntu commented on #2092
It builds but does not come up:

Creating geonode_app_1...
Attaching to geonode_app_1
app_1 | ---> pavement.start
app_1 | ---> pavement.start_geoserver
app_1 | cd /geonode/geoserver/data
app_1 |
app_1 |
app_1 | Captured Task Output:
app_1 | ---------------------
app_1 |
app_1 | ---> pavement.start
app_1 | ---> pavement.start_geoserver
app_1 | cd /geonode/geoserver/data
app_1 | Traceback (most rece

[2015-03-09 17:48] state-hiu opened #2094 "Download Search Results (GeoNode API - CSV Serialization)"
We should add a CSV serializer to the GeoNode API for resourcebase objects.  Once implemented, this would allow users to download their search results.  We could add a `Download` button to the `[documents|layers|maps]_list` templates.  This will very useful for comparing data holdings with partners.

See relevant tastypie documentation at http://django-tastypie.readthedocs.org/en/v0.10.0/serializa

[2015-03-11 13:09] darabk opened #2095 "geonode 2.4: Error saving style in geoExplorer"
after installation of some extensions in geoserver (eg: oracle, sqlServer, arcSDE ,..), and add some layers with them,
When changing style in creating map or viewing layer, "there was an error saving the style back to the server" appeares.
please help..

[2015-03-11 15:26] simod commented on #2095
@darabk do you mind to use the mailing list geonode-users@lists.opengeo.org to ask for support. This doesn't seems (yet) to be a bug.  Thanks!

[2015-03-11 15:26] #2095 closed

[2015-03-12 13:39] capooti commented on #2093
Today I wanted to test this. Unluckily here at my office they have IE 8 as the supported one (if I am not wrong), and I cannot even reach the layer details page. This is how it looks the layers list page :(

![geonode_dont_like_explorer](https://cloud.githubusercontent.com/assets/148380/6618761/84de424a-c8c5-11e4-9838-f55f3656bacc.png)

[2015-03-12 13:42] capooti commented on #1903
+1 to create the ticket in GS JIRA and move this to 2.5.x. Should I file it (after checking if the ticket is not already there)?

[2015-03-12 13:58] capooti commented on #1889
I wanted to test this but I am experiencing a different behavior of updatelayers from the past, so please forgive me If I now go off topic.
I created a cascaded layer from another GeoServer instance, and I can correctly access the layer in the GeoServer preview.
When running the updatelayers command now the layer is skipped (with 2.0 it would have been instead registered in GeoNode). Should I file

[2015-03-12 14:06] capooti commented on #1412
while the problem may be still there (I did not test it), now we have WPS_ENABLED set to False by default, and the attribute information will only display the name, alias and description of each field.
Therefore I think we can postpone this issue for now.

[2015-03-12 14:10] capooti commented on #1319
This is working for me, I have just tested it with standard settings.

[2015-03-12 14:12] capooti opened #2096 "Someone changed the admin user password in the geonode demo site"
can someone with access to the demo server fix this?
Or could we do a new deployment?
thanks

[2015-03-12 18:29] rodekruis opened #2097 "Upload failed"
Hi, I am running geonode in production on a dns domain. I have followed the custom installation manual.

I experience two problems that are possibly related:
- When I go to the geoserver admin, the superuser authentication is not federated to the geoserver. I can login with the admin user + password, but to my understanding this should not have to be
- When i upload a layer through the frontend in

[2015-03-13 08:34] simod commented on #2097
Hi. You should also configure the smoke file in the geoserver data dir
/auth/geonodeauthprivider and point it to your Geonode base url. Then
restart Apache.

Il giovedì 12 marzo 2015, rodekruis <notifications@github.com> ha scritto:

--
Simone

[2015-03-13 10:13] rodekruis commented on #2097
Thank you. In the mean time I swapped to the apt-get geonode testing setup for ubuntu 14.04. This one works ok. Only uploading shapefile zips returns an error that the name of the store is missing. But uploading individual files works.

[2015-03-13 10:14] humanitariandata opened #2098 "Allow TMS/ZXY to be added as remote services (vs only in MAP_BASELAYERS)"
Would it be possible to implement XYZ url layers in the overlays? Now the TMS is supported, but it is a different format, which is hardly being provided by other services.

[2015-03-13 10:33] capooti commented on #2098
You don't like this one?
http://localhost:8080/geoserver/gwc/service/tms/1.0.0/geonode:mylayer/0/0/0.png

[2015-03-13 10:38] rodekruis commented on #2098
Hi Capooti,

That is only for layers that I have added to geoserver. But what about all public layers available on the net that I could potentially add into a map on geonode as a separate layer?

[2015-03-13 10:49] simod commented on #2097
Zipped shapefile upload is not supported yet. But we have a pending PR for that so the 2.4 final will also support zipped shapefile upload.

[2015-03-13 10:49] #2097 closed

[2015-03-13 11:11] capooti commented on #2098
sorry I don't understand this.
Could you describe better which is your problem and which map client are you talking about?
Are you talking about remote services? In such a case you cannot do anything unless you cascade them.

[2015-03-13 11:14] rodekruis commented on #2098
For instance mapbox and cartodb can provide XYZ map urls. Geonode is an ideal portal to combine these layers with other layers on the geoserver.

It would be great if we can use for instance a cartodb {x}/{y}/{z}.png url to add a layer to a map on geonode.

What do you mean by cascading?

[2015-03-13 11:25] capooti commented on #2098
If you need more base layers, you can add them to configuration: https://github.com/GeoNode/geonode/blob/master/geonode/settings.py#L611

Did you check the external sources available in GeoExplorer, by the way? You should be able to customize it to have more sources, I think.

If you want to handle layers from external TMS as GeoNode layers, I am afraid this is not supported.
What you could do is

[2015-03-14 02:28] #1319 closed

[2015-03-18 16:56] garnertb commented on #2096
I reset the password.  If this becomes a problem we can harden it.

[2015-03-18 16:56] #2096 closed

[2015-03-18 19:59] davicustodio opened #2099 "Setting MaxRecords for PyCSW in settings.py"
It would be nice if we could set the property 'MaxRecords' used in PyCSW (specifically in GetRecords metadata call).

I think we could put something like

# Pycsw settings
PYCSW = {
     # Pycsw configuration
     'CONFIGURATION': {
         'server': {
             'MaxRecords': 10000
         },
         'metadata: main': {

.. in Settings.py and pointing this property in the MaxRecords in other

[2015-03-19 00:40] tomkralidis commented on #2099
@davicustodio thanks.  Basically this is set in code, so I'll add the ability to override this in `settings.py`

[2015-03-19 03:20] state-hiu opened #2100 "Identity/Status JSON Endpoint"
We should create a new api endpoint at `/status.json` or something like that that provides some basic identity and status information.  This endpoint would be useful for automating management of multiple GeoNodes via a dashboard or via scripts.  For example, `http://geonode.example.com/status.json`.  The endpoint would return JSON that gives basic info.  It should also check perms, so admins could

[2015-03-19 11:22] tomkralidis commented on #2099
Fixed in master.

[2015-03-23 14:51] capooti opened #2102 "Upgrade GeoServer to stable version"
We need to have GeoServer upgraded to current LTS version (2.5.5) before releasing GeoNode 2.4.
I do not think that current GeoServer version (2.5.1) that comes with GeoNode is currently supported, and it has some unfixed bugs, such as this one:
https://jira.codehaus.org/browse/GEOS-6685

[2015-03-23 14:57] gamesbook commented on #2102
Any reason we cannot migrate to the 2.6.x series (2.6.2 is a stable release
- http://geoserver.org/release/stable/ )?  Otherwise we are falling further
and further behind the releases.

On 23 March 2015 at 16:51, Paolo Corti <notifications@github.com> wrote:

[2015-03-23 15:04] capooti commented on #2102
2.5.5 is LTS so anything notable (security risks bug, vulnerabilities etc) should be back-ported to it, therefore I believe it would be a better choice in the long run (so far we had a stable GeoNode release every 2 years or so...)

[2015-03-24 06:02] gamesbook commented on #2102
I do not understand the practicalities of what is involved in building the
custom GeoServer version, so please point out flaws here... given that the
upcoming 2.4 release of GeoNode is also an LTS version; with appropriate 2
years support for bug fixes and so on, would it possible to have the
interim releases (2.4.1, 2.4.2 etc.) perhaps synced to the appropriately
most recent GeoServer release?  T

[2015-03-24 06:44] gamesbook commented on #2040
2.7 stable now released (http://sourceforge.net/p/geoserver/mailman/message/33630142/)

[2015-03-24 06:45] gamesbook commented on #2102
How does this issue relate to $2040 ?

[2015-03-24 07:28] capooti commented on #2102
Yes, looks like a duplicate of #2040, I will close right now.

Regarding using 2.5.5 or 2.6 series, I have no personal preferences about it, it seemed to me wise to stick to the GeoServer LTS but I would be curious to hear the opinion of other developers.

About building the custom GeoServer version, I think that's all we need to do (at least last time worked for me):

https://github.com/GeoNode/g

[2015-03-24 07:29] #2102 closed

[2015-03-24 07:31] capooti commented on #2040
I can take care of this later today. So guys, which version to use, LTS 2.5.5 or latest stable 2.7.0?

[2015-03-24 07:37] gamesbook commented on #2040
"My heart says 2.7 but my head says 2.5"
Please see my comments on #2102 about having GeoNode LTS synced with the latest GeoServer LTS, but then ensuring that point releases of GeoNode work with the latest version of GeoServer.

[2015-03-24 20:49] donaldbales opened #2103 "ProgrammingError: relation "notification_noticetype" does not exist"
I installed Geonode 2.4 beta 22:

I un-commented out:
REGISTRATION_OPEN = True
ACCOUNT_APPROVAL_REQUIRED = True
ACCOUNT_EMAIL_CONFIRMATION_EMAIL = True
ACCOUNT_EMAIL_CONFIRMATION_REQUIRED = True

in /etc/geonode/local_settings.py

When I try to add a user I get the following, which basically states I'm missing some tables (specifically notification_noticetype):

Internal Server Error: /account/sig

[2015-03-24 20:59] capooti commented on #2103
do you have django notification in INSTALLED_APPS?
regards
On Mar 24, 2015 9:49 PM, "Donald J. Bales" <notifications@github.com> wrote:

[2015-03-25 14:45] JJediny commented on #2103
It was commented out in the Ubuntu install.  I un-commented it, ran sudo geonode syncdb, and that created the three tables I needed:

local_admin@foss-geonode01:~$ sudo nano /usr/local/lib/python2.7/dist-packages/geonode/settings.py
local_admin@foss-geonode01:~$ sudo geonode syncdb
Creating tables ...
Creating table notification_noticetype
Creating table notification_noticesetting
Creating table n

[2015-03-25 14:47] donaldbales commented on #2103
It was commented out in the Ubuntu install. I un-commented it, ran sudo geonode syncdb, and that created the three tables I needed:

local_admin@foss-geonode01:~$ sudo nano /usr/local/lib/python2.7/dist-packages/geonode/settings.py
local_admin@foss-geonode01:~$ sudo geonode syncdb
Creating tables ...
Creating table notification_noticetype
Creating table notification_noticesetting
Creating table no

[2015-03-25 14:47] #2103 closed

[2015-03-25 14:59] capooti commented on #2103
@donaldbales it is commented by purpose, as notification app is not installed in default geonode

[2015-03-25 22:17] ingenieroariel commented on #2040
For GeoServer, my personal feeling is that we should sync with the latest stable, even if it is not an LTS. The difference between Django and GeoServer here is that Django ships with the platform (Ubuntu) but GeoServer doesn't.

I vote for 2.7.

[2015-03-26 00:09] ian-mcleod opened #2104 "2.4b22 instaltion issue"
I have installed 2.4b22 several times without issue - however the last install was a doozy...

I am installing from the ppa:geonode/testing repository onto a ubuntu 14.04 system
during the last install an invalid postgresql password was created for the geonode user

the password   'DmY2ûë8a'    (notice the accented ue )

this is  not a UTF-8(128) compliant, so default python encode and decode func

[2015-03-26 06:55] simod commented on #2040
+1 !!! :-)

Il mercoledì 25 marzo 2015, Ariel Núñez <notifications@github.com> ha
scritto:

--
Simone

[2015-03-26 09:04] capooti commented on #2040
let it be 2.7 then :)

On Thu, Mar 26, 2015 at 7:55 AM, Simone Dalmasso <notifications@github.com>
wrote:

--
Paolo Corti
Geospatial software developer
web: http://www.paolocorti.net
twitter: @capooti
skype: capooti

[2015-03-26 14:20] donaldbales opened #2106 "LockFailed: failed to create /var/www/<hostname>.MainThread-<integer>"
When trying to upload files in Geonode/Layers after a fresh install using the Ubuntu geonode 2.4 beta 22 package, I get the following or similar error:

failed to create /var/www/foss-geonode01.Dummy-2-12596
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/geonode/layers/views.py", line 163, in layer_upload
    title=form.cleaned_data["layer_title"],
  File "/usr/l

[2015-03-26 14:23] garnertb commented on #2106
Add ```NOTIFICATION_LOCK_LOCATION='/var/www/geonode'```to your settings.

[2015-03-27 00:10] donaldbales commented on #2106
Thanks Tyler.

From: Tyler Garner [mailto:notifications@github.com]
Sent: Thursday, March 26, 2015 9:24 AM
To: GeoNode/geonode
Cc: Donald J. Bales
Subject: Re: [geonode] LockFailed: failed to create /var/www/<hostname>.MainThread-<integer> (#2106)

Add NOTIFICATION_LOCK_LOCATION='/var/www/geonode'to your settings.

—
Reply to this email directly or view it on GitHub <https://github.com/GeoNode/geo

[2015-04-02 10:37] gamesbook commented on #2040
Django 1.8 (LTS) released 1 April 2015.  Give that 1.6 will no longer receive updates, what version of Django will the new release of GeoNode officially support?

[2015-04-02 10:47] simod commented on #2040
I think that it will support the 1.6 which is the one shipped with Ubuntu
14.04.

Il giovedì 2 aprile 2015, Derek Hohls <notifications@github.com> ha scritto:

--
Simone

[2015-04-02 11:37] gamesbook commented on #2040
@simod Given that Django 1.6.11 will be last security update, could that cause problems in future?  What I am saying is: should the project not be more concerned with its core dependency (Django) rather than the OS itself.  I see that the next release of Ubuntu will support 1.7 (http://packages.ubuntu.com/vivid/python-django)..

[2015-04-02 12:29] ingenieroariel commented on #2040
We have gone that route in the past (shipping with latest Django) and it
becomes a problem with packaging.

See for example: https://github.com/GeoNode/geonode/issues/821

That said, the rationale for this was when Django did not have LTS
releases. Is anyone interested in doing a poll to figure this out?

-a

On Thu, Apr 2, 2015 at 6:37 AM, Derek Hohls <notifications@github.com>
wrote:

[2015-04-03 22:37] JJediny commented on #2062
I was able to connect the dots on another (geo)django project called [uMAP](https://github.com/yohanboniface/uMap) or in-use @ http://umap.fluv.io/en/ a Django Project which uses https://github.com/yohanboniface/django-leaflet-storage & https://github.com/yohanboniface/Leaflet.Storage as the ModelViewController to deserilize/store/render GeoJSON FeatureCollections as Layers within Geonode. Notes a

[2015-04-03 22:37] #2062 closed

[2015-04-06 20:27] ischneider opened #2111 "case-sensitive extension comparison in file upload"
For example, a file with the extension `TIF` will result in an alert noting `You are uploading an incomplete set of files`

[2015-04-07 07:05] #2106 closed

[2015-04-07 07:07] simod commented on #2104
@ian-mcleod this was happening to me in the past using Vagrant on OSX but is not happening anymore. Anyway you have to change the password in the local_settings and then to the geonode user in postgres.
You can use:
$ sudo su postgres
$ psql -c "alter role geonode with password 'yourpassword';"
$ exit

Hope this helps

[2015-04-07 07:07] #2104 closed

[2015-04-07 07:08] #2111 closed

[2015-04-07 07:08] #2099 closed

[2015-04-07 07:08] #2093 closed

[2015-04-07 10:22] auvipy commented on #2040
while django 1.8 is the latest stable why not use that?

[2015-04-07 14:49] #1890 closed

[2015-04-07 14:52] simod commented on #1817
I'm closing this as standard thumbnails are working. What is missing is the pdf thumbnails that can be enabled with imagemagick

[2015-04-07 14:52] #1817 closed

[2015-04-07 14:54] simod commented on #1762
closing as fixed

[2015-04-07 14:54] #1762 closed

[2015-04-07 15:07] capooti opened #2113 "HTTP Status 401 - Full authentication is required to access this resource"
This is happening in our environment - based on GeoNode 2.0 - randomly, since a couple of weeks.

When uploading a new shapefile to GeoNode, sometime ( about 10/20 % of the times we upload new datasets) GeoServer communication fails with the following message:

HTTP Status 401 - Full authentication is required to access this resource

![401](https://cloud.githubusercontent.com/assets/148380/702576

[2015-04-07 15:16] capooti commented on #2113
some more context information, from logs:

FailedRequestError: Tried to make a GET request to http://geonode.wfp.org/geoserver/rest/workspaces.xml but got a 401 status code:
<html><head><title>Apache Tomcat/6.0.24 - Error report</title><style></style> </head><body><h1>HTTP Status 401 - Full authentication is required to access this resource</h1><HR size="1" noshade="noshade"><p><b>type</b> Status

[2015-04-07 18:10] achorivai opened #2114 "Geonode Account Registration Error"
ProgrammingError at /account/signup/

[2015-04-07 18:15] achorivai commented on #2114
please help, many errors occur in geonode 2.4b22 one of which is below

--------------------------------------------------------------------------
ProgrammingError at /account/signup/

relation "notification_noticetype" does not exist
LINE 1: ...iption", "notification_noticetype"."default" FROM "notificat...
                                                             ^

Request Method: 	POST
Requ

[2015-04-07 18:24] simod commented on #2114
Hi looks that you enabled the notifications. So you have to run the syncdb
to enable the new tables.

Ciao

Il martedì 7 aprile 2015, achorivai <notifications@github.com> ha scritto:

--
Simone

[2015-04-08 06:28] #2114 closed

[2015-04-08 07:36] simod commented on #1916
This is the response from geoserver upon the wfs request:

<ows:ExceptionReport xmlns:ows="http://www.opengis.net/ows" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0.0" xsi:schemaLocation="http://www.opengis.net/ows http://localhost:8001/geoserver/schemas/ows/1.0.0/owsExceptionReport.xsd">
<ows:Exception exceptionCode="InvalidParameterValue">
<ows:ExceptionText>Update error: Er

[2015-04-08 07:40] bartvde commented on #1916
@simod what is the XML of the request in this case?

[2015-04-08 07:44] simod commented on #1916
@bartvde
<wfs:Transaction xmlns:wfs="http://www.opengis.net/wfs" service="WFS" version="1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wfs http://schemas.opengis.net/wfs/1.1.0/wfs.xsd"><wfs:Update typeName="feature:cippa" xmlns:feature="http://www.geonode.org/"><wfs:Property><wfs:Name>lippa</wfs:Name><wfs:Value>stacippa</wfs:Value></wfs:Prop

[2015-04-08 07:45] bartvde commented on #1916
@simod so the value length is larger than the schema allows for?

[2015-04-08 07:46] simod commented on #1916
@bartvde yes the length for the attribute "lippa"  is 5

[2015-04-08 07:47] bartvde commented on #1916
and you have confirmed that maxLength is 5 in the xsd? If so this is a client-side error I think.

[2015-04-08 07:51] simod commented on #1916
Actually, this is the xsd and I don't see the definition of the maxlength:
[code]

[2015-04-08 07:54] bartvde commented on #1916
Ah okay, maybe it requires a manual xsd override in GeoServer, it's been a while since I dealt with this to be honest.

[2015-04-08 08:01] simod commented on #1916
hm... do you have any suggestion on what I should look at?

[2015-04-08 08:03] simod commented on #1916
ah maybe this http://sourceforge.net/p/geoserver/mailman/message/22402922/. Looks a quite ugly solution though

[2015-04-08 08:03] bartvde commented on #1916
right that's what I meant but I couldn't find it.
I see a lot of open geoserver JIRA issues for taking it from the database but it seems this never materialized

cc @ischneider

[2015-04-08 08:06] simod commented on #1916
thanks @bartvde , also pinging @capooti , @jj0hns0n , @ingenieroariel to discuss whether makes sense to apply such thing to solve this issue. I would vote -1. :)

[2015-04-08 08:46] capooti commented on #1916
if this is the only way, and there is someone volunteering to fix it, I could be +1 about this :)

[2015-04-08 09:42] #1883 closed

[2015-04-08 10:46] achorivai commented on #2114
i already running syncdb but still got same error..
geonode syncdb

Creating tables ...
Installing custom SQL ...
Installing indexes ...
Installed 298 object(s) from 1 fixture(s)

and then if we want edit/delete people profile in django/admin we got similiar error too

ProgrammingError at /admin/people/profile/2/
relation "notification_noticetype" does not exist
LINE 1: ...iption", "notification_n

[2015-04-08 11:05] simod commented on #2114
Ok, then make sure that you have uncommented 'notification' in
INSTALLED_APPS in settings. The re run syncdb.
https://github.com/GeoNode/geonode/blob/master/geonode/settings.py#L307

p.s. for support please use the users mailing list at
geonode-users@lists.osgeo.org

2015-04-08 12:46 GMT+02:00 ANRT <notifications@github.com>:

--
Simone

[2015-04-08 12:54] #1889 closed

[2015-04-09 17:08] ischneider commented on #1916
Modifying the schema.xsd appears to be a brittle workaround for the issue.

Ideally, the fix would happen via database metadata introspection in GeoServer.

[2015-04-12 22:26] state-hiu opened #2117 "South Sudan Missing from Regions"
South Sudan is in the [countries enumeration](https://github.com/GeoNode/geonode/blob/master/geonode/base/enumerations.py), but is missing from the [base initial_data fixtures](https://github.com/GeoNode/geonode/blob/master/geonode/base/fixtures/initial_data.json).

[2015-04-13 10:07] achorivai opened #2118 "LockFailed"

[2015-04-13 10:07] achorivai opened #2119 "LockFailed"

[2015-04-13 10:10] achorivai commented on #2119
i'm tryin to upload layer and update document metadata got error

Some can help me please

LockFailed at /documents/23/metadata
failed to create /var/www/PTHI-GEOPORTAL.MainThread-11789
Request Method:	POST
Request URL:	http://localhost/documents/23/metadata
Django Version:	1.6.1
Exception Type:	LockFailed
Exception Value:
failed to create /var/www/PTHI-GEOPORTAL.MainThread-11789
Exception Locatio

[2015-04-13 10:13] garnertb commented on #2119
@achorivai, Please search for existing issues before filing a new one.

Closing as a duplicate of https://github.com/GeoNode/geonode/issues/2106.

[2015-04-13 10:13] #2119 closed

[2015-04-13 10:14] achorivai commented on #2119
i already try to add NOTIFICATION_LOCK_LOCATION='/var/www/geonode' in my setting.py and restart apache service but still no help

[2015-04-13 10:15] garnertb commented on #2118
Closing as a duplicate of https://github.com/GeoNode/geonode/issues/2119.

[2015-04-13 10:15] #2118 closed

[2015-04-13 10:18] garnertb commented on #2119
Whatever user/group GeoNode is running as should have write permissions on `/var/www/geonode`.

Try temporarily chmoding `/var/www/geonode` to 777 and restarting apache to confirm.

[2015-04-14 12:49] capooti opened #2122 "Performance issues with geonode.security.views.resource_permissions"
I am testing GeoNode 2.4 with a large number of resource base objects (about 2000).
When accessing to the detail page of one resource, for example a layer, the view in the subject [1]  is extremely slow.
After some debugging it looks like this line [2] is taking a long time to execute (about 1 minute).

Same behavior from python shell:

get_users_with_perms(layer, attach_perms=True, with_superuser

[2015-04-14 13:57] simod commented on #2122
I can confirm that it slows down but not so much, 3.6 seconds with 1400 + resources. Better to investigate though.

[2015-04-14 15:26] cristianzamar opened #2123 "Error when trying to upload files with GeoNetwork as CSW backend."
I have version 2.4b24 installed from ppa:geonode/testing repository and have set GeoNetwork 2.10.4 as the CSW backend.
When I try to upload a doc or a layer I get the following error:

`File "/usr/local/lib/python2.7/dist-packages/geonode/catalogue/backends/generic.py", line 90, in login
doc = etree.fromstring(response.read())
File "lxml.etree.pyx", line 3032, in lxml.etree.fromstring (src/lxml/lx

[2015-04-14 17:14] mbertrand opened #2124 "Manually setting a layer thumbnail creates a basemap image only"
From a layer detail page, click 'Edit Layer', then 'Set' thumbnail.  The resulting thumbnail only shows the basemap, not the layer.

[2015-04-14 17:32] state-hiu opened #2125 "Uploading UI Permissions Widget / Lock"
When uploading a new shapefile on the `/layers/upload` page, the permissions widget and other UI buttons should lock, disable, or show some UI to indicate that after uploading a file, the permissions widget has no effect.  Same should go for documents upload page.

[2015-04-14 18:17] tomkralidis commented on #2123
I'll take a look. GeoNetwork now has different endpoints for discovery and publication, and we haven't updated GeoNode to support both, so I'm guessing the issue is rooted here.

[2015-04-14 21:41] MelvinDRM opened #2126 "Associate information to shapefiles/raster uploaded"
Greetings,

I'm trying to associate specific information to the files I upload (be that vector or raster). I'm supposed to implement a database with a whole of information (text and numbers related to statistics and NGO standards), but I have no idea where or how to begin to customize my project: create models, create the forms, query the data (especially from the map view itself), etc.

I'm assum

[2015-04-15 06:09] simod commented on #2126
@MelvinDRM could you please move this thread the users mailing list? as we keep the ticketing system just for geonode issues. http://lists.osgeo.org/cgi-bin/mailman/listinfo/geonode-users.
For your question, did you take a look at the "document" app of geonode? It allow you to upload any other non spatial file and link it to an existing layer or map.

You are correct, each shapefile is a layer and

[2015-04-15 06:09] #2126 closed

[2015-04-15 06:11] simod commented on #2125
I think we can close this as dupe of https://github.com/GeoNode/geonode/issues/1791

[2015-04-15 06:11] #2125 closed

[2015-04-15 06:21] simod commented on #2124
@mbertrand does this happens in production? For me in dev mode seems to be working.

[2015-04-15 14:18] mbertrand commented on #2124
Works for me now too after clearing out cookies and cache, sorry for the false alarm.

[2015-04-15 14:19] #2124 closed

[2015-04-15 15:13] MelvinDRM commented on #2126
Thanks, will do!

[2015-04-16 15:10] capooti commented on #2122
update: we are now almost done with a basic script (to be improved) [1] to generate an extended GeoNode database that we can use to stress GeoNode and see if there is some performance that needs to be improved.

So far @simod already addressed the problem related to the permission query taking a long long time.
We still need to figure out how to tackle the problems related to the slow dehydrated c

[2015-04-16 16:12] simod commented on #2122
Thanks for the script @capooti. Tomorrow will take a look at the counts :)

Il giovedì 16 aprile 2015, Paolo Corti <notifications@github.com> ha
scritto:

--
Simone

[2015-04-17 09:38] capooti commented on #2122
just for the record, a resource detail page with your optimization now requires 47 vs 198 queries.
It is much faster (under 1 sec), but it would be nice if we find a way to lower the needed queries.

[2015-04-17 12:03] simod commented on #2122
Yeah, I think that we should also take a look at how the templates use the
objects.

2015-04-17 11:38 GMT+02:00 Paolo Corti <notifications@github.com>:

--
Simone

[2015-04-17 14:57] capooti opened #2130 "Performance issues when uploading layers to GeoNode"
Using this script [1], it looks like GeoServer is initially very fast but then the upload time quickly increases with the layers number (time is in seconds, the uploaded shapefile is ~5k):

Layer 0 generated in: 1.83858203888
Layer 1 generated in: 1.85110998154
Layer 2 generated in: 2.00699400902
...
Layer 48 generated in: 4.82827591896
Layer 49 generated in: 4.83818912506
Layer 50 generated in: 5

[2015-04-17 18:57] ramavanan commented on #1673
Can u send some tutorial for geonode customization

[2015-04-17 19:02] simod commented on #1673
Hi for trusty is available the 2.4 beta. Just use the ppa:geonode/testing
instead of release.
On docs.geonode.org you will also find docs for customize it.

Ps please use the users mailing list for support in the future.

Hope this helps.

Il venerdì 17 aprile 2015, ramavanan <notifications@github.com> ha scritto:

--
Simone

[2015-04-17 19:05] simod commented on #1673
Sorry answered from mobile and did not notice it was an old ticket and not a new one.

[2015-04-17 19:06] ramavanan commented on #1673
Ok simod. but geonode 2.0 stable only available .

[2015-04-17 19:07] ramavanan commented on #1673
Shall we use this geonode application for enterprise use

[2015-04-17 19:09] ramavanan commented on #1673
lowing the instructions, I did:
$ sudo add-apt-repository ppa:geonode/release
OK
$ sudo apt-get update
OK
$ sudo apt-get install geonode
E: Unable to locate package geonode

[2015-04-17 19:09] simod commented on #1673
Geonode 2.4 is much more advanced than 2.0. I would suggest to use it and
the upgrade to the 2.4 final when released. No data model changes will be
introduced.

Il venerdì 17 aprile 2015, ramavanan <notifications@github.com> ha scritto:

--
Simone

[2015-04-17 19:09] simod commented on #1673
Ppa:geonode/testing

Il venerdì 17 aprile 2015, Simone Dalmasso <simone.dalmasso@gmail.com> ha
scritto:

--
Simone

[2015-04-17 19:10] ramavanan commented on #1673
simod

following the instructions, I did:
$ sudo add-apt-repository ppa:geonode/release
OK
$ sudo apt-get update
OK
$ sudo apt-get install geonode
E: Unable to locate package geonode

[2015-04-17 19:11] ramavanan commented on #1673
simod

can u tell the instruction for geonode 2.4 Please.
Beacause i am new user for Linux platform (ubuntu)

[2015-04-17 19:12] simod commented on #1673
The ones you did are correct but use ppa:geonode/testing and not
ppa:geonode/release

Il venerdì 17 aprile 2015, ramavanan <notifications@github.com> ha scritto:

--
Simone

[2015-04-17 19:13] ramavanan commented on #1673
Shall we use Osgeolive for Enterprise server use

[2015-04-17 19:17] simod commented on #1673
Not at all. Osgeolive is not meant for that.

Il venerdì 17 aprile 2015, ramavanan <notifications@github.com> ha scritto:

--
Simone

[2015-04-17 19:37] ramavanan commented on #1673
Pl  can u send the instalation step wise...i am using ubuntu 14.04

[2015-04-17 19:41] ramavanan commented on #1673
what about geoserver and.postgres. automatically installed from this geonode or manually install

[2015-04-17 19:50] simod commented on #1673
the procedure is this one
http://docs.geonode.org/en/master/tutorials/admin/install/quick_install.html or
the one down in this page http://geonode.org/
 but use ppa:geonode/testing instead of ppa:geonode/release. It will
install also geoserver and postgres and configure them. On the docs you can
find all the information.

2015-04-17 21:41 GMT+02:00 ramavanan <notifications@github.com>:

--
Simone

[2015-04-18 13:37] ramavanan commented on #1673
thank you simon ..geonode working perfectly . i have another one doubt. i was install pg admin using ubuntu softtware store, but it didnt conect with postgres, can u tell the procedure for conect pgadmin & postgres

[2015-04-18 13:39] ramavanan commented on #1673
How to link geonode postgres and pgadmin

[2015-04-18 13:48] JJediny commented on #1673
These follow ups are completed unrelated to the ticket not are they appropriate for a ticket. Please start a new thread on the mailing list, and i will try to assist, but please only use a ticket for technical issues or feature requests. The mailing list is for this type of instruction and also for the benefit that the community will be aware the QA exists
geonode-users@lists.osgeo.org

[2015-04-18 19:10] ramavanan commented on #2104
I have installed 2.4. my superuser password doesnot match postgres password. how to find postgres password and database

[2015-04-19 03:58] JJediny opened #2131 "Restructuring ResourceBase API - to list Downloads"
Simply put I think the listings/pagination view of geonode resources (i.e. Layers, Maps, Documents) has regressed from Geonode 2.0 to Geonode 2.4. I would like to propose some changes to the data being bound to an entry so users can more easily access the data services, locate/navigate to the original source to verify the data is up to date, and distinguish what layer type (i.e. Vector, Raster, Re

[2015-04-19 05:00] ramavanan commented on #1673
everything working fine and perfectly.
1) how to find geonode database name and password
2)how to configure pgadmin and postgres
3) customization is possible for geonode 2.4 or only 2.0

4)

[2015-04-19 05:35] biomap commented on #1673
This isn't a help desk.  If you can read the docs then please stop posting.

http://docs.geonode.org/en/master/

[2015-04-19 23:02] ian-mcleod commented on #2104
ok - really important -  there are 3 diffeerent authentication processes involved
1. unix / linux system authentication
2. popstgreql (PG)  database user authentication
3. geonode superuser authentication

when you install geonode it creates a random password for the PG superuser - which is lost during the install...
but it also creates a geonode user PG account and password that PG password is st

[2015-04-20 10:04] lucageo opened #2132 "Error loading file"
After installing GeoNode using "git clone https://github.com/GeoNode/geonode.git"
I got the following error uploading  a raster or a shape file:
in method 'Driver_Open', argument 2 of type 'char const *'

Any suggestions?

Thank you very much,
Cheers
Luca

[2015-04-20 11:16] simod commented on #2132
Hi, seems like system library error like PIL or other. Do you have a full stack trace?
Also do you mind using the users mailing list to ask for support?
geonode-users@lists.osgeo.org, thanks

[2015-04-20 11:16] #2132 closed

[2015-04-20 13:13] simod commented on #2131
@JJediny should they list the number of times the Resource has been downloaded?

[2015-04-20 13:16] JJediny commented on #2131
mistakenly save this issue before providing a description... Then started drafting to a half well done ticket before the power went out... Will flesh this out sometime today to get at the issue

[2015-04-20 17:10] ischneider commented on #2132
Based on the method name, this appears to be an OGR/GDAL issue, FYI.

[2015-04-20 23:16] ian-mcleod commented on #2104
Thanks  - that does work …

It only happens on the VM’s hosted centrally by my organisation …
I have installed it on numerous other VM’s  with no issue
So I presume it’s an issue with the “sanitized”  repositories / distro that we use

Do you (or anyone else) have any idea as to what package / library is used to generate these keys

Thanks
Ian

From: Simone Dalmasso [mailto:notifications@github.co

[2015-04-21 06:02] simod commented on #2104
It's generated by this file https://github.com/GeoNode/geonode/blob/master/package/install.sh#L132 which is run by apt-get install.

Ciao

[2015-04-21 07:19] lucageo commented on #2132
Thank you both,
the issue is fixed just updating python-gdal.
Cheers,
Luca

[2015-04-21 22:52] ischneider opened #2134 "search page errors when using DEBUG_STATIC=True"
error shows `$(...).datetimepicker is not a function`

failure in explore.js prevents subsequent jquery from running and other parts of the page stop functioning

[2015-04-21 23:57] #2134 closed

[2015-04-22 13:31] capooti commented on #2113
for the record, under those circumstances, geoserver is logging:

2015-04-22 15:23:40,630 WARN [servlet.PageNotFound] - No mapping found for HTTP request with URI [/geoserver/accessDenied.jsp] in DispatcherServlet with name 'dispatcher'

[2015-04-22 15:24] vlasvlasvlas opened #2137 "ubuntu 12.04 LTS error installation"
Hi,

i was installing geonode using ubuntu 12.04.5 LTS
I'm following this guide: http://geonode.readthedocs.org/en/latest/tutorials/admin/install/quick_install.html#quick-installation

i have dependecies issue right on start:

-----------------------------------
[code]
-----------------------------------
[code]

-----------------------------------
[code]

-----------------------------------
[code]

[2015-04-22 16:40] simod commented on #2137
Hi do you mind to use the users mailing list to ask for support? geonode-users@lists.osgeo.com

[2015-04-22 16:40] #2137 closed

[2015-04-28 21:46] rajanski commented on #255
Hi guys, i cant figure how to get the view permissions on my layers as fine as in http://geonode.readthedocs.org/en/latest/_images/permissions.png,
 can anyone provide guidance?

[2015-04-28 21:59] jj0hns0n commented on #255
Which version are you using?

On Tue, Apr 28, 2015 at 5:46 PM, rajanski <notifications@github.com> wrote:

[2015-04-28 23:08] rajanski commented on #255
2.0.1 , i,.e. the one from the 12.04 ubuntu ppa

[2015-04-29 05:59] simod commented on #255
@rajanski the new permissions system is implemented on 2.4 which is available as beta for ubuntu 14.04.

[2015-04-29 07:37] rajanski commented on #255
ok thanks, could you post here as soon as 2.4 is released stable?
BTW geonode is a real fine piece of work , many thanks to all contributors for that!

[2015-04-29 07:41] simod commented on #255
Thanks, will be for sure announced on the mailing lists and the website.
By the way, the 2,4 is totally usable and quite stable as well if you want to give a try.

[2015-04-29 12:46] vdeparday commented on #255
By the way, I don't think we should close this one. The specs as described are not quite implemented yet. We are still missing:
- actual restriction on download on the GeoServer
- the level of permission that is called 'limited access' in the specs.

[2015-04-29 13:33] simod commented on #255
Vivien if I understand correctly the limited access is about make people
aware of non permitted data right?

Il mercoledì 29 aprile 2015, Vivien Deparday <notifications@github.com> ha
scritto:

--
Simone

[2015-04-29 14:06] vdeparday commented on #255
Yes, exactly. I think it would be great because some GeoNode looks really
empty if you go to them because actually most layers are behind a password.
In the end, it would also likely foster more request to use the data and
more open data.

On Wed, Apr 29, 2015 at 9:33 AM, Simone Dalmasso <notifications@github.com>
wrote:

[2015-04-29 14:29] simod commented on #255
Right. I think that this could be achieved by adding a tab in the search
engine for restricted data with a dedicated API. Do you think could make
sense? As mixing them into the normal data would be very tricky and lead to
slow performances.

Il mercoledì 29 aprile 2015, Vivien Deparday <notifications@github.com> ha
scritto:

--
Simone

[2015-04-30 15:09] rajanski commented on #1728
Hi, on geonode 2.0.1 , there is still too much informationon people plus their content on the peoples page shown to "everyone", i.e. without login. Is that fixed in 2.4 ?

Best
R

[2015-04-30 15:10] rajanski opened #2138 "Possibility to not show any information on startpage for without login?"
Hi, is there a posibility to avoid showing the "newes maps" and the "People" information to the world, i.e. when not logged in? I am on geonode 2.0.1.

[2015-04-30 15:36] simod commented on #2138
@rajanski Please use the users mailing list to ask for support. This place is used to track bugs.

[2015-04-30 15:36] #2138 closed

[2015-05-04 10:43] rajanski opened #2140 "Internal Server Error when deleting group via admin panel in 2.4"
Hi i keep getting an internal server error when deleting a group (in this cae "anonymous"  via the django admin panel:

apache.log says:

[code]

[2015-05-04 10:45] rajanski commented on #2140
ah found it:

[code]
closed

[2015-05-04 10:45] #2140 closed

[2015-05-04 10:53] simod commented on #2140
@rajanski you should really not the issue tracker for this kind of issues. If you have an error ask on the mailing lists. We will open a ticket only in the case the error you found would really be a bug.

[2015-05-04 14:39] mbertrand opened #2142 "KeyError on Layer Info page due to missing permissions"
After fetching the latest code I get a KeyError exception on existing layer info pages:

[code]

Due to the following permissions not being in the ADMIN_PERMISSIONS or LAYER_PERMISSIONS lists in geonode/security/models.py:  add_resourcebase, add_layer, edit_layer, delete_layer

The following changes fix this issue: https://github.com/GeoNode/geonode/compare/GeoNode:master...mbertrand:permissionfix

[2015-05-04 14:54] simod commented on #2142
@mbertrand those permissions are the django default and are not actually of interest of geonode because we check the others. It's not very clear to me why the user model is returning those permissions in your version. Can you jump in IRC?

[2015-05-04 15:56] simod commented on #2142
@mbertrand btw I tried with an old branch but don't get this error.

[2015-05-04 16:30] mbertrand commented on #2142
Hi @simod, I figured out that the extra permissions were being created for raster layers but not vector layers on an older branch (commit #e09ed55f5b24b8439196097a3cc6a10812659109 from early April).

[2015-05-04 16:31] simod commented on #2142
oh. Ok. Thanks for the PR!

[2015-05-04 16:31] simod commented on #2142
Can we close this?

[2015-05-04 16:56] #2142 closed

[2015-05-05 16:13] simod opened #2145 "map download allows download of not permitted layers"
need to add a test and a check on the map download:
or not request.user.has_perm('download_resourcebase',obj=ownable_layer.get_self_resource())

[2015-05-05 16:44] JamesLeonDufour opened #2146 "Layer styles not updatable with update 2.4b25"
I cannot update of change layers styles since the update to 2.4b25 ? Any tips ?

[2015-05-05 17:21] vlasvlasvlas opened #2147 "Security issue: allowed to download view-only shapefiles if i create a map with selected layer"
just wrote at geonode-users this security issue:

i'm having some user-groups security issue...

i installed geonode 2.4 (ubuntu 14)

i have 1 all-allow private group with 1 all-allow user ,

and 1 all-deny group with 1 all-deny user.

I have this issue:

1- using the all-allow user, i upload a shapefile, and i set public view only (all other permissions just for his own user)

2- logging as the a

[2015-05-05 18:48] simod commented on #2147
Hi I just opened one for this few hours ago so I'm closing as dupe. Thanks!

[2015-05-05 18:48] #2147 closed

[2015-05-06 06:38] simod commented on #2146
@JamesLeonDufour can you describe more the error you get? I cannot replicate the error, I can upload a layer, change its style, duplicate the style and switch among them.

PS, mind using the mailing list geonode-users@lists.osgeo.org before coming to a ticket?

[2015-05-06 07:45] #2145 closed

[2015-05-06 22:33] acwalter commented on #2146
not sure if this is the same issue. Open a layer, edit layer, edit style. In the popup, select rule and edit. Change color and/or opacity. Save and close. Repeat process, the rule has reverted back to its original style.

[2015-05-06 23:21] vdeparday commented on #2146
This sounds like a GeoWebCache issue. On some occurrences, the cache of GWC
doesn't clear properly so the styles doesn't get refreshed. It is one the
latest blocking issue before the release of 2.4. One solution is to go in
GeoServer admin, then select the GWC menu on the left. Find the layer you
are working with and truncate the cache. If that still doesn't work, you
can go directly on the server

[2015-05-07 07:35] capooti commented on #2146
Let me add 2 more ways to get the same result (both of those will then hit
WMS instead than GWC):

1. in the style editor, go in "Display" and then uncheck the "use cached
version" option.
2. in GeoServer you can disable the cache just for that layer in "Layer
properties > Tile Caching"

On Thu, May 7, 2015 at 1:21 AM, Vivien Deparday <notifications@github.com>
wrote:

--
Paolo Corti
Geospatial so

[2015-05-07 13:28] abersh commented on #1673
$ sudo add-apt-repository ppa:geonode/release
OK
$ sudo apt-get update
OK
$ sudo apt-get install geonode
E: Unable to locate package geonode
What shall i do please help !!!

[2015-05-07 13:50] simod commented on #1673
@abersh if you read this thread you will find how to solve your problem.

[2015-05-07 13:53] abersh commented on #1673
sorry Simod where is the thread?

[2015-05-07 13:57] simod commented on #1673
this one where you are writing https://github.com/GeoNode/geonode/issues/1673

[2015-05-07 14:05] abersh commented on #1673
I read many times but still now it doesn't work.I use Ubuntu Trusty  and i want geonode/release

[2015-05-07 14:08] simod commented on #1673
geonode/release 2.0 is not available as installer for 14.04. Only testing. You have to do it manually.

Ps please use the mailing list geonode-users@lists.osgeo.org to ask for support

[2015-05-07 17:02] ramavanan commented on #1673
Simon , geonode is available for windows,

[2015-05-08 08:19] achorivai commented on #1951
hi vytj, is possible to show mouse coordinate you can see my sample in http://43.231.128.58/maps/5/view

i use mouseposition.js from openlayer and add some script

after this script--->>  app = new GeoNode.Composer(config);
add this--->    app.mapPanel.map.addControl(
        new OpenLayers.Control.MousePosition(  { prefix:  '  <b> Longitude</b> ', separator: '<b> , Latitude</b> ',
	       numDigi

[2015-05-08 10:55] abersh commented on #1673
Can i use geonode/release 2.0  in Ubuntu 12.04

[2015-05-11 05:34] phyokyi opened #2151 "Theming Issue"
Hello,
I'm just new to GeoNode. I just install geonode on Ubuntu 12.04 desktop i386.
As guide line from quick guideline
$ sudo add-apt-repository ppa:geonode/release
$ sudo apt-get update
$ sudo apt-get install geonode

After that i assign ip, and create superuser. it was done smoothly.

Since my job is to change theme of geonode, i trying to change theme.
I try to change base.html under template

[2015-05-11 06:11] simod commented on #2151
Hi, I strongly suggest you to use the geonode_project to style your geonode https://github.com/GeoNode/geonode-project. For the templates there's no need to restart the server but in any case is apache that is running geonode so the command is $ sudo service apache2 restart.

Please use the users mailing list to ask for support geonode-users@lists.osgeo.org.

Hope this helps

[2015-05-11 06:11] #2151 closed

[2015-05-12 08:21] rajanski commented on #2146
Same problem here, some styles for some layers can only be permanently edited via Geoserver Admin UI SLD Editor.
Also the abovementioned solutions by vdeparday and capooti don't neccessarily work always.

[2015-05-12 12:00] alesarrett opened #2152 "List of suggested resources overlaps search box"
When a user types some letters in the search box, the suggested resources appear on top of the search box itself, making hard to see the text typed.
Could it be something related to the django-autocomplete-light library?
The screenshot below shows an example of that, typing the letter "a" in demo.geonode.org:
![selection_011](https://cloud.githubusercontent.com/assets/1692316/7586593/be70087c-f8ae

[2015-05-12 13:22] abersh commented on #1673
what are the disadvantage of geonode?

[2015-05-12 13:26] simod commented on #1673
STOP posting here

[2015-05-13 07:50] rajanski opened #2153 "Impossible to copy values from attribute table / feature info tooltip in map view"
It is not possible to simply copy a field value from an attribute table / info tooltip.
Tried Firefox and Chrome on Ubuntu, no avail.

[2015-05-13 08:01] MakersF opened #2154 "Docker installation provides no geonode manager script"
Hello,
I have installed geonode in a container using the docker file provided in this repo.
The setup was successful, and I can run the demo.

The problem is that I need to run some scripts ( `geonode updatelayers` ), but i get 'geonode: command not found`.

Does a solution to this exist?

[2015-05-13 08:09] simod commented on #2154
On docker geonode is installed in dev mode, you should use python manage.py updatelayers.

ps. do you mind using the users mailing list instead geonode-users@lists.osgeo.org.

[2015-05-13 08:09] #2154 closed

[2015-05-13 12:33] capooti commented on #1507
Back to this, I will try to do a recap.

Now from GeoServer 2.5 we have SLD REST Service in core GeoServer [1], therefore we can use it without problems. I already made some tests on some layers and it works very well, thanks to @simboss and his team for this!
@mbertrand I remember you created this PR [2]: now it would be very handy to finally have this important feature in core GeoNode. @bartvde,

[2015-05-14 01:15] ramavanan opened #2157 "geo"

[2015-05-14 01:15] ramavanan opened #2158 "geo"

[2015-05-14 01:15] ramavanan opened #2159 "g"

[2015-05-14 01:16] ramavanan commented on #2159
Shall we use this geonode for enterprise application, Anybody can hack it , or we can directly use this geonodw

[2015-05-14 01:17] ramavanan commented on #2159
I want use this geonode for my official application

[2015-05-14 06:23] #2159 closed

[2015-05-14 06:24] #2158 closed

[2015-05-14 06:24] #2157 closed

[2015-05-15 09:58] alesarrett opened #2161 "Private groups (and members) still visible"
The new functionalities of the groups in Geonode allow to set a group as "private":
_Private: Registered users cannot see any details about the group, including membership. Only invited users can join_
My understanding is that a non registered user should not see whether a private group is present nor who its members are.
But the current behaviour is that, even setting the access as "private", the

[2015-05-15 11:06] rajanski commented on #1331
I would propose to add HeronMC to the list of possible Mapclients. It is based on OL3 and GeoExt. Also see http://lib.heron-mc.org/heron/latest/examples/querybuilder/

[2015-05-15 13:48] alesarrett commented on #1784
My suggestion here would be to move the rework suggested by state-hiu to the 2.5 milestone and to keep the correction of the current problem (visibility of private groups) in the 2.4.
This with the aim to accelerate the solution of an (hopefully) easier issue and to postpone a more wider but complex solution to next version.

[2015-05-15 13:48] alesarrett commented on #2161
Closed as duplicate of https://github.com/GeoNode/geonode/issues/1784

[2015-05-15 13:48] #2161 closed

[2015-05-18 06:09] matthewhanson commented on #2040
What is the status of this, was a later version of geoserver-geonode packaged?  The version from build.geonode.org/geoserver/latest/geoserver.war is still 2.5.1.

[2015-05-19 12:57] vlasvlasvlas commented on #1331
this:
'The mapping client should be independent from geonode and easily swappable.'

[2015-05-19 15:57] jj0hns0n commented on #321
@simod is this actually fixed? @milafrierichs was trying use this and wasnt sure if it worked. What perms are required?

[2015-05-19 16:05] simod commented on #321
@jj0hns0n Hm I honestly don't remember why I closed this. But I don't see that option in manage styles.

[2015-05-20 17:26] francbartoli opened #2164 "Admin roles inside a private group doesn't handle correctly the visibility of members"
This is related to issues #1784 and #2161 and splits the first into this bug for version 2.4 and moves the suggested fine-grained authorization model proposed by @state-hiu into the 2.5 milestone:

roles: notMember <----{inherits} (trivial though)--- Member <----{inherits}--- Manager <----{inherits}--- Superuser
- **Member** cannot see others with the same role (automatically the more privileged r

[2015-05-21 02:15] matthewhanson opened #2166 "Email addresses not added for new users added through admin"
When adding a new user through the admin (Users model), the email address is not added to the Email Addresses table.     Consequently, if you forget your password it cannot find your email address.

[2015-05-21 06:27] gamesbook commented on #2040
GeoServer 2.7.1 stable now released (http://sourceforge.net/p/geoserver/mailman/message/34130798/)

[2015-05-21 06:41] simod commented on #2166
We have this piece of code to handle that https://github.com/GeoNode/geonode/blob/master/geonode/people/models.py#L146, but I'm wondering why is not working anymore. Need to investigate. Thanks Matt

[2015-05-23 23:41] pjdufour opened #2169 "Abstract Cutoff and Ellipsed"
On the layer detail page a layer's abstract is cutoff and ellipsed.  On the layer search results it is in full.

From a user experience perspective, we should add a [...], [+++], [more], or similar button instead of the ellipses.  This button would show the rest of the abstract, similar (but somewhat different) to the [i] buttons next to category, license, etc.

However, we **should** cutoff the d

[2015-05-26 03:45] pjdufour commented on #2169
Similar to #1381

Using the following downstream to hotfix.  Also, urlize is having some issues so removed that.  Maybe we should support markdown instead of urlize (https://docs.djangoproject.com/en/1.4/ref/contrib/markup/).

[code]

[2015-05-27 05:24] pjdufour opened #2170 "CKAN Harvest Breaks"
CKAN harvest from GeoNode doesn't work when ordering by apiso:Modified, such as the command below.  Seems to be an issue with https://github.com/GeoNode/geonode/blob/master/geonode/catalogue/backends/pycsw_local_mappings.py#L39.  It returns a `Cannot resolve keyword 'last_modified' into field. ` error.

Do we even have a "last_modified" field in the base object?  Should we just change the pyscsw:M

[2015-05-27 14:48] rajanski commented on #2031
Hey can we reopen this? it still happens on my 2.4b25 installation

[2015-05-27 15:25] simod commented on #2031
Can you post the errors you get on the ml? On the demo site seems to work

[2015-05-27 16:48] tomkralidis commented on #2170
fixed in master: https://github.com/GeoNode/geonode/commit/7f0be62c4e623759b80b9de8e863cd8fc007e3e2

[2015-05-27 20:35] pjdufour commented on #2170
Am I reading the pycsw_local_mappings.py file correctly?  Should `pycsw:CreationDate` (link below) change to `date`, too?  Is everything on the right side supposed to be a field in the ResourceBase class?

https://github.com/GeoNode/geonode/blob/master/geonode/catalogue/backends/pycsw_local_mappings.py#L45

[2015-05-27 21:46] tomkralidis commented on #2170
cc @capooti

@pjdufour good catch.  Yes, everything on the right should either be a field or `@property`, the latter of which better suited for returnables as opposed to queryables.  The way pycsw works in GeoNode is that a flat mapping is passed between them.

The problem here is that GeoNode defines these in a more normalized fashion and pycsw defines them more strongly typed to make for easier

[2015-05-28 07:32] rajanski commented on #2031
HI I dont get any errors, it is just notworking, along the lines of : There is a PUT request happening at the start of the editing session. This put request is never returning, therefore, no other request are made and the style is not changed.

[2015-05-28 07:43] capooti commented on #2170
@tomkralidis do I understand correctly that you would need to change ResourceBase.date field from DateTimeField to DateField?
If so, I think we will need to discuss with others as at this point we cannot do schema changes the official release.

[2015-05-28 07:47] simod commented on #2031
Well, the behavior of the PUT is correct, on demo is the same. Let's switch to the ml to understand any potential errors.

[2015-05-28 11:53] tomkralidis commented on #2170
@capooti more like removing date and date type and replacing with date_publication, date_revision, and date_creation. This would be a more dramatic schema change however.

We can leave as is and I can hardwire date as the mapping into all the pycsw mappings if this is okay with folks.

Sent from my iPhone

[2015-05-28 12:06] simod commented on #2170
Cool, we should ticket this change for 2.5.

2015-05-28 13:53 GMT+02:00 Tom Kralidis <notifications@github.com>:

--
Simone

[2015-05-28 12:19] capooti commented on #2170
excellent, +1 to both things (hardwire now, and dramatic schema change targeted to 2.5)

[2015-05-28 12:52] tomkralidis commented on #2170
Fixed in master.  Pushing to 2.5 for schema change.

[2015-05-28 13:31] pjdufour opened #2171 "Mobile Design / Extent Search"
The extent search filter should be hidden by default on search pages for mobile browsers, since it requires a lot of scrolling to get past.

[2015-05-28 17:47] ccosse commented on #2171
On Thu, May 28, 2015 at 7:31 AM, Patrick Dufour <notifications@github.com>
wrote:

A map-lock feature that protects the user from accidentally zooming would
be nice ... would that be in the realm of GeoServer or OpenLayers?

[2015-06-01 00:07] pjdufour commented on #1726
@capooti, any update on this?  What still needs to be done?  We're just beginning to integrate CKAN and GeoNode.  We need the CSW endpoint to do a perms check.  Otherwise, we'll be unable to stage layers as private on our site before making public.  Right now the CKAN harvest grabs everything (including private layers).  I can probably find some time to work on this over the next couple weeks.

[2015-06-01 00:21] pjdufour opened #2173 "Uploader / Report Projection Error and Hardcode Projection"
Sometimes an upload stalls silently without an error because it cannot decode the .prj file for a shapefile.  For example, the first block below works but the second block does not.  They both represent EPSG:4326 (WGS 84), but QGIS, ArcGIS, GeoNode, and other programs are not consistent in how they write the .prj file.  Currently, I just manually copy over the .prj before uploading.

First, users

[2015-06-01 01:31] ingenieroariel commented on #2173
This is a great idea. A dropdown menu from geoserver compatible EPSG codes
may be better than pasting the prj in most cases, don't you think?

On Sun, May 31, 2015 at 7:21 PM, Patrick Dufour <notifications@github.com>
wrote:

[2015-06-01 01:32] ingenieroariel commented on #2170
+1

On Thu, May 28, 2015 at 7:52 AM, Tom Kralidis <notifications@github.com>
wrote:

[2015-06-01 01:34] ingenieroariel commented on #2031
This is the same problem I saw when we were at the sprint. A PUT request
that never returned.

On Thu, May 28, 2015 at 2:47 AM, Simone Dalmasso <notifications@github.com>
wrote:

[2015-06-01 07:34] capooti commented on #1726
we have the following two permissions that are related to metadata at some extent:

view_resourcebase
change_resourcebase_metadata

In the first case from GeoNode the user cannot see the layer, therefore won't have access to the "download metadata" button. But we need to have pycsw and geonetwork be consistent with this (the user could figure out the metadata link).
In the second case, the "edit m

[2015-06-01 11:22] tomkralidis commented on #1726
For pycsw access logic to 'check for public' is required in https://github.com/geopython/pycsw/blob/master/pycsw/plugins/repository/geonode/geonode_.py to only advertise 'public' layers I'm guessing?

I think for GeoNetwork transactions are not necessarily disabled, yet available to a given auth level.  The GeoNode connection to GeoNetwork usually has admin privs to enable synchronization, etc.  S

[2015-06-01 12:15] capooti commented on #1726
@tomkralidis what about checking if the user (request.user) has view_resourcebase permission on the resource of the given uuid (request.GET.id) here:
https://github.com/GeoNode/geonode/blob/master/geonode/catalogue/views.py#L38

[2015-06-01 12:47] tomkralidis commented on #1726
@capooti if we did this at https://github.com/GeoNode/geonode/blob/master/geonode/catalogue/views.py#L38, then this would apply to the entire CSW I think? This needs to be done deeper within the pycsw plugin where the actual data binding happens?

[2015-06-01 16:09] JJediny opened #2174 "AttributeError 'GroupInvitation' object has no attribute 'send'"
Traceback:
File "/usr/local/lib/python2.7/dist-packages/Django-1.6.5-py2.7.egg/django/core/handlers/base.py" in get_response
  112.                     response = wrapped_callback(request, *callback_args, **callback_kwargs)
File "/usr/local/lib/python2.7/dist-packages/Django-1.6.5-py2.7.egg/django/views/decorators/http.py" in inner
  41.             return func(request, *args, **kwargs)
File "/usr

[2015-06-02 15:11] simod commented on #2174
@JJediny are you using b25? on master should be fixed by https://github.com/GeoNode/geonode/commit/d4955606deb47034d249524eac98481ffb5d790f

[2015-06-02 22:53] pjdufour opened #2175 "CSW / Missing Links for Documents"
The CSW XML for documents only includes links to the document detail page (`http://example.com/documents/3`) and does not include links to the actual document (`http://example.com/documents/3/download`).

For example of CSW XML:

http://geonode.state.gov/catalogue/csw?request=GetRecords&service=CSW&version=2.0.2&resultType=results&maxRecords=1000&elementsetname=full&typenames=csw:Record&outputsche

[2015-06-02 23:19] pjdufour commented on #2173
So where would you get the list of supported SRS codes come from?  There is a GeoServer page under "Demos" in the web UI (https://github.com/geoserver/geoserver/blob/2.6.x/src/web/demo/src/main/java/org/geoserver/web/demo/SRSListPage.java) but I can't find a REST endpoint easily.

What's the difference between REST vs. importer uploaders for this?  Is REST core geoserver and importer an extension,

[2015-06-02 23:52] tomkralidis commented on #2175
cc @simod @capooti

I think this means we simply add another link type when the Document object gets created?  pycsw will then pick this up automagically.

[2015-06-02 23:57] pjdufour commented on #1022
See the following page to learn how to get geospatial data into Data.Gov and GeoPlatform.

http://www.digitalgov.gov/resources/how-to-get-your-open-data-on-data-gov/#federal-geospatial-data

The CSW endpoint is still accepted (and I would say preferred to data.json).  For many agencies the data.json endpoint is controlled by a non-geospatial office and is managed in a legacy system (SharePoint, or

[2015-06-03 00:25] tomkralidis commented on #1022
@kalxas has implemented the data.gov CSW and could perhaps speak to CKAN harvesting.  It's worth  articulating the gaps in GeoNode's metadata model on CSW output so we can apply and achieve harvesting/federation.

[2015-06-03 00:55] pjdufour commented on #1022
Yes, hopefully we can do a more thorough review of the gaps at some point (Comparing ISO 19115 vs. actual GeoNode implementation vs. OMB/data.json requirements).

CC @JJediny

[2015-06-03 02:16] ingenieroariel commented on #2173
Importer used to be something totally separate, but it is now part of all
geoservers. I believe we should do the same for both backends and that we
can create a REST endpoint for GeoServer to give us such list.

-a

On Tue, Jun 2, 2015 at 6:19 PM, Patrick Dufour <notifications@github.com>
wrote:

[2015-06-03 02:19] pjdufour commented on #2175
I'm working on this in my csw_fixes branch (https://github.com/GeoNode/geonode/compare-/GeoNode:master...pjdufour:csw_fixes?expand=1.)  Does the proposed name/ext/mimetype generation algorithm work?

I tried replicating the methodology used in the geoserver signals.  It's a little confusing to implement since we have hosted and external documents.

It generates something like the following:
[code]