[2016-04-26 11:46] #2474 closed

[2016-04-26 11:47] pjdufour commented on #2474
GeoNode's geoserver doesn't package the metadata (as *.xml) with a zipfile download (or any GeoServer by default). This is a feature request and not a bug. Will require some geoserver integration work, using WPS or WFS.

See #1240 for more info.

Closing, b/c duplicate.

[2016-04-26 16:50] vdeparday commented on #2474
@d3netxer you can download the .xml separately from the download metadata button but yes it would be better to have them packaged together as described in #1240

[2016-04-29 10:33] etj commented on #2453
How to enable the ISO+XSL metadata output
=============================

1. **Enable the contrib module**
   This functionality is implemented as a contrib module to be less invasive as possible.
   In the ``settings.py``(or local-settings) file, enable the ``geonode.contrib.metadataxsl`` app.

1. **Update the existing resources**
   In order to make it possibile for a resource to have its metadat

[2016-04-30 17:27] pjdufour commented on #2467
So the big gain is for registering remote services in GeoNode?

[2016-04-30 17:32] pjdufour commented on #2466
+1 from a workflow perspective.  I'd rather "regress" and remove support for schema changes.  Dealing with geoserver-integration for styling changes is too difficult at the moment.  If it's schema changes vs. consistent styles, I think consistent styles is more important.

[2016-04-30 17:33] pjdufour commented on #2464
Sorry if I should no this, but what is haystack used for?  If it is just inactive code, maybe we should just remove it?

[2016-04-30 17:45] simod commented on #2464
Haystack is for searching using a full text engine like ElasticSearch or Solr. It is used in many donwstream project and for the future we should use it more. We will refactor it but I think it should stay.

[2016-04-30 17:50] tomkralidis commented on #2467
Remote services and resources (i.e. existing of standalone datasets, etc.)

[2016-05-02 02:33] jodygarnett commented on #2363
It is up to your comfort level as a steering committee - if you would like
a web based solution I will do my best to make that happen. While you are
operating on behalf of the foundation - but the GeoNode committers ARE the
project - much more so than the codebase.

Two ideas:
- github page, where contributors add their contact details to the list?
This is kind of nice as contributors could edit t

[2016-05-02 15:26] capooti commented on #2466
I think we should include a boolean parameter (for example is_replace_layer) in geoserver.helpers.cascading_delete, and execute this code only if it is false:
https://github.com/GeoNode/geonode/blob/master/geonode/geoserver/helpers.py#L276

Then we can reassign the styles to the layer reading on the django database in layers.views.layer_replace after the call to cascading_delete. Another approach

[2016-05-06 14:58] cliffpat opened #2476 "Errors relating to remote services"
Using GeoNode 2.4, I tried to add a remote service but once added, I am unable to use these layers in GeoExplorer without getting 502 and 505 errors. Except for the changes below, I have made no changes to the configuration. This is a fresh installation on Ubuntu Server 14.04. Here's what I did:

1) Add remote service URL in GeoNode using auto-detect selection. To recreate, this is the URL I used:

[2016-05-06 17:21] jj0hns0n commented on #2363
+1 on just doing a github issue like pycsw has done. @bitner can you take
the lead on this?

On Sun, May 1, 2016 at 7:33 PM, Jody Garnett <notifications@github.com>
wrote:

[2016-05-06 17:54] jodygarnett commented on #2363
I would recommend a page in your dev docs - we are looking for a public
confirmation after all. A github issues that cannot be closed are a bit
suspect :)
On Fri, May 6, 2016 at 1:22 PM Jeffrey Johnson <notifications@github.com>
wrote:

--
--
Jody Garnett

[2016-05-06 18:06] simod commented on #2476
hi do you mind using the mailing lists geonode-users@lists.osgeo.org to request for support? this is only for confirmed bugs.

[2016-05-06 18:06] #2476 closed

[2016-05-06 18:12] jj0hns0n commented on #2363
A github issue is the path of least resistance ... it worked for pycsw, so
it should work for us, please lets not complicate this anymore than we need
to.

On Fri, May 6, 2016 at 10:54 AM, Jody Garnett <notifications@github.com>
wrote:

[2016-05-09 15:38] cliffpat commented on #2476
Done! Thanks!

[2016-05-09 22:43] marcelovillarroel commented on #1951
Hi achorivai,
Could you please send a link to mouseposition.js file?

Thanks,

[2016-05-10 19:30] ingenieroariel commented on #2363
Jeff, I think pycsw closed that issue once they had caught up with all old
contributors. @tomkralidis what does pycsw do with contributors after that
issue was closed?

On Fri, May 6, 2016 at 1:12 PM, Jeffrey Johnson <notifications@github.com>
wrote:

[2016-05-10 19:34] tomkralidis commented on #2363
cc @kalxas
@ingenieroariel nothing.  It's there, and the process continues for [new contributions](https://github.com/geopython/pycsw/blob/master/CONTRIBUTING.rst#contributions-and-licensing) over time. In general, the motivation was to get something in public and show effort/movement, even if not complete/100% per se.

[2016-05-17 20:52] maning opened #2478 "Add Mapbox Streets and Satellite to basemap/background layer"
Want to try this, but not sure where to start in the code.
Is it here: https://github.com/GeoNode/geonode/blob/12e9c252fe1c96096a36e36da7c724dd7e6a4f7f/geonode/settings.py#L643

Any ideas?

[2016-05-19 12:28] pjdufour commented on #2451
This is hard.  Documentation on upgrading is not great and factory functions have been removed.  Happy to take suggestions on maintaining DRY.  Might need to wait a few more months until broader adoption by open source community of version 3.x.

Working on it https://github.com/pjdufour/geonode/commits/dal-3.1.5

[2016-05-19 12:32] pjdufour commented on #2453
Looks great!  For maintainability, can you add this as a README.md (or README.rst) to the contrib app folder?

For example, look at the EXIF readme at:
https://github.com/GeoNode/geonode/tree/master/geonode/contrib/exif

[2016-05-19 12:49] pjdufour opened #2479 "Pavement Warnings"
To simplify the developer experience, we should add more verbose warnings to pavement.

For example, if you run `reset` or `reset_hard` before `setup`, it throws a low-level filesystem error instead of alerting the users how to execute the commands in the proper order.

https://github.com/GeoNode/geonode/blob/master/pavement.py#L120

[code]

[2016-05-19 18:10] #2453 closed

[2016-05-31 17:07] etj commented on #2453
@pjdufour you can find the README file on PR https://github.com/GeoNode/geonode/pull/2484

[2016-05-31 17:24] etj opened #2485 "Validate ISO metadata before injection into the catalog"
In order to help whichever customization could be done on the ISO19139 template, the system should perform a validation on the ISO metadata once it is created merging the user provided info and the template.

The validation info (that is, if the metadata is valid, and, optionally, any validation error found during the validation process) should be made visibile in the administration pages, so that

[2016-05-31 17:49] tomkralidis commented on #2485
@etj thanks for the info.  How is the validation machinery supposed to work?  Is there an approach in mind?

[2016-05-31 18:16] etj commented on #2485
I'm putting some validation logic in geonode.catalog, which performs the validation according to a requested schema. I'm putting in ISO19139 and FGDC schemas for the moment, since the validation will be used also for testing imported metadata files (I'll open an issue about this in a few days).

The validation logic will then be run in ``catalogue_post_save``: just after the XML is created, it wil

[2016-06-01 03:27] mikefedak opened #2487 "syncdb fails in dev install docs"
https://github.com/GeoNode/geonode/blob/master/docs/tutorials/devel/devel_env/index.txt#L319

The development install more or less works as documented until this line. This will fail due to a django contenttypes related error. I noticed in the paver file, this is avoided by running a fake migration :

https://github.com/GeoNode/geonode/blob/master/pavement.py#L214

A workaround is just to run pave

[2016-06-01 10:17] etj opened #2488 "Provide DB initial migrations"
In order to have django properly update the db schema when some changes in the models are performed, it needs some initial migration files, as described in
    https://docs.djangoproject.com/en/1.8/topics/migrations/.
This change may still be related to the porting to django 1.8.

For each release we could as well provide the unique migration script by making django squash the single migrations cr

[2016-06-01 19:40] darinacosta opened #2489 "Saving Metadata Overwrites Layer's Custom Thumbnail"
A new thumbnail is generated each time a layer's metadata is updated here: https://github.com/GeoNode/geonode/blob/master/geonode/geoserver/signals.py#L387

This overwrites custom thumbnails that are created here:
https://github.com/GeoNode/geonode/blob/master/geonode/static/geonode/js/utils/thumbnail.js

[2016-06-03 09:18] etj commented on #2488
Digging into migrations, it seems we also have to create migrations files for:
- geonode_dialogos-0.4
- geonode_agon_ratings-0.3.4
- geonode_user_accounts-1.0.10
- geonode_avatar-2.1.4
- geonode_announcements-1.0.7
- geonode_user_messages-0.1.2

in order to create a correct dependency graph, or we'll get errors creating FKs from one app to the other (mainly toward ``people_profile``).

[2016-06-03 17:33] etj commented on #2488
I created 7 PRs, one for each of the commits above on the different repos.

[2016-06-06 08:30] afabiani commented on #2488
+1

I guess this is an important improvement to have into GeoNode ASAP in order
to make it more stable and avoid errors when updating the several local
instances.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
5

[2016-06-06 16:00] jj0hns0n commented on #2363
@jodygarnett someone pointed me at this project. Looks like it should work
for us? https://github.com/clahub/clahub I believe I can have it email the
osgeo secretary too or at least modify it to do so. I can write to the
incubation list to discuss there if that makes sense?

On Tue, May 10, 2016 at 12:34 PM, Tom Kralidis <notifications@github.com>
wrote:

[2016-06-06 17:58] jodygarnett commented on #2363
This look amazing! Please discuss on incubation list :)

[2016-06-09 09:01] etj opened #2495 "Assigning icons to TopicCategories"
As descripted in #2408, TopicCategories shoud have an icon associated.

Since there may be problems in handling the size in uploaded images, here's an implementation which uses the icons from [Font Awesome](http://fontawesome.io/). FontAwesome [is already used in GeoNode](https://github.com/GeoNode/geonode/tree/master/geonode/static/geonode/fonts) so there's no further data to add to the repo.

Th

[2016-06-09 15:08] etj commented on #2487
This issue should be solved by the PR related to https://github.com/GeoNode/geonode/issues/2488.

[2016-06-09 15:15] etj opened #2498 "Update installation doc for migration"
In the documentation, the steps including a call to `syncdb`, such as

[code]

should be replaced with calls to the `migrate` command.

Please also keep in mind that, according to https://docs.djangoproject.com/en/1.8/howto/initial-data/#automatically-loading-initial-data-fixtures :

So probably we may want to add in the documentation a call to the `loaddata` command as well.

[2016-06-09 15:15] etj commented on #2487
Please also check https://github.com/GeoNode/geonode/issues/2498

[2016-06-09 18:10] capooti commented on #2495
I love it :)

[2016-06-09 18:11] capooti commented on #2495
can you send a PR with this?

[2016-06-09 18:17] etj commented on #2495
Already done, and already merged as far as I can see :)

[2016-06-13 14:29] sarasafavi opened #2501 "Warnings at server runtime after migration to Django 1.8"
Django's new system checks (https://docs.djangoproject.com/en/1.8/ref/checks/) generate a handful of warnings at runtime:

[code]

I'm currently working on these... Resolving will affect deps as well as GeoNode core; creating this issue to aggregate PR links once they are completed.

[2016-06-13 15:31] sarasafavi commented on #2501
Related PRs:

https://github.com/GeoNode/geonode-dialogos/pull/2
https://github.com/GeoNode/geonode-user-accounts/pull/6

More to come.

[2016-06-15 02:23] JJediny commented on #2478
You can add mapbox service as a XYZ basemap - See #1286

**Replace ######## with Mapbox Map ID**
[code]

[2016-06-15 12:55] gyegon commented on #1063
I have an issue: edit and query buttons are disabled in geo. This app use to be OK and then went wrong without doing anything on my server. How can I fix this ? Thanks

[2016-06-15 12:56] gyegon commented on #1063
I have an issue: edit and query buttons are disabled in geoexplorer. How can I fix this ?

[2016-06-15 14:19] BerryDaniel opened #2506 "404 error for cookie.js"
geonode/js/upload/cookie.js is no longer present in static directory

[2016-06-15 16:53] ehl120 opened #2507 "Could not find layer?"
Added a large TIF image (16GB) to geoserver data directory. Preview is OK from geoserver as well as the map created through GeoNode. However, when not signed in to GeoNode and try to view the map as a guest. The image layer is not showing up. Permission is set everyone can view the map from GeoNode. I check the log and it says:

2016-06-15 09:43:29,190 INFO [geoserver.wms] -
Request: getServiceInf

[2016-06-15 17:30] ehl120 commented on #2507
The Chrome debut tool tells me this: "Failed to load resource: the server responded with a status of 401 (UNAUTHORIZED)"

What was that? Should I upload the 16GB image using GeoNode Upload Layers?

[2016-06-15 17:41] jj0hns0n commented on #2211
@afabiani this can be closed now that this is merged right? Lets make sure we do some final careful testing before the 2.5

[2016-06-15 17:41] jj0hns0n commented on #2401
@afabiani this work is complete now correct? Do we have docs? (apologies if I missed them)

[2016-06-15 17:42] jj0hns0n commented on #2408
@afabiani do you think this will be ready for the first 2.5 (July 15th)

[2016-06-15 17:42] jj0hns0n commented on #2467
@tomkralidis is this ready for 2.5?

[2016-06-15 17:42] jj0hns0n commented on #1915
@capooti do you think we can work together to get this ready for the first 2.5 in about a month?

[2016-06-15 17:57] ehl120 commented on #2507
This may help:
https://groups.google.com/forum/#!topic/geonode-users/5VPC4SxICGk

But I ran geonode updatelayers which helps add the raster layer to the GeoNode interface. Problem solved.

[2016-06-15 17:57] #2507 closed

[2016-06-15 20:44] capooti commented on #1915
I am pretty scheduled but I will try to work on this.

On Wed, Jun 15, 2016 at 1:42 PM, Jeffrey Johnson <notifications@github.com>
wrote:

--
Paolo Corti
Geospatial software developer
web: http://www.paolocorti.net
twitter: @capooti
skype: capooti

[2016-06-16 02:02] #2506 closed

[2016-06-16 02:39] BerryDaniel opened #2508 "Upload to GeoGIG does not display the repo pulldown"
When a user uploads vector data and selects the GeoGIG checkbox the repo select pulldown does not display. If a user attempts to upload, they will receive the following error:

```FailedRequestError: Error code (500) from GeoServer: :Store name must not be null```

[2016-06-16 07:53] etj commented on #2408
@jj0hns0n I'm afraid it won't, anyway many parts on the backend will be ready.

[2016-06-16 18:07] #2501 closed

[2016-06-17 08:20] pjdufour opened #2512 "Async Upload"
The `layer_upload` view is synchronous when data is uploaded via HTTP POST.  It should be asynchronous and return immediately instead of waiting on GeoServer.  This can easily lead to timeouts.

https://github.com/GeoNode/geonode/blob/master/geonode/layers/views.py#L132

To hotfix, you can extend the allowed timeout.  The view is "protected" by `@login_required` so shouldn't have direct negative c

[2016-06-17 08:35] pjdufour commented on #2512
Workaround for example:

[code]

[2016-06-17 15:25] amefad opened #2516 "Manage special characters in remote services layers names"
When trying to register a remote service in geonode like this:

http://servizigis.regione.emilia-romagna.it/wms/dbtr2013_ctr5_light?service=wms&request=Getcapabilities

Where the layer name is

public/DBTR2013_Ctr5_Light

Geonode throws a internal serverr error because the url of layer is not resolved due to the "/" character in layer name.

Amedeo Fadini

[2016-06-17 16:02] francbartoli commented on #2076
I reproduce this issue during the preparation of a vagrant box. As already reported by @simod the problem is the allocated memory to the virtual machine template used to install geonode. After setting this larger the problem disappears.

Regarding docker:

@gubuntu can you check run this command in your environment?

`docker-machine inspect default | grep -i memory`

@jj0hns0n still does make sens

[2016-06-17 16:15] capooti commented on #2516
Unfortunately we rely on layers.typename for both layer geonode identification (layer details page use this field) and for requesting the layer to the endpoint.
Therefore if we slugify the name GeoNode will not be able to do the correct request, as it needs the original name.
We would need a new field where to set the layer name in the endpoint, but given that it is a very specific case I would su

[2016-06-17 18:14] capooti opened #2519 "Django Admin layers and layer detail page are broken"
Most likely because of old versions of django-taggit, django-polymorphic, django-autocomplete-light and the recent update to django 1.8
Requires investigation.

[2016-06-19 06:59] DiliniHB opened #2520 "DB migration is not working"
Tried to perform db migration in the installation process with the command,
"python manage.py migrate"
but it failed giving the error,
"ProgrammingError: relation "people_profile" does not exist"

Can I know whether it is a version problem and what fixes I can do in order to get migration worked.

[2016-06-19 13:47] simod commented on #2520
Hi please use geonode-users@lists.osgeo.org to ask for support. Also add some details like the versions you are trying to migrate to/from.

[2016-06-19 13:47] #2520 closed

[2016-06-20 07:45] pjdufour commented on #2519
For DAL, see:  https://github.com/GeoNode/geonode/issues/2451

[2016-06-20 08:08] amefad commented on #2516
I definitely agree. Sent mail to the endpoint admin.

[2016-06-20 08:08] #2516 closed

[2016-06-20 08:17] amefad commented on #2448
Dont' know if it's a problem: It happens also with styles created in geoserver and imported using geonode updatelayers command, seems that geonode needs the tag  <UserStyle><Title> to name the style, i think it's better explain this in the user manual than modify the .sld without notitying.
Maybe GN could use the tag <Name> as a fallback when <title> is not found.

[2016-06-20 15:31] capooti commented on #2516
thanks @amefad

[2016-06-20 21:29] #2508 closed

[2016-06-23 14:13] mikefedak commented on #2177
Ran into this yesterday on a machine running 2.4. Changed the urls in the django settings as well as the proxy url in geoserver and then ran updatelayers. Thumbnails were not updated. Went into postgres and updated it manually.

[2016-06-27 13:54] francbartoli opened #2526 "GDAL bindings from ubuntu dev docs"
The issue is well described in this thread [osgeo module install problem](http://osgeo-org.1560.x6.nabble.com/osgeo-module-install-problem-td5209620.html) and happening by far

The only way to overcome that was to install the pygdal module which is undocumented and would be the recommended

[2016-06-27 20:12] d3netxer opened #2528 "Importing GeoNode metadata into QGIS"
I am testing downloading a shapefile from GeoNode and the metadata then opening the dataset in QGIS.

This is the layer I am testing: http://geonode.state.gov/layers/geonode%3ASyria_RefugeeSites_2016Jan21_HIU_DoS0

- I downloaded the data as a shapefile.

- I then downloaded the metadata and saved it as an xml file with the same basename as the shapefile.

here is the directory with all of my file

[2016-06-28 05:30] simod commented on #2528
Please don't use the issue tracker to ask for support. geonode-users@lists.osgeo.org is the place.

[2016-06-28 05:30] #2528 closed

[2016-06-28 11:41] #2526 closed

[2016-06-28 14:41] cliffpat opened #2531 "Severe bug: unable to revoke editing permissions"
Once a user is given editing permissions, it is not possible to revoke those permissions.

Follow these steps below or see screenshots in [this document](https://docs.google.com/document/d/1NSBZ1CyCW-k4_a87oe3LdeJzO0jkliPgFiGEXCqJIJI/edit?usp=sharing
)

1) Navigate to Layer Explorer and open one layer.
2) Change layer permissions to give a named user or group editing permission.
3) Test that editi

[2016-06-29 21:25] derklauer opened #2533 "Failure to syncdb"
Using [these directions ](http://docs.geonode.org/en/master/tutorials/install_and_admin/geonode_install/all_together.html) results in the follwing error on the syncdb step  I have back though and attempted to fix it with issue #767 and #1937 and it hs not resolved the problem.  This is a fresh install.

`WARNINGS:
account.EmailConfirmation.created: (fields.W161) Fixed default value provided.
	HINT

[2016-06-30 05:16] simod commented on #2533
hi, the docs refer to the geonode 2.4 stable release and do not track the master branch. Although master has indeed that issue that need to be fixed so I', flagging this as bug for 2.6.

[2016-06-30 13:05] derklauer commented on #2533
So is there a solution?

[2016-06-30 14:01] simod commented on #2533
We usually recommend to use the stable release, either with apt-get in ubuntu 14.04 or in dev mode from github branch 2.4.x. Maybe this thread can help you with the master branch https://lists.osgeo.org/pipermail/geonode-users/2016-June/001936.html.

ps. if you need further support could you please use geonode-users@lists.osgeo.org?

[2016-07-01 11:32] hieuintel opened #2534 "Download data from Map"
Dear All,

I'm researching GeoNode Platform. The first feel is quite comfotable but when I try to download data from map (I published) alway error. Please try this link to clear

http://118.70.184.30:3023/maps/3/download

Have anyone help me,
Thank a lot,
HieuIntel

[2016-07-01 13:06] simod commented on #2534
Hi, please use geonode-users@lists.osgeo.org to ask for support. This is only a bug tracking system.

[2016-07-01 13:06] #2534 closed

[2016-07-01 13:48] afabiani commented on #2401
Hi Jeffrey,
still missing the rest call to GeoServer. The GeoNode fixtures are ready
though, don't know if we want to split te work into two different PRs.

We have documentation for this work available here
http://training.geonode.geo-solutions.it/006_adv_workshop/005_data_migration/index.html#geonode-data-migration-workshop

which should be ported into the official GeoNode documentation and enri

[2016-07-01 13:50] afabiani commented on #2211
Yes.
It would be better to test it again after the latest commits on GeoNode
just to be sure anything has been broken.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 9

[2016-07-01 23:25] francbartoli opened #2535 "Thumbs are not removed after layers and maps have been deleted"
The directory _thumbs_ still continues to have thumbs of deleted layers and maps

[2016-07-02 05:10] hieuintel commented on #2534
Sorry and thank a lot,

Best

[2016-07-07 12:56] afabiani commented on #2533
Please read https://github.com/GeoNode/geonode/issues/2488

[2016-07-08 11:05] NyakudyaA opened #2542 "geoserver redirect url endpoint is not working."
# Problem

When trying to access geoserver from geonode interfaces it resolves to port 8080 which is the default geoserver port. It fails to redirect the geoserver considering that I have port forwarded a different port externally.

`docker run -d -p 8111:8000 -p 8181:8080 geonode`

![geonode](https://cloud.githubusercontent.com/assets/2510900/16685575/487cd202-450c-11e6-8372-4bf023a558ab.png)

Be

[2016-07-08 11:08] simod commented on #2542
Hi, you can set the correct geoserver location in the settings https://github.com/GeoNode/geonode/blob/master/geonode/settings.py#L505.

Ps please use geonode-users@lists.osgeo.org to ask for support.

[2016-07-08 11:08] #2542 closed

[2016-07-09 22:28] BerryDaniel opened #2544 "Issue with gsconfig > 1.0.3"
made change to gsconfig for converting integer port value to string, worked locally, but via the 1.0.4 package it didn't work.  Rolled back changes to gsconfig, worked locally, packaged to 1.0.5 and same error is reproduced.

Internal Server Error: /layers/geonode:CRI_roads/metadata
Traceback (most recent call last):
  File "/vagrant/.venv/lib/python2.7/site-packages/django/core/handlers/base.py",

[2016-07-09 23:48] BerryDaniel commented on #2544
removed the 1.0.4 and 1.0.5 pypi packages and removed tags.

[2016-07-11 11:06] afabiani opened #2546 "Update GeoServer version to 2.9.x"
Align the GeoServer extension for GeoNode and the GeoNode code-base to version 2.9.x of GeoServer.

[2016-07-11 14:47] #2544 closed

[2016-07-19 18:58] sarasafavi opened #2555 "Search functionality no longer works on people/groups"
Search only searches layers, maps, and documents -- should also search across people & groups

[2016-07-20 17:13] travislbrundage commented on #2519
Just as a note, I have had this happening for ResourceBase in general, so it affects both Layers and Maps.

[2016-07-21 09:13] abersh opened #2559 "configure geonode for production"
how to deploy geonode for production as separate dockers means goserver in one server(machine) and postgis in another server(machine) and geonode in another sever(machine) please help any one and share resources

[2016-07-21 10:06] #2559 closed

[2016-07-21 13:55] sarasafavi commented on #2555
Can't assign to myself: working this now

[2016-07-21 16:21] sarasafavi commented on #2464
Unable to self-assign; working this in conjunction with https://github.com/GeoNode/geonode/issues/2555

[2016-07-27 21:51] sarasafavi opened #2566 "Admin template exception when viewing/adding maps, layers, documents"
When viewing an individual map/layer/document, a NoneType exception is thrown, e.g.:

[code]
[code]

The same error occurs when adding via admin as well - this prevents the use of these admin views.

Seems to be related to django-autocomplete-light & the Django 1.8 GeoNode upgrade: reference this change [geonode/base/admin.py:133](https://github.com/GeoNode/geonode/blob/master/geonode/base/admin.p

[2016-07-28 12:52] pjdufour commented on #2566
For DAL (django-autocomplete-light), see:  https://github.com/GeoNode/geonode/issues/2451

[2016-08-02 09:19] amefad opened #2570 "Update geonode ssl guide"
The guide in the advanced tutorial http://docs.geonode.org/en/master/tutorials/advanced/geonode_production/ssl.html
has some old file paths. In a standard Geonode 2.4 installation the file locations ar eslightly different.

[2016-08-03 13:56] amefad opened #2572 "Internal server error adding new user with email address already in db"
In Geonode 2.4 standard installation (ubunt14 ppa) I tried to add a new user with different profile, managed by me.
It raises "internal server error" due to the constraint
account_emailaddress_email_key UNIQUE(email)
on table
account_emailaddress.

Maybe is it possible to get a different error from application when a constraint is violated?

amefad

[2016-08-03 15:31] jj0hns0n opened #2573 "Private layers show in auto-complete search"
I have a geonode with several hundred layers, only a few dozen are public. All layers show in the auto-complete dropdown in the header, regardless of whether they are private or not.

[2016-08-04 06:58] artists974 opened #2574 "Problem when splitting keywords in metadata"
When someone adds multi-words keywords, they are sometimes splitted in several distinct words. For example :

Mountains, Lakes --> No problem, will give "Mountains", "Lakes"
Urban Environment, Lakes --> No problem, will give "Urban Environment", "Lakes". This is because there is at least one comma, so I suppose Python understands that the separator is the comma. The problem comes either if there i

[2016-08-04 06:59] artists974 opened #2575 "Notifications translation"
When I'm on Notifications section, nothing is translated. Yet, I can see that everything is translated in django.po files, and also in python code.

[2016-08-04 07:09] artists974 commented on #2555
Maybe it doesn't work because of

- this part in search_scripts.html :

  {% get_context_resourcetype as pathc %}
	{% if pathc == "layers" %}
		AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "LayerAutocomplete" %}';
	{% elif pathc == "maps" %}
		AUTOCOMPLETE_URL_RESOURCEBASE = '{% url "autocomplete_light_autocomplete" "MapAutocomplete" %}';
	{% elif pathc == "documents"

[2016-08-04 08:07] pjdufour opened #2576 "Decimal Places for Extent Filter in Query String"
Could we cut off the decimal places for the extent filter bbox in the query string to 4 decimal places?  Currently uses the full precision numbers for bbox, which isn't necessary.

[2016-08-04 14:19] stan4gis opened #2577 "Tutorial vm_setup_virtualbox.txt : missing step"
Seems me a  step is missing for windows (at least) users in tutorial "VM Setup with VirtualBox" : an iso of ubuntu must be downloaded before being choose in Virtual Box "choose a virtual optical disk file" dialog.

[2016-08-05 21:19] capooti commented on #2574
I believe this should be addressed to django-taggit issue tracker

[2016-08-09 15:19] sarasafavi opened #2579 "GeoNode installation fails with EOFError"
The change introduced in this commit (https://github.com/GeoNode/geonode/commit/ea2b2925056a4660dfc4896b26ca95dd95180772) throws an error which causes automated provisioning/build processes to fail:

[code]

In the future we may want to consider restricting committing directly into master without going through a PR process; at minimum Travis CI should be allowed to sanity check things like build-f

[2016-08-15 16:46] sarasafavi commented on #2555
@artists974 so those fixes mostly work to add People/Groups back into DAL config (so that people/group autocomplete results show up after typing in the header's search box). Ref #2582 for a proposed patch that does that.

However, this doesn't fix search itself. I originally was told that profile/group search functionality used to exist (and therefore assumed this was a regression), but on further

[2016-08-15 20:16] sarasafavi commented on #2579
A reversion commit has been raised (#2583): if @afabiani or someone else can chime in with the intended effect of that original commit, we can work on a replacement implements the desired functionality without the bug above.

[2016-08-18 17:30] gantonio89 opened #2588 "Is someone changed the admin user password in the geonode demo site?"
I'm trying to login with default user (admin) and password (admin) but the informations are incorrect.
How can it be solved?
Thanks

[2016-08-19 04:27] dmcd commented on #2092
Is there a work around for this? I'm having difficulty running the install on Mac and would prefer to use docker.

[2016-08-19 09:30] simod commented on #2588
Password reset. Thanks.

Ps, next time do you mind using geonode-users@lists.osgeo.org instead of opening a ticket?

[2016-08-19 09:30] #2588 closed

[2016-08-19 11:50] gantonio89 commented on #2588
Ok! I will remember it.
Thank you very much!

Antonio

2016-08-19 11:30 GMT+02:00 Simone Dalmasso <notifications@github.com>:

[2016-08-21 06:25] jj0hns0n commented on #2579
@sarasafavi @afabiani can you guys update us on the status of this one?

[2016-08-21 06:26] jj0hns0n commented on #2577
@stan4gis can you send a PR to fix this? @afabiani I believe you guys worked on this, can you take a look?

[2016-08-21 06:26] jj0hns0n commented on #2575
@collaer can you take a look?

[2016-08-21 06:27] jj0hns0n commented on #2574
@artists974 did you send this upstream to the django-taggit issue tracker? If so, can we close?

[2016-08-21 06:28] jj0hns0n commented on #2573
@simod this is pretty nasty, can we look together and ensure perms are enforced on autocompletes.

[2016-08-21 06:28] jj0hns0n commented on #2572
@amefad can you test with master and let us know if this is still an issue?

[2016-08-21 06:29] jj0hns0n commented on #2570
@amefad can you issue a PR to fix this?

[2016-08-21 06:29] jj0hns0n commented on #2566
@sarasafavi is this still occuring? Can we look during the sprint.

[2016-08-21 06:30] jj0hns0n commented on #2555
+1 on implementing option 3. @sarasafavi can we look at this during the sprint?

[2016-08-21 06:30] jj0hns0n commented on #2533
Guys is this still an issue?

[2016-08-21 06:32] jj0hns0n commented on #2495
@artists974 has this been merged? can we close this?

[2016-08-21 06:32] jj0hns0n commented on #2489
@darinacosta can we close this?

[2016-08-21 06:33] jj0hns0n commented on #2488
Can we close this??

[2016-08-21 06:33] jj0hns0n commented on #2487
@mikefedak @etj can we close this now?

[2016-08-21 06:33] jj0hns0n commented on #2485
@tomkralidis @etj what is the status of this one?

[2016-08-21 06:34] jj0hns0n commented on #2478
@BerryDaniel can we close this now with the recent baselayers work?

[2016-08-21 06:36] jj0hns0n commented on #2464
@simod @sarasafavi what is the status on this one?

[2016-08-21 06:36] jj0hns0n commented on #2456
@BerryDaniel how does this work now with the new work on baselayers?

[2016-08-21 06:37] jj0hns0n commented on #2451
@karakostis @pjdufour whats the status on this?

[2016-08-21 06:38] jj0hns0n commented on #2444
@nathanhilbert @afabiani can we close this now?

[2016-08-21 06:38] jj0hns0n commented on #2447
@pjdufour whats the status on this?

[2016-08-21 06:39] jj0hns0n commented on #2436
We should probably just remove the Google Earth plugin from GeoExplorer for now. @bartvde can you help with this? Not sure how easy it is to switch to terria.js or cesium.

[2016-08-21 06:40] jj0hns0n commented on #2435
We should update the copyright to show its now owned by OSGeo. @rob-metalinkage can you send a PR to update the docs where you indicate?

[2016-08-21 06:41] jj0hns0n commented on #2427
@BerryDaniel didnt you guys work on this issue or around it? If so can we fix and/or close?

[2016-08-21 06:42] jj0hns0n commented on #2425
@cwgrant these should be fixed, can you verify and close? (not they are all without the .html now)

[2016-08-21 06:42] jj0hns0n commented on #2421
@piyush-shah @afabiani can we close this now?

[2016-08-21 06:43] jj0hns0n commented on #2413
@d3netxer can you issue a PR to update this in the docs?

[2016-08-21 06:44] jj0hns0n commented on #2386
@afabiani can we look at this during the sprint?

[2016-08-21 06:44] jj0hns0n commented on #2379
@gsolat can you update this?

[2016-08-21 06:45] jj0hns0n commented on #2378
@capooti @jmwenda whats the status on this?

[2016-08-21 06:45] jj0hns0n commented on #2359
@jmwenda did you work on this?

[2016-08-21 07:26] jj0hns0n commented on #889
There was a thread about this feature from WFP. @pjdufour do you have any insight on the status. Would be good to get merged for 2.5/2.6 but moving to 2.7 for now until we know.

[2016-08-21 07:26] jj0hns0n commented on #886
@capooti any update on this? Moving to 2.7 for now, but feel free to move back if its going to get in in time.

[2016-08-21 07:27] jj0hns0n commented on #848
My portals branch is still outstanding. If anyone is interested in working on this, let me know. Moving to 2.7 for now.

[2016-08-21 07:27] jj0hns0n commented on #818
@BerryDaniel lets discuss this during the sprint.

[2016-08-21 07:28] jj0hns0n commented on #770
@tomkralidis any update on this one? I think its not anywhere near done, so moving to 2.7

[2016-08-21 07:28] jj0hns0n commented on #632
@simod some of this was re-implemented right? Lets discuss during the sprint. Moving to 2.7 for now though.

[2016-08-21 07:29] jj0hns0n commented on #258
@simod what is the status of the collections work now? I think it should be possible to merge it right?

[2016-08-21 07:29] jj0hns0n commented on #255
@simod lets discuss during the sprint in light of djmp. Moving to 2.7 anyway.

[2016-08-21 07:33] jj0hns0n commented on #2454
@pjdufour I think we plan to bail on pavement in favor of a docker setup. but moving to 2.7 for now. @ingenieroariel let us know your thoughts here.

[2016-08-21 07:34] jj0hns0n commented on #2395
@pjdufour any update here? Moving to 2.7 as it wont get done this week I presume.

[2016-08-21 07:34] jj0hns0n commented on #2372
@capooti do you think this will get done this week? In any case, moving to 2.7

[2016-08-21 07:34] jj0hns0n commented on #2357
The services module will likely get replaced in favor of djmp. Lets discuss.

[2016-08-21 07:35] jj0hns0n commented on #2332
@tomkralidis any update on this? Moving to 2.7 but feel free to move back.

[2016-08-21 07:36] jj0hns0n commented on #2285
@capooti is this implemented? Moving to 2.7 in any case.

[2016-08-21 07:37] jj0hns0n commented on #2202
@pjdufour this seems fairly straightforward, but moving to 2.7 for now.

[2016-08-21 07:37] jj0hns0n commented on #2184
@JJediny any update on this? Moving to 2.7 anyway.

[2016-08-21 07:38] jj0hns0n commented on #2183
@capooti whats the status on this? Can we do this now or in 2.7? Moving to 2.7 for now.

[2016-08-21 07:38] jj0hns0n commented on #2153
@bartvde any idea on this one?

[2016-08-21 07:39] jj0hns0n commented on #2098
this will be addressed by djmp.

[2016-08-21 07:41] jj0hns0n commented on #2085
@afabiani this is one that I think you guys can look into. It comes up a lot. There is currently no way to disable the wfs but keep the wms working for a layer. Moving to 2.7

[2016-08-21 07:42] jj0hns0n commented on #2038
need to reconsider this in light of djmp. Moving to 2.7

[2016-08-21 07:45] jj0hns0n commented on #1913
@pjdufour can you link this to the other issue that discusses this in the context of a management command and close one or the other.

[2016-08-21 07:46] jj0hns0n commented on #1806
@BerryDaniel didnt you guys do some work on this. Moving to 2.7 anyway.

[2016-08-21 07:46] jj0hns0n commented on #1791
@simod I think this was implemented right?

[2016-08-21 07:46] jj0hns0n commented on #1766
@BerryDaniel didnt you guys do some work on this? Moving to 2.7 anyway.

[2016-08-21 07:47] jj0hns0n commented on #1507
Any update on this? Seems we can port over some work from Worldmap?

[2016-08-21 07:49] jj0hns0n commented on #1331
@bartvde @ahocevar lets talk about this during FOSS4G in the context of the new websdk

[2016-08-21 07:49] jj0hns0n commented on #1329
@BerryDaniel lets talk about this now that its documented. May just be able to close? Moving to 2.7 anyway.

[2016-08-21 07:50] jj0hns0n commented on #1125
@tomkralidis can we merge this? or was it already merged?

[2016-08-21 07:54] jj0hns0n commented on #2546
@afabiani are we up to date with GS now? If so, lets close.

[2016-08-21 07:55] jj0hns0n commented on #2512
@pjdufour @BerryDaniel should we just update the packages for now. We will switch to the new importer soon.

[2016-08-21 07:55] jj0hns0n commented on #2467
@tomkralidis this can be closed as merged now right?

[2016-08-21 07:55] jj0hns0n commented on #2430
This is complete now correct? If so, lets close.

[2016-08-21 07:55] jj0hns0n commented on #2408
@etj @afabiani can you give us an update on this?

[2016-08-21 07:56] jj0hns0n commented on #2309
@capooti @smesdaghi any update on this. Moving to 2.7, feel free to move back.

[2016-08-21 07:56] jj0hns0n commented on #2307
@simod should we update/close this in light of DJMP.

[2016-08-21 07:57] simod commented on #632
yes the permissions and make a map. ok chat soon

[2016-08-21 07:57] jj0hns0n commented on #2232
@pjdufour any update on this? Moving to 2.7 in any case.

[2016-08-21 07:57] jj0hns0n commented on #2229
@pjdufour any update on this? Moving to 2.7 in any case.

[2016-08-21 07:58] jj0hns0n commented on #2208
My sense is this is largely due to still using geoext in many places. We should do some tests with the OL3 and/or leaflet modules.

[2016-08-21 07:58] jj0hns0n commented on #2189
@pjdufour any update on this? Moving to 2.7

[2016-08-21 07:59] jj0hns0n commented on #2088
@gamesbook can we get a PR for this? Moving to 2.7 but if you can get this done in the next week or so, please move it back and close.

[2016-08-21 08:00] jj0hns0n commented on #2055
@capooti I remember you working on this in NOLA. Did you ever get it finished?

[2016-08-21 08:01] jj0hns0n commented on #1829
@afabiani @etj can you link this to the other issue/GNIP about metadata.

[2016-08-21 08:02] jj0hns0n commented on #1271
This will go away in favor of the new importer.

[2016-08-21 09:26] jj0hns0n opened #2590 "Update docker setup"
@ingenieroariel @jorgemartinezg filing here for yall.

https://github.com/GeoNode/geonode/milestones

[2016-08-21 10:18] sarasafavi commented on #2566
@jj0hns0n this was fixed in https://github.com/GeoNode/geonode/pull/2580; closing

[2016-08-21 10:18] #2566 closed

[2016-08-21 10:22] pjdufour commented on #2189
I think it's only the robots.txt view and settings that are missing.  I'll do a basic implementaton, e.g., `ROBOTS_TXT_DISSALLLOW_ALL = True` then disallow all, otherwise return  basic robotos.txt.  Or maybe a few other flags.

[2016-08-21 10:23] sarasafavi commented on #2579
@jj0hns0n https://github.com/GeoNode/geonode/pull/2583 (in master now) reverted the breaking commit, so installs no longer fail; closing.

[2016-08-21 10:23] #2579 closed

[2016-08-21 10:30] sarasafavi commented on #2555
@jj0hns0n in-progress, should be able to raise PR today

[2016-08-21 10:31] sarasafavi commented on #2464
@jj0hns0n this is still open; it did not turn out to be related to #2555 after all. I'll amend my previous comment!

[2016-08-21 10:35] pjdufour commented on #2229
Migrated to using GeoWatch to abstract notifications to be more general.  Have some development branches with new functionality, but not production ready.

https://github.com/geowatch

For a client, we turned on Slack integration for a bit, but the team isn't paid and gets near 3,000 messages a week.

Don't think I'll get time to make improvements until 2.7

[2016-08-21 10:38] pjdufour commented on #2229
Sorry, meant client is hitting 10k message limiy within every 3 weeks, so would be hard to justify increasing the GeoNode notifications 10x since would overload the human chatting.

[2016-08-21 10:44] BerryDaniel commented on #2478
#2514 fixed this issue, closing now.

[2016-08-21 10:44] #2478 closed

[2016-08-21 10:47] #2430 closed

[2016-08-21 10:47] afabiani commented on #2430
Yep, we can close this

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584 1660272
mob:   +39 331 6233686

http://www.geo-solutions.it
http://twitt

[2016-08-21 10:47] #2546 closed

[2016-08-21 10:48] afabiani commented on #2546
Yep, closed.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584 1660272
mob:   +39 331 6233686

http://www.geo-solutions.it
http://twitter.com/geo

[2016-08-21 10:53] afabiani commented on #1329
We are currently working on a technical proposal for this.

The OAuth2 prototype for GeoServer is working and is almost ready.

About the authorization, the idea is to allow GeoNode to act  as UserRoleProvider on per-layer request instead of providing the whole list of authorization like it does now.

For more details please take a look here

https://docs.google.com/document/d/1bF1IyFnfOEvShLWcjZ4

[2016-08-21 10:55] afabiani commented on #2085
Roger, I will take a look at this.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584 1660272
mob:   +39 331 6233686

http://www.geo-solutions.it

[2016-08-21 11:12] afabiani commented on #2386
Yes, you are right. It can be possible that the UserStyle can't be
recognized at all. In that case gsconfig should not try to check for
title_node.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa

[2016-08-21 11:14] #2421 closed

[2016-08-21 11:14] afabiani commented on #2421
I guess we can close this.

If other issues with the Wind installer will rise up, we will address them
on specific issues.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 05

[2016-08-21 11:15] #2444 closed

[2016-08-21 11:16] afabiani commented on #2444
Yep, closing it.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584 1660272
mob:   +39 331 6233686

http://www.geo-solutions.it
http://twitter.com

[2016-08-21 11:17] #2495 closed

[2016-08-21 11:17] afabiani commented on #2495
Yep, closed.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584 1660272
mob:   +39 331 6233686

http://www.geo-solutions.it
http://twitter.com/geo

[2016-08-21 11:39] afabiani commented on #2577
Yep, we will take a look.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584 1660272
mob:   +39 331 6233686

http://www.geo-solutions.it
http://tw

[2016-08-21 11:42] afabiani commented on #2533
Well, it depends.

If you start with a clean setup of GeoNode it should not be an issue, but
in case you need to upgrade from an older GeoNode model in that case if may
fail.

It would be good to spend some time testing some use cases and document the
steps to do to migrate from an existing GeoNode version.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit

[2016-08-21 11:43] #2488 closed

[2016-08-21 11:43] afabiani commented on #2488
Yep.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584 1660272
mob:   +39 331 6233686

http://www.geo-solutions.it
http://twitter.com/geosolution

[2016-08-21 12:24] jj0hns0n commented on #2363
The CLA is now implemented https://www.clahub.com/agreements/GeoNode/geonode

@bitner can you take a look and close this if ok.

[2016-08-21 12:25] jj0hns0n commented on #2360
We have an entire paper on the history of the project written by @kfogel (focused on the initial investments in the project by GFDRR) ... we can post it here and convert to a web version at some point. Im giving a talk on this topic at FOSS4G

[2016-08-21 12:27] jj0hns0n commented on #2229
Ok, lets just leave this in 2.7 then.

[2016-08-21 12:28] jj0hns0n commented on #1329
Ok, leaving this in 2.7 then.

[2016-08-21 12:28] jj0hns0n commented on #2386
Ok, can we open an issue in gsconfig for this? Should I move to 2.7 or can we fix it soon?

[2016-08-21 12:32] jj0hns0n commented on #2360
@kfogel if you guys have time, can we put up a wiki page or somewhere in the project docs with the basic details from the report ... or at least put it up online so we can close this and finish incubation :)

[2016-08-21 12:33] jj0hns0n commented on #2361
@kfogel collected this info for his report. Can we post it somewhere.

[2016-08-21 12:34] jj0hns0n commented on #2362
@bitner the list looks mostly complete, can we close this?

[2016-08-21 12:34] jj0hns0n commented on #2364
@simod @ariel I think we have some docs on this?

[2016-08-21 12:35] jj0hns0n commented on #2364
http://docs.geonode.org/en/master/tutorials/devel/release/release.html

@bitner let us know if this is sufficient

@sarasafavi @BerryDaniel lets update this with the new release process when complete.

[2016-08-21 12:35] jj0hns0n commented on #2348
@btiner I think this is done, can we close?

[2016-08-21 12:36] afabiani commented on #2386
It is easy to fix. We can do this soon

On Aug 21, 2016 2:29 PM, "Jeffrey Johnson" <notifications@github.com> wrote:

[2016-08-21 12:47] jj0hns0n commented on #1813
@lenninlasd is working on this as his first contribution.

@pjdufour (aka @state-hiu) we @terranodo have been working on the exact thing you mention under other projects. You can see the interface here http://maploom.terranodo.io/ (click the + next to registry) ... @ingenieroariel can update you on the status separately.

[2016-08-21 12:56] jj0hns0n commented on #2590
ref #2593

[2016-08-21 12:56] jj0hns0n commented on #2092
ref #2593

[2016-08-21 12:56] jj0hns0n commented on #2454
ref #2593

[2016-08-21 12:56] jj0hns0n commented on #2076
ref #2593

[2016-08-21 13:07] jj0hns0n commented on #2462
@afabiani can we discuss this one during the sprint. Not sure if it is 'critical' but wonder if we should try to fix it before 2.5/2.6

[2016-08-21 13:08] jj0hns0n commented on #2075
@nathanhilbert can you send a PR for this?

[2016-08-21 13:09] #2489 closed

[2016-08-21 13:12] jj0hns0n commented on #1656
@afabiani this may be an interesting one for you?

[2016-08-21 13:12] jj0hns0n commented on #1371
@simod can we look at this this week?

[2016-08-21 13:12] jj0hns0n commented on #923
@kalxas can we look at this on current geonode-live?

[2016-08-21 13:23] cwgrant commented on #2425
Looks good

[2016-08-21 13:23] #2425 closed

[2016-08-21 13:28] afabiani commented on #2386
Please take a look at PR

https://github.com/boundlessgeo/gsconfig/pull/158

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584 1660272
mob:   +39

[2016-08-21 13:29] afabiani commented on #1656
Try to take a look.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584 1660272
mob:   +39 331 6233686

http://www.geo-solutions.it
http://twitter.

[2016-08-21 13:31] afabiani commented on #2462
Mmm, maybe this is already fixed? I remember a discussion with Simone
Dalmasso, but I may be wrong. However yes, lets discuss this during the
sprint.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massaro

[2016-08-21 13:35] afabiani commented on #1829
There is a work in progress on the metadata page refactoring, but I don't
think it will be ready for the current release.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 058

[2016-08-21 13:36] afabiani commented on #2408
Yep, we are working on this, but I'm afraid we won't be able to finish for
the current release.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584

[2016-08-21 13:47] afabiani commented on #2085
This issue will be solved with the new A&A subsystem we are working on. GeoNode will expose a UserRoleService to GeoServer, wich can be used to configure Authorization on GeoServer side.

See this document for the technical details:

https://docs.google.com/document/d/1fEs6NsCVC3KcB8TCM_P7BmxKLrza2n9fxlySdQVShQ8/edit?usp=sharing

Moreoever the plan would be to enable on GeoServer the GeoFence exte

[2016-08-22 01:08] smesdaghi commented on #2309
@jj0hns0n, got a version in to mapstory last year but has been re-done specially with changes to geogig. will ping @JWileczek to see if they can bump it to core.

[2016-08-22 05:12] artists974 commented on #2574
Hi, we didn't send yet. But you can close if you want, thanks

[2016-08-22 09:52] sarasafavi commented on #2555
@jj0hns0n PR raised

[2016-08-22 10:11] #2555 closed

[2016-08-22 10:12] sarasafavi commented on #2519
Fixed in https://github.com/GeoNode/geonode/pull/2580 -- @jj0hns0n this can be closed (I lack perms to do it myself)

[2016-08-22 11:30] #2519 closed

[2016-08-22 11:40] jj0hns0n commented on #2462
@afabiani this does look fixed. Im going to close it, if we see this behavior again we can re-open.

[2016-08-22 11:40] #2462 closed

[2016-08-22 11:48] jj0hns0n commented on #1371
We no longer use this modal. Closing

[2016-08-22 11:48] #1371 closed

[2016-08-22 11:49] jj0hns0n opened #2598 "Re-implement External Actors in Metadata"
We used to allow the user to specify an 'external' actor when editing metadata. With the change the new profiles module, we lost this functionality and it should be reintroduced.

@afabiani @etj can we discuss this as part of your current Metadata work.

[2016-08-22 11:59] sarasafavi commented on #2322
Semi-related: https://github.com/GeoNode/geonode/issues/2103

[2016-08-22 11:59] jj0hns0n opened #2599 "/uploaded/ is public when deployed via packages"
http://geoithub.com/2016/08/16/data-security-issue-geonode/

[2016-08-22 12:05] #2533 closed

[2016-08-22 12:10] #2473 closed

[2016-08-22 12:16] jj0hns0n commented on #2535
@francbartoli can you send a patch for this during the sprint? Otherwise, lets move to 2.7 as its not really too big of a deal IMO.

[2016-08-22 12:24] #2265 closed

[2016-08-22 12:26] jj0hns0n commented on #2245
As far as we can tell, GeoNode does not issue these SAST statements and we are unable to reproduce. Closing. @gubuntu let us know if you are able to provide a means to reproduce.

[2016-08-22 12:26] #2245 closed

[2016-08-22 12:27] jj0hns0n commented on #2217
@pjdufour I think you are conflating the Title and the typename. The typename is always lower case, the title can be anything you wish. closing for now. Reopen with a means to reproduce what you see.

[2016-08-22 12:30] jj0hns0n commented on #2173
Im going to move this to 2.7 as we will be switching to the new django-osgeo-importer and can deal with that there.

[2016-08-22 12:31] jj0hns0n commented on #2170
@tomkralidis closing as I think its been implemented. Please reopen if not

[2016-08-22 12:31] #2170 closed

[2016-08-22 12:32] jj0hns0n commented on #2092
@gubuntu Im going to close this as we are moving to a formal docker-compose setup.

[2016-08-22 12:32] #2092 closed

[2016-08-22 12:34] pjdufour commented on #2217
Typename isn't always lowercase.  Support for uppercase in typename is useful for layers that have multiple words next to eachother that aren't separated by underscores, etc.  That was when a user downloads a layer, it can have the name you want.

![screenshot from 2016-08-22 14 32 06](https://cloud.githubusercontent.com/assets/1438253/17854780/3b56addc-6875-11e6-93d4-6f4d4378680d.png)

[2016-08-22 12:34] #2076 closed

[2016-08-22 12:35] jj0hns0n commented on #2075
@afabiani can you guys take a look at this one and close if appropriate

[2016-08-22 12:36] pjdufour commented on #2217
See http://geonode.state.gov/layers/geonode%3ASyria_RefugeeSites_2016Jan21_HIU_DoS0.

Useful to have typename with upper case, for example `RefugeeSites` so it isn't compressed all to lowercase when batch importing.

[2016-08-22 12:37] jj0hns0n commented on #2070
This is an edge case. Im going to move it to 2.7. @afabiani there may be a simple fix?

[2016-08-22 12:40] #2036 closed

[2016-08-22 12:41] jj0hns0n commented on #2009
@vdeparday closing. Can you test and let us know if this is still an issue.

[2016-08-22 12:41] #2009 closed

[2016-08-22 12:41] jj0hns0n commented on #2008
@vdeparday closing. Please reopen if it is still occuring.

[2016-08-22 12:41] #2008 closed

[2016-08-22 12:42] jj0hns0n commented on #1995
@capooti closing this one for now. If it is still reproducible let us know and perhaps @afabiani et al can look into it.

[2016-08-22 12:42] #1995 closed

[2016-08-22 12:45] #1903 closed

[2016-08-22 12:49] jj0hns0n commented on #1718
@simod can you just make the clear button refresh the page?

[2016-08-22 13:04] simod opened #2602 "Merge and migrate services to use django-mapproxy"

[2016-08-22 13:06] #1685 closed

[2016-08-22 13:10] #1591 closed

[2016-08-22 13:11] jj0hns0n commented on #1558
@berrydaniel @simod lets address this in the next round of packages.

[2016-08-22 13:12] sarasafavi commented on #2322
I was able to reproduce this by activating notification & then not completing setup: once `notification` is turned on (uncommented in INSTALLED_APPS), you need to re-run `makemigrations` _and_ `migrate`.

Once the relevant tables & relationships have been created, user deletion works without issue.

[2016-08-22 13:12] #2322 closed

[2016-08-22 13:13] jj0hns0n commented on #1275
@afabiani can you guys look at this at some point? It may just go away with the new authentication work. Moving to 2.7

[2016-08-22 13:16] jj0hns0n commented on #362
This may be made irrelevant after switching to django-osgeo-importer.

[2016-08-22 13:25] #2441 closed

[2016-08-22 13:29] #2487 closed

[2016-08-22 13:31] jj0hns0n commented on #2576
@lenninslad Can you look at this while you work on the extent filter.

[2016-08-22 13:33] jj0hns0n commented on #2314
The BING key is not respected by geoexplorer, but this has been implemented.

[2016-08-22 13:33] #2314 closed

[2016-08-22 13:35] #2211 closed

[2016-08-22 13:37] #2171 closed

[2016-08-22 14:06] piyush-shah commented on #2421
Yes, I had successful installed the geonode instance on my windows machine Piyush M ShahGIS Professional
M.Sc (Geomatics and Space Application), M.Sc (IT and CA)Phone: +91-79-22860917Mobile: 09408721451

    On Sunday, 21 August 2016 4:44 PM, Alessio Fabiani <notifications@github.com> wrote:

 I guess we can close this.

If other issues with the Wind installer will rise up, we will address them
on

[2016-08-22 14:49] #2100 closed

[2016-08-22 14:49] #2067 closed

[2016-08-22 14:50] jj0hns0n commented on #2064
ref #2602 check https://github.com/terranodo/django-mapproxy (the successor to django-tilebundler)

[2016-08-22 14:50] #2042 closed

[2016-08-22 15:22] jj0hns0n commented on #2029
I havent seen this in a long time, but also we will be switching to the django-osgeo-importer soon.

[2016-08-22 15:22] #2029 closed

[2016-08-22 15:22] #2037 closed

[2016-08-22 15:44] #2599 closed

[2016-08-22 22:57] kfogel commented on #2361
Hey @jj0hns0n, I'd be happy to.  Let me grab it tomorrow and figure out the right way to publish it (you've seen the spreadsheet -- I assume that you concur there's nothing confidential in there?).

[2016-08-23 09:04] afabiani commented on #1656
@jj0hns0n @all I just tested the layer replacement on GeoServer enabling GWC quota_store in order to be sure the tile cache were cleaned.

It actually works using both PostGIS and Shapefile backends.

I cannot actually reproduce the issue.

My environment is Ubuntu 14 with latest GeoNode 2.5 and GeoServer 2.9

[2016-08-23 09:52] afabiani commented on #2070
The following PR

https://github.com/GeoNode/geonode/pull/2610

fixes the issue.

[2016-08-23 09:55] afabiani commented on #2075
Mmm, we never touched those deps, however I'll take a look at it.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584 1660272
mob:   +39 331 623368

[2016-08-23 10:26] afabiani commented on #1275
Just tested using latest GeoNode 2.5 and GeoServer 2.9

It works both using shapefile or PostGis based layers

![image](https://cloud.githubusercontent.com/assets/1278021/17888722/9cca3284-692c-11e6-8735-f1a0478f2a37.png)

![image](https://cloud.githubusercontent.com/assets/1278021/17888753/bff3fccc-692c-11e6-9faf-757a3efef507.png)

[2016-08-23 11:38] jj0hns0n commented on #2070
@teamgeode can you test. Closing.

[2016-08-23 11:38] #2070 closed

[2016-08-23 11:39] jj0hns0n commented on #1656
I've never used the quota_store, can we add some note to the docs about this?

[2016-08-23 11:39] #1656 closed

[2016-08-23 11:40] jj0hns0n commented on #2361
Yeah, I'd just dump this onto the osgeo wiki can you send me the latest
copy and I can work with @bitner to get it up so we can close this. Thanks!

On Tue, Aug 23, 2016 at 12:57 AM, Karl Fogel <notifications@github.com>
wrote:

[2016-08-23 11:55] jj0hns0n commented on #1815
@simod I think we can close this now? Please close if so.

[2016-08-23 11:56] jj0hns0n commented on #1805
@simod can we close this?

[2016-08-23 12:01] jj0hns0n commented on #1784
@sarasafavi can you take a crack at this one. Its still occurring on master and should be a super easy fix.

[2016-08-23 12:03] jj0hns0n commented on #1774
@lenninslad this is something you could work on while working on the extent filter.

[2016-08-23 12:04] jj0hns0n commented on #1769
@teamgeode can you guys take a look at these strings?

[2016-08-23 12:05] jj0hns0n commented on #1752
@tomkralidis can you take a look at this one?

[2016-08-23 12:06] #1687 closed

[2016-08-23 12:07] jj0hns0n commented on #1680
@nathanhilbert any update on this? Moving to 2.7

[2016-08-23 12:09] #1896 closed

[2016-08-23 12:09] #1862 closed

[2016-08-23 12:12] afabiani commented on #2075
Fix Available @ PR

https://github.com/GeoNode/geonode/pull/2611

[2016-08-23 12:13] jj0hns0n commented on #1661
@simod @BerryDaniel can you guys take care of this with the next packages.

[2016-08-23 12:15] jj0hns0n commented on #1632
@teamgeode can you guys take a look at this?

[2016-08-23 12:17] #1535 closed

[2016-08-23 12:18] jj0hns0n commented on #1517
@ingenieroariel lets figure out how this is handled by hypermap/registry? Moving to 2.7

[2016-08-23 12:19] #1485 closed

[2016-08-23 12:19] #1476 closed

[2016-08-23 12:20] #1415 closed

[2016-08-23 12:21] jj0hns0n commented on #1381
closing this as we can now get to the full metadata in the browser

[2016-08-23 12:21] #1381 closed

[2016-08-23 12:23] jj0hns0n commented on #1059
Closing this for now as we are going to refactor how the demo site is deployed.

[2016-08-23 12:23] #1059 closed

[2016-08-23 12:23] #1040 closed

[2016-08-23 12:24] #1039 closed

[2016-08-23 12:28] tomkralidis commented on #1752
This was fixed in https://github.com/geopython/OWSLib/commit/253382853d95778134ac2f1c1639d903e0031f50

[2016-08-23 12:28] #1752 closed

[2016-08-23 13:05] jj0hns0n commented on #170
@BerryDaniel we can close this now right?

[2016-08-23 13:07] #2075 closed

[2016-08-23 13:16] collaer commented on #1769
Hello,
We can look at that today. But before doing something i would like to talk about translations, I think there are differents issues to solve :
 * in the master : identify when to push into transifex new strings to be translated and doing the push (hook possible?)
 * in a release tag : what to do ? just keeping fully completed translations languages ?
 * There are languages configured with <

[2016-08-23 16:43] #2531 closed

[2016-08-23 16:46] bartvde commented on #2153
I thought last time I looked it seemed this was a limitation in Ext JS, but I can't find that thread now

[2016-08-23 16:49] bartvde commented on #2436
taking it out should be easy, replacing it with something else is non trivial and probably not worth the effort

[2016-08-23 17:27] #2452 closed

[2016-08-23 18:40] bitner commented on #2364
Looks good to me.

[2016-08-23 18:40] #2364 closed

[2016-08-23 18:41] #2363 closed

[2016-08-23 18:41] #2362 closed

[2016-08-23 18:43] bitner commented on #2360
I think if the report is online, just adding a link to the wiki would suffice.

[2016-08-23 19:22] mbertrand commented on #1507
- The changes in https://github.com/boundlessgeo/gxp/pull/231 need to make into GeoNode's version of GeoExplorer.js
- The [sldService plugin jars](http://ares.boundlessgeo.com/geoserver/2.9.x/community-latest/geoserver-2.9-SNAPSHOT-sldservice-plugin.zip) need to be added to Geoserver.  Also, there is an open PR https://github.com/geoserver/geoserver/pull/1571 that fixes an issue with the plugin on

[2016-08-23 19:26] rajanski commented on #2153
See here https://github.com/boundlessgeo/suite/issues/943

Am 23.08.2016 18:46 schrieb "Bart van den Eijnden" <notifications@github.com

[2016-08-23 22:38] kfogel commented on #2361
Oh, sorry @jj0hns0n -- I thought you had been looking at it this whole time.  It's just the same Google Spreadsheet, which you should have access to (I just checked): https://docs.google.com/spreadsheets/d/1-Mtb20G8QLQpRl9jnSFlMzTHURwKyuZwUlx1gSYVvxE/

[2016-08-24 09:17] #2464 closed

[2016-08-24 14:16] #2427 closed

[2016-08-24 14:17] #2426 closed

[2016-08-24 14:31] #1718 closed

[2016-08-25 05:42] collaer commented on #1632
Since a sycing has be done, I think this issue should be closed now.

But just a note it's normal those strings were not present in the djangojs.po, the translations string from html templates should be located in django.po

[2016-08-25 06:02] jj0hns0n commented on #2361
@kfogel can you just make that publicly editable. @bitner not sure where to
put this, but we can ask folks on the list to add any missing info.

On Wed, Aug 24, 2016 at 12:38 AM, Karl Fogel <notifications@github.com>
wrote:

[2016-08-25 06:05] #1632 closed

[2016-08-25 06:29] jj0hns0n commented on #2360
Not online yet. Ill email you a copy and have given one to Jody. I think we
can assume this will get published soon and close this ticket. Might be ok
to put the important highlights into the wiki? @Bitner could you help with
that?

On Tue, Aug 23, 2016 at 8:43 PM, David Bitner <notifications@github.com>
wrote:

[2016-08-25 06:31] jj0hns0n commented on #2436
+1 to remove it in the next geoexplorer build. Can you help with this at
foss4g?

On Tue, Aug 23, 2016 at 6:49 PM, Bart van den Eijnden <
notifications@github.com> wrote:

[2016-08-25 07:23] collaer commented on #2575
@artists974
Hi,

Not sure what's the point here ?

You've translated something in a po file and make a compillemessage after and the translation is not showing ?
Wich po file, language and key string ?

Keep in mind that you cannot translate strings directly into po files because a transifex sycing pull request will destroy those changes.

[2016-08-25 07:53] artists974 commented on #2575
Hi,

Actually I didn't translate anything. All the translations needed for this page already exist in the .po file (english and french) so I didn't even edit them.

![po_en](https://cloud.githubusercontent.com/assets/19589165/17960988/35485da4-6aba-11e6-9db7-62c245faee42.JPG)
this is in the "en" .po file

![po_fr](https://cloud.githubusercontent.com/assets/19589165/17960999/44a2021e-6aba-11e6-83ce

[2016-08-25 07:54] #1776 closed

[2016-08-25 11:52] collaer commented on #2575
Ok now i understand !

I suppose that
https://github.com/GeoNode/geonode/blob/master/geonode/layers/management/__init__.py#L23
should be changed from ugettext_noop to ugettext_lazy.
I'll test that as soon as possible.

Thanks

[2016-08-25 15:15] #2360 closed

[2016-08-25 19:12] kfogel commented on #2360
No objection here to highlights from latest draft being published; I don't think the overall shape or high-level conclusions are likely to change between now and the final published version.

[2016-08-25 19:17] kfogel commented on #2361
Okay, @jj0hns0n, it's now publicly editable (I made a backup first, though!).

[2016-08-25 19:28] jj0hns0n commented on #2361
Done and our incubation was submitted today thank you for all your help

On Thursday, August 25, 2016, Karl Fogel <notifications@github.com> wrote:

[2016-08-26 04:03] #2361 closed

[2016-08-26 05:53] artists974 commented on #2575
Thanks ! I will try on my instance too :)

[2016-08-26 06:01] artists974 commented on #2575
I just tried 'ugettext_lazy', and also 'ugettext', but it still doesn't work. Maybe I missed another step...

[2016-08-26 09:59] blackgis opened #2625 "Permission setting of a layer is not showing the layer only pink tiles (mostly)"
Strange issue with permissions, they work but the displaying of data with permission not for allowed users/groups.
1. Select a layer
2. Change Layer Permissions
3. toogle off anyone and specifing user and group
4. Result, what works correctly is that in the layer overview the layer is not displayed for anyone (as expected), but for the allowed users and groups (as expected), BUT when selecting the

[2016-08-26 10:02] blackgis opened #2626 "Change Layer Permissions no refresh after applying?"
After setting the permissions of a lyr i have to zoom in and out in the map that the layer permission is working. Shouldn't there be an auto refresh in the map after applying any permission setting?

[2016-08-26 10:03] collaer commented on #2575
Maybe, I must admit that I'm really unconfident with the notifications, i didn't figured out where they should appear...
As I don't know how django notification works, hat was just a guess this move to the lazy...

[2016-08-26 10:30] #2590 closed

[2016-08-26 17:06] #2570 closed

[2016-08-26 21:18] pjdufour commented on #2626
Sorry, I don't understand.  Can you provide screenshots of this behavior?

[2016-08-29 08:19] blackgis commented on #2626
Hi, a screenshot not may help her.
My other 'problem' is described in #2625 otherwise I would not discover that there is no refreshing of the map. So knowing that when I am in the layer site, selected on layer and changed permission from anybody to someone/group specific it should display nothing (unfortunately because of #2625 ). But when changing layer permission the map(stille on the layer site

[2016-08-29 08:39] simod commented on #2625
Hi I cannot replicate this.Data are correctly shown to authorised users

[2016-08-29 08:42] simod commented on #2626
Hi, you mean that you are revoking permissions to yourself?
The map doesn't refresh the tiles itself and this is ok since you have seen the layer till before revoking the permissions. Is not an issue and is the expected behaviour.

[2016-08-29 11:15] joanvp opened #2631 "Cannot change Geoserver admin password"
Hi all,

I recently installed a geonode 2.4 instance following the tutorial for Ubuntu 14.04. The installation works smoothly except for an issue. When I try to change the geoserver admin, the change doesn't apply.

Basically I have copied the piece of config regarding geoserver in the local_settings file but even after restart tomcat and apache, the change does not apply, and it allows me to log

[2016-08-29 11:36] simod commented on #2631
Hi, you have to change the password also from the geoserver UI as this is part of the geoserver internal database.

ps, please next time use geonode-user@lists.osgeo.org to ask for support.

Regards

[2016-08-29 11:36] #2631 closed

[2016-08-29 11:58] joanvp commented on #2631
My apologies. Since I didn't find any reference I thought it was a bug. Now it works as expected.

Thanks for your help

[2016-08-29 14:37] ehl120 opened #2632 "Google Maps API warning: NoApiKeys"
Help!

I got both Bing Aerial and Google Satellite working with GeoNode 2.4. The config is like so:

GOOGLE_API_KEY = 'zxcxzcXAWdqwddfereeeee22222xxx'
"source": {
     "ptype":"gxp_googlesource",
     "apiKey": GOOGLE_API_KEY
    },
...

Or add the key to the code:

"source": {
     "ptype":"gxp_googlesource",
     "apiKey":  'zxcxzcXAWdqwddfereeeee22222xxx'
    },
...

Either case, I am stilling

[2016-08-30 00:35] jondoig opened #2634 "Publish Map WMS broken"
The link from any [map page](http://localhost/maps/13) to "Publish Map WMS" (Publish local map layers as WMS layer group) just gives a JSON object definition instead of an HTML page:

`{"layerGroupName": "", "ows": "http://localhost/geoserver/ows"}`

[2016-08-30 07:58] #2634 closed

[2016-08-30 10:46] jondoig commented on #2634
No comments? Why closed?

On 30 Aug 2016 17:58, "Simone Dalmasso" <notifications@github.com> wrote:

[2016-08-30 11:43] simod commented on #2634
Hi, I commented on the list. It's fixed in master.

[2016-08-30 11:59] jondoig commented on #2634
Thanks! So fast - wow.

On 30 August 2016 at 21:43, Simone Dalmasso <notifications@github.com>
wrote:

[2016-08-30 12:21] blackgis commented on #2626
Hi, no.
I gave explicit permission only to me not to anyone, only me. But the tiles are not presented. The permission itself is working correctly, because i have added the layers to qgis and used the login and the layer is visible and displayed(and only when i give qgis the login, so the wms is correctly working), but not on the website of the layer itself, where the layer should be displayed on t

[2016-08-30 13:06] simod commented on #2626
Ok, did you use the geoserver of Geonode? Seems an issue that could happen when using a normal geoserver or a geoserver that cannot communicate with Geonode in the correct way.
Sorry but I still don't understand the refresh issue.

[2016-08-30 14:21] ehl120 opened #2635 "MapFish print version?"
Sorry, this may not be the place to ask a question like this.  What Mapfish Print version does GeoNode 2.4.1 comes with? would really like to do some customization on the print layouts.
Thanks.

[2016-08-30 14:27] #2635 closed

[2016-08-31 12:55] ingenieroariel commented on #2177
In the sprit of explicit is better than implicit, I propose to just add the calls to the right methods to sync styles.

If we need to do a sync style I think it is better to call that function directly instead of relying on layer.save(). the .save() function does a lot more than it should (generating a lot of network calls when all we want to do is save an object to a database).

[2016-08-31 19:01] ehl120 opened #2638 "PDF outputFilename"
Tried to make the output PDF name from GeoExplorer-print.pdf to something we a date and time, like so:
yyMMdd-hhmmss.pdf

So in the config.yaml, I added this line before the layouts block:
outputFilename: "${yyMMdd-hhmmss}"

or
outputFilename: "Mapfish print"

But this doesn't overwrite the default setting.

Any tips on cracking this?
Thanks.

[2016-08-31 19:45] emerkle826 opened #2639 "Hypermap/Registry fails to discover services/layers from ArcGIS MapServer"
There's 2 parts to this issue.

Issue #1.
When adding https://services.arcgisonline.com/arcgis/rest/services/NGS_Topo_US_2D/MapServer as an Endpoint, I see the following error in the Celery logs:

Traceback (most recent call last):
  File "/opt/boundless/exchange/.venv/lib/python2.7/site-packages/hypermap/aggregator/utils.py", line 308, in create_services_from_endpoint
    service_to_process = get

[2016-08-31 21:50] ingenieroariel commented on #2639
Thanks @emerkle826.

I moved this to the cga-harvard/HHypermap repository as it is not GeoNode related: https://github.com/cga-harvard/HHypermap/issues/189

[2016-08-31 21:50] #2639 closed

[2016-08-31 22:02] ehl120 opened #2640 "backgroundPdf added but text no longer shows up"
Hi Guys - Great work! I love the GeoNode 2.4 so far. As I am working on customizing the print layout, I found this may be a bug or something. If you have  quick pointer to fix this, that will be great.

I created a A4 lanscape layout and it prints well. As it takes a PDF as a background, so I made up an PDF layout and then line up the map block and title and scale bar etc through the config.ymal.

[2016-09-01 01:31] jondoig commented on #1915
+1 this is exactly what we need for uploading [ABS](abs.gov.au) stats and joining to existing geometry.

Suggest initially it handles join errors simply by reporting them (with row number and key value) as they are encountered, but continues on regardless (using only the first row of 'conflicts' -- multiple matches). Show option to cancel the join while in progress, and save or delete the resultin

[2016-09-01 01:56] jj0hns0n commented on #1915
Jonathan, you can try out my branch, we didn't get it in for 2.5. It still
needs a lot of work. I'll pick it back up someday soon.

On Wednesday, August 31, 2016, Jonathan Doig <notifications@github.com>
wrote:

[2016-09-01 05:41] simod commented on #2640
Hi, do you mind using geonode-users@lists.osgeo.org to ask for support?

As mapfish is not a component of GeoNode you might get more help if ask on the mapfish help channels. Anyway check if the geoserver logs show something.

Thanks

[2016-09-01 05:41] #2640 closed

[2016-09-01 05:42] simod commented on #2638
Hi, be sure that you are editing the correct config.yaml. It has to be the one in the geoserver data dir which is listed in the geosever config page. A tomcat restart may be needed.

[2016-09-01 05:42] #2638 closed

[2016-09-01 11:06] blackgis commented on #2626
Hi, I have not installed it by myself - paas. First they use 2.9 but the uploading haven't worked. Now they installed 2.7 like in the demo.geonode.org - exact same settings. How can i be sure that this is the correct geoserver? Are there some special files?

Refresh issue:

Go to layer site, set permissions (the permissions are applied immideately in the backend - only backend! - and not on the si

[2016-09-01 11:33] simod commented on #2626
The geoserver to be used is the one pulled by geonode with paver setup or this one http://build.geonode.org/geoserver/latest/geoserver.war

[2016-09-01 13:35] ehl120 commented on #2640
Thanks for the tips.

[2016-09-01 14:03] ehl120 commented on #2638
I did restart the tomcat as well as apache server but ain't got any luck. I am gonna try the GeoServer - User forum. Thanks.

[2016-09-01 16:21] blackgis commented on #2625
Hi,
thank you for replying.
Unfortunately it still exists. Can you give me a hint what this can cause. The permission in the geoserver works, because i tested it in qgis and logged in and got all layers i am authorized to see. Do i have to activated some authorization stuff because it must be some portal or django issue. I have seen that there is a extension for geoserver to add this functionality

[2016-09-02 06:47] simod commented on #2625
GeoNode requires a special version of geoserver which has a security plugin. This geoserver is the one installed by geonode by default. So if you used a normal geoserver the permissions won't be respected.

[2016-09-04 03:37] biomap opened #2644 "Remote Services URL Mapping"
When Geonode is registered at a sub url (ie /gis ) the Remote Services pages/views are not respecting the sites sub url's and are mapping the the urls to the domain.

Example:
geonode is registered at example.com/gis
remote services are found at example.com/gis/services
all of the buttons and links on the remote services pages are returning example.com/services

Register New Service seems to work

[2016-09-04 04:01] biomap commented on #2644
Actually it might be just the [Remove Services Page](https://github.com/GeoNode/geonode/blob/142d85f32b7a425e5ec5980380078d3d7dbe7b65/geonode/services/templates/services/service_remove.html) (or anywhere the URLs are hard coded) that is causing the issue.

It appears this is the [Bad Actor](https://github.com/GeoNode/geonode/blob/142d85f32b7a425e5ec5980380078d3d7dbe7b65/geonode/services/templates/

[2016-09-06 12:49] simod opened #2646 "shapefiles with name longer that 63 chars cannot be loaded"
is a limitation on postgres table name which is max 63 chars

[2016-09-07 14:18] waybarrios opened #2649 "Problems with GEOGIG_ENABLED"
I tried to use QGIS server and GeoNode. But I have one issue, when I want to upload layers. The web console displays the following error.

[code]

It means some variables ara not defined, and when I see file directly by console shows me:

[code]

To Summarize:
- Can't read geogig, time and mosaic enabled varaibles when I tried to implement GeoNode with QGIS.
- These variables are set up on setting

[2016-09-08 08:50] stan4gis commented on #2573
Could it be a parameter in settings ?  (I think it depends on security policy. Use case : everyone can search all the catalog and so can contact an admin to ask rights on ressources he finds like that).
As a first improvement we should have a message in the ressource detail page to explain the user he has not the right to see the ressource.
An other question is "does the search in the menu bar sho

[2016-09-08 14:01] sarasafavi commented on #2573
@stan4gis please reference https://github.com/GeoNode/geonode/issues/2555 for further discussion on this issue; TL;DR: GeoNode currently includes both the "omni search" (menu bar search, across resources) and the "filter search" (resource-specific) functionality, by intent.

[2016-09-09 11:50] afabiani opened #2652 "Thumbs are not correctly updated when changing or modifying the Layer Style"

[2016-09-12 06:38] Writwik09 commented on #1383
Hi members,
You can find the details installation process in development mode or in production server in Windows here: [[GeoNode installation process in Windows] ](http://geoithub.com/geonode-installation-process-windows/)

[2016-09-14 06:59] chakrey commented on #1485
How to run this patch?

[2016-09-15 09:25] jamesmmbugua commented on #2076
@JamesLeonDufour refering to your post dated Feb 14, 2015, I am having the same problem trying to install Geonode on a new ubuntu VM. Did you ever get a solution to this?

[2016-09-17 19:41] tomkralidis opened #2654 "integrate pycsw GeoNode repository plugin"
cc @ingenieroariel

Recent [enhancements](https://github.com/geopython/pycsw/issues/452) in pycsw allow for repository plugins to be developed and maintained external to the pycsw codebase.

Assigning this to myself to integrate once pycsw these enhancements are available via a stable pycsw release.

[2016-09-20 23:29] sydneysydney opened #2655 "Personal logins not working on our geonode--only admin is working"
Our organization could previously login to geonode with personal usernames.  Within the last week, we have lost access and are only able to login using the admin username.  Any help?

[2016-09-21 08:34] simod commented on #2655
Hi, check the connection to the database and that the users are effectively and correctly stored in it.

PS please us geonode-users@lists.osgeo.org to ask for support.

[2016-09-21 08:34] #2655 closed

[2016-09-21 17:52] sydneysydney commented on #2655
Thank you

On Wed, Sep 21, 2016 at 1:34 AM, Simone Dalmasso <notifications@github.com>
wrote:

--
Sydney Moss

[2016-09-25 17:17] nareshnagamalle opened #2657 "Edit issue for CSV, KML files"
Uploaded CSV, KML files are uploaded to Geonode and observed following issues.
1. In Map window section --> Edit --> Create option is in grey out mode .i.e not able to select
2. If we click on Modify option and click on features option then feature info option is not visible and not able to edit the feature geometry and attributes information. I could able to find through the firebug that the  fea

[2016-09-27 06:47] nareshnagamalle opened #2658 "Editing Issue-For Uploaded shapefile features"
Uploaded shapefile in Geonode setup and observed following issues while Editing features of it

For Uploaded shapefile, if we use  Edit and modify/Create option to  modify/create the geometry- the modified/Created  geometry is not visible , some times visible in few zoom levels and some times partially. Even if newly created/modified feature is  invisible and if we click on it again, the geometry

[2016-09-28 08:39] gdreich opened #2659 "Error adding keywords to a Layer when they already exist (related to Hierarchical Keywords)"
Example: "human health" already exists in Hierarchical Keywords
IntegrityError at /admin/layers/layer/48/
duplicate key value violates unique constraint "base_hierarchicalkeyword_name_key"
DETAIL:  Key (name)=(human health) already exists.

The keywords are trying to be added again even if they exist.

[2016-09-28 14:37] gdreich commented on #2659
This affects multiple word keywords only e.g. "human health", since the slug won't be in str_tags if its more than one word, not sure if this is intended or not.
existing = self.through.tag_model().objects.filter(slug__in=str_tags)
is it feasible to change the filter to name__in=str_tags?
https://github.com/GeoNode/geonode/blob/master/geonode/base/models.py#L286.

[2016-09-29 16:25] ehl120 commented on #2658
I have encountered the same issue. I uploaded a shapefile, created a new feature, and style it. But it's not visible on the map. I can see it from the Query Table and if I selected from there, then it shows on the map with the color set for being selected.  From GeoServer, through Layer Preview, it seems normal!

[2016-09-30 03:55] nareshnagamalle commented on #2658
Dear All,
 Please help me to resolve the issue. Is it bug in Geonode2.4 ?

Thanks&Regards,
Naresh

[2016-09-30 09:00] simod commented on #2658
Hi, yes it is marked as a bug and we will take a look at it before the 2.6 release.

[2016-09-30 09:11] NyakudyaA opened #2661 "error creating postgres store in geonode geoserver"
I have build my container but when I try to create a store in geoserver I get an error:

![error3](https://cloud.githubusercontent.com/assets/2510900/18986676/377cae1c-86fe-11e6-9f88-401ae23b374f.png)

My confirguration is like below:
![error1](https://cloud.githubusercontent.com/assets/2510900/18986694/4adb7290-86fe-11e6-96bc-f51a049fcaa0.png)

I can exec into the postgres container and i notice

[2016-09-30 09:17] NyakudyaA opened #2662 "Failure to use connect to postgres container when using custom image"
# Problem

From #2661 I then tried to use a custom image that has postgis extension installed. I have modified my docker-compose to be:
![serv](https://cloud.githubusercontent.com/assets/2510900/18986832/04e7803e-86ff-11e6-9ed1-b773aecb7ee1.png)

when I try to start my container I get an error:

![dockre](https://cloud.githubusercontent.com/assets/2510900/18986893/5b1b1920-86ff-11e6-8ef8-fee95d89a

[2016-10-03 20:03] ehl120 commented on #2658
May I ask when 2.6 will be released? Some how the logic not added in the code meaning the GeoExplorer is not getting the style to the newly created features so they will be visible. Any troubleshooting tips, which field should be look at? Thanks.

[2016-10-04 06:31] simod commented on #2658
I should be out by the end of the year, though if this involves the geoexplorer code it may not get fixed.

[2016-10-04 13:52] ehl120 commented on #2658
Thanks Simone.  I thought issuing an updatelayer command on server may do the trick. But before I get to that point, I tried a quicker way, by turning off layer caching for the concerned layer from GeoServer  and it DOES the trick!! Newly created features will be showing instantly after saving! Just want to spread this work around patch. Hope this will work for you too Naresh.

Kai

[2016-10-06 10:31] mdlux opened #2663 "geoexplorer fixed margin-top in map_view template"
After modifying the navbar dimensions (height) geoexplorer buttons for new map creation were covered by navbar, because of a fixed value in map_geoexplorer.css paneltbar margin-top.

[2016-10-06 10:38] mdlux commented on #2663
related to #1748

[2016-10-06 15:09] ehl120 commented on #2658
I have also installed opengeo suite on another server and its creating new feature from GeoExplorer works fine. I wonder if it's worthy trying to copy the GeoExporer scripts over to test it? Any tips, Simone?

[2016-10-07 14:05] fdetsch commented on #2659
I encounter the same problem. Is there any solution yet?

[2016-10-10 05:47] nareshnagamalle commented on #2658
Hello All,
  I have removed the cache option ,even though newly created features and
edited features are not visible. Please Kai Lai  help me what is work
around  you have used as of now.

Thanks&Regards,
Naresh

On Thu, Oct 6, 2016 at 8:39 PM, Kai Lai <notifications@github.com> wrote:

[2016-10-10 05:54] nareshnagamalle commented on #2657
Please any work around for this.

[2016-10-11 06:00] simod commented on #2661
Hi, seems that you are missing postgis in your container. You should install it.

[2016-10-11 12:43] simod commented on #2658
At the moment, deactivating the Geowebcache direct integration in geoserver is the best option.

[2016-10-11 12:45] simod commented on #2657
Not sure that more uploaded are supported. only one should live there.

[2016-10-11 12:46] #2626 closed

[2016-10-11 12:48] #2574 closed

[2016-10-11 13:07] #2659 closed

[2016-10-11 13:46] ehl120 commented on #2658
Hi Naresh. I would like to get it work too but I don't have a work round yet.  Will try out Simone's advice of deactivating the Geowecache.

[2016-10-12 06:21] NyakudyaA commented on #2661
I am just using the default postgres image. So should we then modify the postgres image

[2016-10-12 09:15] #2401 closed

[2016-10-12 13:08] pjdufour opened #2667 "Thumbnail Exception Handling"
We should add `try` `except` to catch any IO exceptions when creating/deleting thumbnails.  For example at:

https://github.com/GeoNode/geonode/blob/master/geonode/base/models.py#L678

IO permissions exceptions with thumbnails currently block saving layer metadata.  Should be more resilient.

[2016-10-12 18:36] capooti commented on #2667
+1

[2016-10-12 18:37] capooti commented on #2667
This breaks also updatelayers in the case where the webserver user hasn't the right permissions on the file system (read this many times on mailing list)

[2016-10-14 00:01] harts-boundless opened #2669 "Some dependencies in geonode/static/lib/js are tracked in git while others are ignored"
The way that dependencies are treated is inconsistent, with some files treated one way and other files treated another way, and the choice seems to be arbitrary.

When you get a GeoNode clone, you get certain frontend dependencies. (Whether this is optimal or not is perhaps another topic.) But you don't get certain other frontend dependencies and you don't know they're missing until you see 404s i

[2016-10-14 00:02] harts-boundless commented on #2669
Of course some of this is causally explained by certain things being dev dependencies specified in the gruntfile, but that doesn't explain why some files used by the app are gitignored and some are not, or why some gitignored files are also tracked.

[2016-10-15 09:56] achorivai commented on #1951
hi @marcelovillarroel sorry very late respon
[mouseposition_geonode.zip](https://github.com/GeoNode/geonode/files/531068/mouseposition_geonode.zip)

[2016-10-17 13:11] etj opened #2670 "Keywords from thesauri"
Allow GeoNode to use keywords loaded from RDF thesauri.

Related to #2408.

[2016-10-17 21:40] harts-boundless commented on #2667
Makes sense. 2c on approach -

Some code may want to try to save a thumbnail, and actually detect in the code that it was not saved if something weird happens. That argues in favor of making changes at affected call sites, rather than swallowing up the exceptions in save_thumbnail itself. There are only a few call sites in GeoNode itself, and probably not all of those are currently causing problem

[2016-10-18 17:26] jj0hns0n commented on #2401
@afabiani can we migrate this documentation into the main GeoNode Docs now?

[2016-10-18 18:09] afabiani commented on #2401
Documentation is already there but it is not deployed by the continuous
integration system... it looks like someone has modified the docs jobs
removing the deployment stuff.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montr

[2016-10-18 18:22] jj0hns0n commented on #2401
Something was erroring on the docs job and I disabled it recently. @afabiani do you have time to take a look at see if you can re-enable it?

[2016-10-19 12:29] afabiani commented on #2401
The problem is the only jenkins job I can see with my user is empty. It is
currently enables but it does not nothing. Other than this I don't know how
to deploy to http://docs.geonode.org/ since I am not aware of the server
credentials.

Maybe Ariel or Simone could send some pointers?

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V f

[2016-10-19 14:09] simod commented on #2401
http://readthedocs.org/projects/geonode/builds/4531366/ this is what I see.

OSError: Could not find library geos_c or load any of its variants
['libgeos_c.so.1', 'libgeos_c.so']

2016-10-19 14:29 GMT+02:00 Alessio Fabiani <notifications@github.com>:

--
Simone

[2016-10-19 14:14] afabiani commented on #2401
Mmm, it looks Shapely version issue. Shapely (if I recall correctly) has a
version of geos lib inside conflicting with the GDAL one.

There was a similar issue some time ago with the shapely version declared
on GeoNode setup.py maybe?!?

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@al

[2016-10-19 14:58] jj0hns0n commented on #2401
That jenkins job never worked. We had it setup with a post-commit hook in
github -> readthedocs, but it stopped working somehow. Can you take a look
at that and see if you can get it to work again?

On Wed, Oct 19, 2016 at 5:29 AM, Alessio Fabiani <notifications@github.com>
wrote:

[2016-10-19 15:05] afabiani commented on #2401
Yep, I'll try to fix it.

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramito 3/A
55054  Massarosa (LU)
Italy
phone: +39 0584 962313
fax:     +39 0584 1660272
mob:   +39 331 6233686

http://www.geo-solutions.it
http://twi

[2016-10-19 16:38] afabiani commented on #2401
Jeffrey, readthedocs fails due to "requirements.txt" file including
"Shapely".

requirements.txt should be used only by CIs (as far as I know) since pip
makes use of setup.py to install the software.

This is the commit

https://github.com/GeoNode/geonode/commit/203cbb6c331ccbb16700877daa5da216d96c7c3c

reverting it the only way to make readthedocs working is to workaround the
requirements.txt fil

[2016-10-20 12:54] etj commented on #2670
We may want to move the doc wiki page https://github.com/geosolutions-it/geonode/wiki/Thesaurus-keywords into the official geonode wiki.

[2016-10-20 15:02] waybarrios opened #2682 "Celery_app typing error on docker-compose"
Please! Fix it Celery service on docker-compose:

Correct way:

[code]

Instead of:

[code]

[2016-10-20 16:19] waybarrios opened #2683 "Uploading issue"
When I tried to upload a sample layer, it showed me a `[Errno 111] Connection refused`and then on browser console displayed me the following:

[code]

Does anyone know what happens here?

[2016-10-20 16:46] jj0hns0n commented on #1139
http://docs.geonode.org/en/latest/tutorials/admin/backup_restore/index.html

[2016-10-20 16:46] #1139 closed

[2016-10-21 07:40] simod commented on #2683
Hi, seems that geoserver is not running.

ps, could you please use geonode-users@lists.osgeo.org to ask for support?

[2016-10-21 07:40] #2683 closed

[2016-10-21 09:16] sindile opened #2686 "Error in running geonode via docker"
I am trying to run geonode via docker (this is my first attempt on using docker)

have done the following:
1. cloned the master repo
2. docker-compose build
3. docker-compose up

have ran into errors:

**geonode/django      "celery worker --app="   35 minutes ago      Exited (1) 35 minutes ago**

ran docker logs "container id"

Traceback (most recent call last):
  File "/usr/local/bin/celery", lin

[2016-10-22 21:03] kalxas commented on #2348
After going through all the files once more, I found that most our Javascript files do not have headers:

https://wiki.osgeo.org/wiki/GeoNode_Provenance_Review#Source_Files

[code]

[2016-10-22 21:20] kalxas commented on #2348
Same for some CSS files:
[code]

[2016-10-24 01:19] jondoig commented on #2088
Is this the issue behind the error I just encountered? I created a group, then tried to add myself and instead of a simple message such as 'The invited user "jondoig" is already a member,' I got a "ValueError at /groups/group/CityFutures-City-Analytics/members_add/" with full debug details.

[2016-10-24 05:14] simod commented on #2088
@jondoig are you using geonode ui to manage groups? if not be sure to do so and don't use the admin.

[2016-10-24 22:42] harts-boundless commented on #2646
This may have been closed by #2671, would someone mind checking and closing if so?

[2016-10-24 22:45] harts-boundless commented on #2682
Here is the diff of the two
[code]

There is indeed a file at `geonode/celery_app.py` but not a `geonode/celeryapp.py`.

[2016-10-24 22:54] harts-boundless commented on #2686
The `No module named celeryapp` may relate to #2682

`config.xml` is often updated as part of a Geoserver install (e.g. as described in `docs/tutorials/install_and_admin/geonode_install/install_geoserver_application:98`, `docs/tutorials/admin/install/custom_install.txt:516` and `geonode/contrib/geosites/README.md:184` and as edited in a couple places in `scripts/cloud/fabfile.py`)

in Exchange's d

[2016-10-24 23:15] harts-boundless commented on #2464
I also hope that GeoNode will retain a fulltext-enabled search API that can use ElasticSearch, because this will greatly help us in our desire to contribute some currently funded work on Exchange's search interface as an optional addon for GeoNode.

[2016-10-25 04:21] jondoig opened #2688 ""Export map" button now "Map > Publish map""
Need to update "Exporting a Map" section in [User Guide](http://demo.geonode.org/help/):

There is no "export map" button, but this functionality is available from the View/Edit map page as Map > Publish map:
![image](https://cloud.githubusercontent.com/assets/4666409/19672883/333d1504-9ac6-11e6-9023-90f5021a8272.png)

[2016-10-25 04:34] jondoig opened #2689 "Quick install 'Unable to locate package geonode' on ubuntu 12.04"
[Quick install guide for ubuntu](http://docs.geonode.org/en/master/tutorials/install_and_admin/quick_install.html#ubuntu) says:

Set up the GeoNode PPA repository:

Install the package:

but on ubuntu 12.04 this gives:

If I change the first line to:

it completes successfully, but installs Geonode 2.01, when I wanted 2.4.

[2016-10-25 18:15] jj0hns0n commented on #2464
As far as I know this is back to working. But @simod and I looked over this
in Bonn and it could use some serious refactoring again. Lets put this on
the agenda for Rome for sure.

On Mon, Oct 24, 2016 at 4:15 PM, Sasha Hart <notifications@github.com>
wrote:

[2016-10-25 18:34] jondoig commented on #2088
Yes the UI. I was logged in as me (jondoig) not admin, so the system
automatically added me to the group when I created it. Hence it complained
when I tried to add me (again). So it was correct to complain, but it
should do so nicely in the UI, not with debug details.

I later saw down the very bottom of the error page that I have debug on,
and if I turn it off I'll get a simple 500 server error.

[2016-10-26 17:30] pjdufour commented on #2395
For [GeoDash ](http://geodash.io/), I've refractored most of the code for the "static build pipeline" into NPM modules rather than adding directly to a gulpfile.

https://www.npmjs.com/search?q=geodash

I think I can now make some progress on migrating using reusable code.  I think the best way is to create special `_templates`, `_controllers`, etc. folders in each Django app's `static` folder, su

[2016-11-01 10:30] vwmaus opened #2694 "docker-compose - Geoserver port not visuble for the host"
The Geoserver port 8080 is not visible for the host. In my local version I set the geoserver port to "8080:8080". Is there a reason to keep it not visible? If not, should I make a pull request for this?

[2016-11-02 10:16] matshenricson commented on #2689
I get exactly the same problem on 16.10

[2016-11-02 10:30] simod commented on #2689
Geonode stable is for ubuntu 14.04. On other versione the manual setup has to be followed. I'm flagging this a s doc issue

[2016-11-02 10:35] matshenricson commented on #2689
Well, Ubuntu LTS should be 16.04, right? Anyway, it seems like I am toast.

Mats

Den 2 nov. 2016 11:30 skrev "Simone Dalmasso" <notifications@github.com>:

[2016-11-02 10:37] simod commented on #2689
Also 14.04 and we released the 2.4 stable package only for it due to library versions

[2016-11-03 10:32] dvictori opened #2695 "Support for Python 3 or SNI (Server Name Indication) when using https"
I think I've hit a httplib2 bug that is causing trouble in my GeoNode Install. I have GeoNode (v2.4.1) running on Ubuntu 14.01. The server is behind a reverse proxy that has multiple SSL certificates associated with only one IP address.

The problem is that when I try to upload some data to GeoNode, I get a certificate mismatch. The returned certificate is the one associated with the IP address of

[2016-11-03 14:25] afabiani opened #2696 "GNIP - Better management of “View” and “Download” permissions"
# Overview
This GNIP aims to improve the management of “View” and “Download” layers permissions by separating concerns between backend mapping services (OGC _“WMS-like”_ services) and raw-data stream services (OGC _“W[F,C]S-like”_ services).

The proposal wants to spot also issues like:
https://github.com/GeoNode/geonode/issues/2085

It is worth notice that this proposal will be subdivided into 2

[2016-11-03 14:53] afabiani commented on #2085
Dear all, I created a GNIP which will address this issue too:

https://github.com/GeoNode/geonode/issues/2696

[2016-11-06 21:17] sarasafavi opened #2700 "Celery 4.0 released, breaking change due to incompatibility with django-celery"
Celery 4.0 was released this weekend, and [internal API changes](https://github.com/celery/celery/blob/master/docs/whatsnew-4.0.rst#changes-to-internal-api) make it no longer compatible with django-celery (specifically, renaming of the `celery.utils.timeutils` module). Since GeoNode setup pulls in [the latest celery](https://github.com/GeoNode/geonode/blob/master/setup.py#L121), this causes a pip-

[2016-11-07 01:49] ingenieroariel commented on #2700
Sara,

We could make sure that version is not pulled by using the same approach we
have with Django:

https://github.com/GeoNode/geonode/blob/master/setup.py#L55

On Sun, Nov 6, 2016 at 4:17 PM, Sara Safavi <notifications@github.com>
wrote:

[2016-11-07 01:52] ingenieroariel commented on #2700
BTW, I agree with you that we should just get rid of django-celery.

On Sun, Nov 6, 2016 at 8:49 PM, Ariel Nunez <ingenieroariel@gmail.com>
wrote:

[2016-11-07 02:00] sarasafavi commented on #2700
@ingenieroariel of course - that or any similar solution would be a quick fix to this, so I imagine if that got PR'd there'd be no argument against merging. Pulling djcelery at the same time would be a nice bonus as well.

[2016-11-07 06:08] pjdufour commented on #2700
Why do you want to remove django-celery?  Aren't we dependent on it for async taks, such as sending emails?

[2016-11-07 16:15] sarasafavi commented on #2700
@pjdufour FYI "django-celery" the outdated Python package != "using Celery in Django"'; for more info reference docs at http://docs.celeryproject.org/en/latest/django/first-steps-with-django.html

[2016-11-07 19:39] pjdufour commented on #2700
@sarasafavi thanks for clarifying.

[2016-11-08 15:30] capooti commented on #2085
thanks @afabiani !

[2016-11-08 16:55] sarasafavi commented on #2700
PR with celery version pin: https://github.com/GeoNode/geonode/pull/2708

I'm going to leave this issue open for now since we may address longer-term with the django-celery removal, as of that PR GeoNode master is alive & kicking again.

[2016-11-10 20:23] ingenieroariel opened #2712 "Create a test matrix for pinned requirements and min requirements"
As identified in #2710, we should have Travis test both with the pinned requirements and the ones that setup.py defines. This can help us fine tune the list of prefered requirements and identify when new incompatible versions are defined upstream.

[2016-11-10 22:32] pjdufour commented on #2395
So actually, after looking around, it doesn't seem like much of GeoNode is "angularized", only search.  Angularizing the modals for "Download Layer", "Edit Layer", "Download Metadata", and "Change Layer Permissions" seems like a good place to start for adding some structure.

[2016-11-10 22:34] pjdufour opened #2713 "API Schema Issue"
I've been looking around the geonode api and stumbled upon an error with `/api/layers/schema/` on the demo geonode.  If I understand correctly, this should be returning the schema for `/api/layers`.

http://demo.geonode.org/api/layers/schema

[code]

[2016-11-10 23:20] simod commented on #2395
-angular +react I'd say for geonode 3.0

[2016-11-10 23:36] capooti commented on #2395
Specially considering this: https://github.com/GeoNode/geonode-viewer

[2016-11-10 23:47] jj0hns0n commented on #2395
+1 on replacing all angular with react.

On Friday, November 11, 2016, Paolo Corti <notifications@github.com> wrote:

[2016-11-11 06:41] pjdufour commented on #2395
Just taking the `geonode-viewer` name first is not evidence that we should use react.  I expect to have a real conversation on this at the Summit about pros and cons.

[2016-11-11 06:52] simod commented on #2395
Imho it is. Not only because the react code is way much better, easy to
understand, fast and light but also because our current angularization is
outdated, based on angular 1.x and would deserve a so big refactor that I
really see no point to spend such effort on it.

Il venerdì 11 novembre 2016, Patrick Dufour <notifications@github.com> ha
scritto:

--
Simone

[2016-11-11 06:56] pjdufour commented on #2395
But as I mentioned there is actually very little Angular code being used right now.  The refractor is going to be jquery "spaghetti" to any web-framework.

[2016-11-11 07:01] simod commented on #2395
As I said I see react for Geonode 3.0 so I'm the future. There have been so
much evolution in it and I see a very good fit for visual components and
searching with half of the code. For Geonode 2.6 is ok as it is and if anyone
wants to add more angular is welcome.

Il venerdì 11 novembre 2016, Patrick Dufour <notifications@github.com> ha
scritto:

--
Simone

[2016-11-18 03:43] jondoig opened #2715 "Geoserver admin can have 3 passwords at once"
Within a Geonode installation, Geoserver allows 3 different passwords for admin login:

1. Geonode admin password
* Set by python manage.py createsuperuser, changed via Geonode GUI
* Stored encrypted in the geonode:people_profile table in postgres

2. Geoserver admin password
* Changed via Geoserver admin GUI
* Stored encrypted in /var/lib/tomcat7/webapps/geoserver/data/security/usergroup/default/

[2016-11-18 03:46] jondoig commented on #2715
For one thing at least, the [manual install doco](docs.geonode.org/en/master/tutorials/install_and_admin/geonode_install/index.html) should say to change the password in local_settings.py.

(Deleting this password doesn't work: it allows login with no password.)

[2016-11-18 03:52] jondoig commented on #2715
For one thing, the installation package, and [manual install doco](docs.geonode.org/en/master/tutorials/install_and_admin/geonode_install/index.html), should include a step to change the default password in local_settings.py. I've included [that step](https://github.com/UNSW-CFRC/geonode_install/blob/master/install_geonode/9.1_add_apache_geonode_config.yml#L27) in my own Ansible playbook for Ubunt

[2016-11-18 03:52] aaliceeee commented on #2715
well done dude， thanks

[2016-11-19 14:09] mfarook opened #2716 "Error while starting jetty server in Geonode Installation"
I am trying to install Geonode developer install from http://docs.geonode.org/en/master/tutorials/devel/devel_env/ after following the instructions given in documentation and start the server by paver start i am getting the following error

2016-11-19 05:58:10.809:WARN:oejw.WebAppContext:Failed startup of context o.e.j.w.WebAppContext{/geoserver,file:/home/farook/geonode/geoserver/geoserver/},../g

[2016-11-19 21:38] afabiani commented on #2716
Dear Ahamed,
I see two issues from the logs:

1. Java version; it looks like you are using a wrong one. My suggestion is
use Java 8.

2. Address is already in use; please, check you don't have a service
already running on port 8080

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa769

[2016-11-20 09:47] mfarook commented on #2716
Any way to start the paver in someother port?

[2016-11-21 04:10] jondoig opened #2717 "'Request bounding box has zero area' when replacing a layer or re-uploading a deleted layer"
Geonode 2.4 on Ubuntu 16.04:

Layer > Edit Layer > Layer: Replace
Layer Info: Map extent is world. Layer not drawn.

Exit to Layers: Thumbnail image is broken.

'Open image in new tab' gives WMS error:

Same happens if I:

1. Layer > Edit Layer > Remove
2. Layers > Upload Layers > upload the same shapefile again

Workaround:

Restart Tomcat after removing layer and before uploading again.

[2016-11-21 04:12] jondoig commented on #2717
Seems to be the same error [reported by isralopez in June](http://osgeo-org.1560.x6.nabble.com/Geoserver-upload-failed-tt5271932.html#none).

[2016-11-21 06:21] simod commented on #2716
Pleas use geonode-users@lists.osgeo.org to ask for support. I'm closing this issue.

[2016-11-21 06:21] #2716 closed

[2016-11-21 13:09] NyakudyaA opened #2718 "Incorrect thumbnails and Identification Image in docker-geonode v2.4"
# Problem
I have setup an instance of docker-geonode version 2.4. I updated my Public_location url and all works fine except that the thumbnails generated still reference localhost hence they do not draw.

# Part Solution
I have solved this by updating the  base_resourcebase table in the postgres database with a trigger which updates the thumbnail url.

[2016-11-24 17:17] afabiani opened #2720 "Incomplete OGC:WMS Download Link for Catalog"
GeoNode download_links for catalog, does not include the fully qualified layer name and therefore it is not possible for catalog clients to recognize the geospatial layer.

When generating the OGC:WMS download link, GeoNode should append the fully qualified layer name also.

[2016-11-24 18:04] tomkralidis commented on #2720
@afabiani we are not spelling out full GetMap requests by design.  The idea is for downstream clients to grab the URL and layer name and bind.

[2016-11-24 18:33] simboss commented on #2720
@tomkralidis I agree with your point, I'll talk to Alessio about the PR.

The one problem I see is that the way the information is conveyed from the CSW uses a specific GeoServer features that is virtual services. The WMS link uses the geonode workspace to qualify the service base link and the name is not workspace qualified.

This is _ok_ since GeoNode stores data in a single workspace but can ge

[2016-11-25 08:42] afabiani commented on #2720
Main issue I see is that GeoNode CSW does not declare the real Layer name at all except in few download links which can be different from a dataset to another. The way I modified the behavior is actually similar to the GeoNetwork approach.

[2016-11-25 08:45] afabiani commented on #2720
@simboss the resource name provided by the fix, does not currently rely on the fixed geonode workspace, but it declares the fully qualified name of the resource as stored in the GeoNode backend.

[2016-11-25 15:25] FdeFabricio opened #2723 "Not uploading after removing the layer"
1) Upload a layer (example files: a.cst, a.dbf, a.prj, a.shp, a.shx, a.xml)
2) Delete the layer
3) Upload the same files again
4) The upload is successful but the layer is empty

But if you change de name of the files before uploading on the second time, it works fine.

1) Upload a layer (example files: a.cst, a.dbf, a.prj, a.shp, a.shx, a.xml)
2) Delete the layer
  **2 1/2) Rename the files (b.cs

[2016-11-26 15:18] #2577 closed

[2016-11-27 02:55] srimalsl commented on #321
Dear All, I have layer style issue with latest version of Geonode. I have created new style in Geonode Administration and tried to add it to particular layer. I cannot find the new style I created in the list of available style. Why this is happening.  Srimal

[2016-11-28 08:44] jj0hns0n commented on #321
This is not the place for these kinds of questions, please use the list.

On Sun, Nov 27, 2016 at 3:55 AM, srimalsl <notifications@github.com> wrote:

[2016-11-28 09:45] capooti commented on #2625
@blackgis can we close this? Did you solve it?

[2016-11-28 09:49] jj0hns0n commented on #2644
@biomap can you perhaps send a PR for this?

[2016-11-28 09:50] #2625 closed

[2016-11-28 09:51] jj0hns0n commented on #2348
@BerryDaniel is your script still around for this?

[2016-11-28 10:00] sarasafavi commented on #2700
Closing; fixed with version pin. Re-opening #2246 instead, to track removal of django-celery.

[2016-11-28 10:00] #2700 closed

[2016-11-28 10:00] sarasafavi commented on #2246
Re-opening to track removal of django-celery; reference https://github.com/GeoNode/geonode/issues/2700 for more.

[2016-11-28 10:09] jj0hns0n opened #2727 "Complete migration of wiki to documentation"
To prevent further confusion. Im going to delete the wiki. The content is attached here.

[geonode.wiki.zip](https://github.com/GeoNode/geonode/files/615942/geonode.wiki.zip)

[2016-11-28 10:26] #2713 closed

[2016-11-28 10:36] martagi opened #2728 "if "LAYER_PREVIEW_LIBRARY" is set to "leaflet", map detail does not render correctly"
When `localhost:8000/maps/<mapid>` is loaded, the leaflet panel is empty.
![mapdetailleaflet_console](https://cloud.githubusercontent.com/assets/19388911/20665077/67305134-b55e-11e6-9169-78a905cf9c77.jpg)

If `localhost:8000/layers/<layername>`, the leaflet panel is ok.
![layerdetail_console](https://cloud.githubusercontent.com/assets/19388911/20665184/d5356e12-b55e-11e6-8d0f-ac6aeda23442.jpg)

[2016-11-28 10:45] sarasafavi opened #2729 "Integrate Coveralls with existing Travis CI"
Use Coveralls to generate coverage reports + badge on each PR

[2016-11-28 13:21] afabiani commented on #2723
Hi this may happen when the JDBC cache on GeoServer side is not yet cleaned out. Usually a quick workround for this is to manually reload the GeoServer configuration before replacing the layer.
We discussed in the past about a way to allow GeoNode to hit a GeoServer refresh. Maybe a first rough implementation is already available on the latest GeoNode versions. Which version are you using?

[2016-11-28 13:34] simod commented on #2728
seems that the initial map zoom and center are invalid.

[2016-11-28 14:18] #2689 closed

[2016-11-28 14:24] #2688 closed

[2016-11-28 15:05] #2498 closed

[2016-11-28 15:10] #2434 closed

[2016-11-28 15:15] #2413 closed

[2016-11-28 15:24] #2729 closed

[2016-11-28 15:25] jj0hns0n opened #2738 "Setup the CI to ignore docs dir"

[2016-11-28 16:41] d3netxer opened #2739 "documentation, master branch: change displayed version number"
On local build it displays '2.0', recommend changing to 'master' or something like this

[2016-11-29 10:39] afabiani commented on #2715
Hi created a documentation section explaining a bit how the security works here

https://github.com/GeoNode/geonode/pull/2746

[2016-11-29 12:49] #2715 closed

[2016-11-29 13:43] waybarrios opened #2750 "Need a way to get IP address for GeoServer in Docker"
Best way to request geoserver url
[code]
https://gist.github.com/waybarrios/22c8585da6d5a879d950735a39c71a09

[2016-11-29 14:08] milafrerichs commented on #2750
Docker is using their `docker-py` library in their `haproxy`
Maybe we can use that as well to find the IP adress for the geonode to authenticate with the geoserver

http://docker-py.readthedocs.io/en/stable/
https://github.com/docker/dockercloud-haproxy

[2016-11-29 14:12] sarasafavi commented on #2723
Closing for now; see Allesio's response above.

[2016-11-29 14:12] #2723 closed

[2016-11-29 14:18] #2646 closed

[2016-11-29 14:23] sarasafavi commented on #2738
Turns out there is _not_ actually a simple way to do this w/ Travis. I'm leaving this open as I have a workaround idea, but it shouldn't be considered a 2.6 blocker

[2016-11-29 17:28] #1644 closed

[2016-11-29 17:29] vrubiella commented on #1714
old issue

[2016-11-29 17:29] #1714 closed

[2016-12-01 09:24] harts-boundless commented on #2739
This was probably discussed verbally as a task someone else will do, but I'm unsure where to expect "2.0".

To clarify, is this what is meant? (The "2.4" in this screenshot?)

![geonode_doc_ver](https://cloud.githubusercontent.com/assets/20508891/20788201/0b31a4ec-b7b0-11e6-968d-b6ebc545b3a9.png)

Also to clarify: is the issue that when the doc is built on master, and master is some commits ahead

[2016-12-01 09:31] harts-boundless commented on #2657
That dictionary has some duplicated keys which make it confusing.

    Python 2.7.12 (default, Nov 19 2016, 06:48:10)
    [GCC 5.4.0 20160609] on linux2
    Type "help", "copyright", "credits" or "license" for more information.

    ... 'BACKEND': 'geonode.rest',
    ... 'OPTIONS': {
    ... 'TIME_ENABLED': False,
    ... 'GEOGIG_ENABLED': False,
    ... },
    ... 'BACKEND': 'geonode.importer',

[2016-12-01 09:32] simod commented on #2572
It is still the case, though the error is pure django style as we are in the admin. It could be tricky to make it better.

[2016-12-01 09:32] simod commented on #2456
This should be fixed right?

[2016-12-01 09:38] harts-boundless commented on #2738
Just to explain the details of this as I understand them for posterity, we can either implement a way for commit messages to skip CI (which is liable to be mistakenly used for things other than docs) or the CI checks can be implemented by a script which, at the beginning, looks at the list of files changed in all the commits back to e.g. master and exits with error code 0 in the event that all of

[2016-12-01 10:05] BerryDaniel commented on #2456
Let me check

On Dec 1, 2016 10:33, "Simone Dalmasso" <notifications@github.com> wrote:

[2016-12-01 10:13] simod commented on #2177
This looks fixed,
my test:
- drop db and thumbnails
- create db
- run updatelayers

new thumbs are generated and the styles are available in style manage.
Closing it

[2016-12-01 10:13] #2177 closed

[2016-12-01 10:17] #2049 closed

[2016-12-01 10:24] #2573 closed

[2016-12-01 10:27] sarasafavi commented on #2572
Confirmed still the case, however I'm removing the "bug" label as the behavior is not unexpected (a constraint violation results in an IntegrityError). Agree that the error might be presented to the admin user more nicely, so I'll work on improving this.

[2016-12-01 10:40] harts-boundless commented on #2727
Where are the GNIPs moving to now that https://github.com/GeoNode/geonode/wiki/GeoNode-Improvement-Proposals is gone?

[2016-12-01 10:46] jj0hns0n commented on #2727
We moved them to normal issues quite a while ago.

On Thu, Dec 1, 2016 at 11:40 AM, Sasha Hart <notifications@github.com>
wrote:

[2016-12-01 12:31] d3netxer commented on #2739
yes, I saw '2.0' where '2.4' was, but it was on an older version on my local machine before I remembered to do a git pull.

About the clarification; I'm not sure what is better to display if the master is some commits ahead of the last major version.

[2016-12-01 12:31] #2739 closed

[2016-12-01 15:02] waybarrios commented on #2750
I just put default django container IP address on [geoserver.env](https://github.com/GeoNode/geonode/blob/master/geoserver.env#l4)

I only have to link django into geoserver service on `docker-compose.yml`. Besides, `$DJANGO_URL` env variable is overwrite into `config.xml`from geoserver_data folder. The script that makes it possible is the [following](https://github.com/GeoNode/geoserver-docker/co

[2016-12-01 17:10] afabiani opened #2758 "Improve Integration Tests with GeoFence"
With the new A&A security system, the integration tests logs a lot of warning exceptions.

Also we have to add more tests specific for GeoFence rules.

[2016-12-01 17:11] afabiani opened #2759 "Layers Count consider both view and download permissions"
If a user has different permissions on a Layer, it cannot view some resources, but the Layer counter still consider them into the amount.

We need to fix this.

[2016-12-02 10:13] cgiovando opened #2760 "The cart icon is misleading"
I understand that the cart icon next to each layer is used for selecting multiple layers and applying permissions or creating maps.

Seeing a cart icon, I expect some kind of shopping/transaction experience, which is not the case. I would suggest replacing the cart icon with selector check boxes.

[2016-12-02 12:18] d3netxer opened #2762 "UI and functionality improvements to Layer Page header and selections"
See current screenshot of demo GeoNode:

<img width="1326" alt="before" src="https://cloud.githubusercontent.com/assets/2665840/20833521/719ef230-b890-11e6-9b2b-d167d90ff1b6.png">

See My Mock-Up of how it can be improved:

<img width="1247" alt="after" src="https://cloud.githubusercontent.com/assets/2665840/20833527/85475df4-b890-11e6-9cd7-1110754932ef.png">

This is a list of what needs to be im

[2016-12-02 12:20] d3netxer commented on #2760
I agree with this @cgiovando and have heard similar complaints from others. I wanted to do a mock-up but thought of other minor ways to improve the layout and selection options for layers; so I created a new issue. See #2762

[2016-12-02 15:12] tomkralidis commented on #2332
Fixed in master.

[2016-12-02 15:12] #2332 closed

[2016-12-05 08:14] code-geek opened #2764 "PostGreSQL error when creating new Layer, Map, Document etc."
operator does not exist: boolean = integer
LINE 1: ...ng" FROM "base_resourcebase" WHERE ((is_published = 1) AND "...
                                                             ^
HINT:  No operator matches the given name and argument type(s). You might need to add explicit type casts.

This seems to be because of this portion
[code]

in pycsw_local.py

Specifically, editing line 49 to to 'filter

[2016-12-05 08:38] simod commented on #2764
@code-geek could you give more details on how you installed geonode, so that we can try to replicate it?

[2016-12-05 08:40] code-geek commented on #2764
Sure, I just followed [this tutorial](http://docs.geonode.org/en/master/tutorials/devel/devel_env/index.html).

[2016-12-05 08:43] simod commented on #2764
@tomkralidis any idea?

[2016-12-05 08:44] code-geek commented on #2764
Since #2763 addresses the same issue, I'm closing this one. Sorry for not noticing before.

[2016-12-05 08:44] #2764 closed

[2016-12-06 11:35] blackgis commented on #2625
@capooti @simod We did a reinstall with the settings as described, and now its working. We use a PaaS for GeoNode and my hoster come up with the idea of installing the latest geoserver (2.9 at this time) and this was somehow the failure.

[2016-12-07 11:41] fargalaxy1 commented on #2728
I found that in `maps/map_leaflet.html` the map center `({{ resource.center_x }}, {{ resource.center_y }})` is in EPSG:900913 projection while leaflet setview() method uses (lat,lon) coordinates.
I used [proj4js](http://proj4js.org/) to convert the map center in (lat, lon). If I set a "static" tilelayer and add it to the map, the leaflet panel correctly shows up the expected area. If I use tilelay

[2016-12-07 13:00] simod commented on #2728
not really suggestions apart of some debug that need to be done in the js generated by django. Thanks @fargalaxy1, if you can come up with a PR then, we'll appreciate :)

[2016-12-09 15:28] sindile opened #2769 "Containers with Exited status"
I am not sure what is happening with the following containers -  running docker logs CONTAINER_ID:
**8b3df31acd4b        geonode/django            "celery worker --app="   9 seconds ago       Exited (0) 4 seconds ago                                         geonode_celery_1**
[2016-12-09 09:23:16,165: INFO/MainProcess] Connected to django://localhost//
[2016-12-09 09:23:16,172: INFO/Beat] beat: Sta

[2016-12-13 14:12] afabiani opened #2771 "Wrong pycsw_local sqlite check - Upload Layer broken"
The following check

true_value = 'true'
if 'sqlite' in settings.DATABASE_URL:
    true_value = '1'

on pycsw_local class does not work correctly. Currently with this change it won't be possible to upload any layer on GeoNode with a PostGIS backend.

[2016-12-13 14:13] tomkralidis commented on #2771
@afabiani thanks.  Fix coming (see https://github.com/GeoNode/geonode/pull/2767#issuecomment-266720557)

[2016-12-13 14:24] tomkralidis commented on #2771
Fixed in master.

[2016-12-13 14:24] #2771 closed

[2016-12-13 14:45] afabiani commented on #2771
@tomkralidis Thanks!

[2016-12-14 08:05] ppasq commented on #1418
This was done on [Masdap](http://www.masdap.mw/contact/) adding django-nocaptcha-recaptcha. If there is consensus on this I can prepare a PR.

[2016-12-14 16:34] jj0hns0n commented on #2374
Closing this as merged. Tested with paver setup ... docker, ansible and packaging needs to catch up. @afabiani when will we migrate to GS 2.10?

[2016-12-14 16:34] #2374 closed

[2016-12-14 16:37] jj0hns0n commented on #1329
@afabiani @ingenieroariel going to close this as the new A&A has been merged which implements oAuth. We can open new tickets for this integration separately now.

[2016-12-14 16:37] #1329 closed

[2016-12-14 16:38] jj0hns0n commented on #2696
@afabiani can we update this one wrt to the new A&A work and what remains to be done to implement these types of security rules.

[2016-12-14 16:40] jj0hns0n commented on #1331
@bartvde @milafrerichs we now have 3 implementations that use the gxp based map format. Think it could be time to better document this and work toward a _next_ map format now that we support the _old_ format even in the newest client.

@timlinux would like your input here to wrt to qgis project files as a similar construct.

[2016-12-14 16:51] capooti commented on #1331
I agree with @jj0hns0n that the next map format should support the old format. It would be nice if users could decide which client to use for a specific map. And definitely this would help migrations of existing instances.

[2016-12-14 17:34] jj0hns0n commented on #1331
@capooti I think that we can now move on from the old gxp format as  long as the new viewers still support it.

[2016-12-14 20:03] waybarrios opened #2773 "Default_oauth_apps for Geoserver"
@afabiani  `redirect_uris` corresponds to `GEOSERVER_LOCATION`or `GEOSERVER_PUBLIC_LOCATION`?

[code]

source:
https://github.com/GeoNode/geonode/blob/master/geonode/base/fixtures/default_oauth_apps.json

[2016-12-15 10:08] afabiani commented on #2773
Hi @waybarrios, since the fixtures are used to setup only the initial environment, GeoNode by default declares both local and public GeoServer location as http://localhost:8080/geoserver

In case you need to add more locations for your GeoServer instances, you can both:

1. Add those later on via GeoNode ADMIN Dashboard (see doc @ http://docs.geonode.org/en/latest/tutorials/admin/geoserver_geonode

[2016-12-15 10:10] afabiani commented on #2696
This is completed with the new A&A merged on master branch.

[2016-12-15 10:10] #2696 closed

[2016-12-15 10:18] afabiani commented on #2374
@jj0hns0n we can envisage to easily move to GeoServer 2.10 now. With the occasion we can also better cleanup the data directory. I'm going to open an issue for that and try to work on this in the next days.

[2016-12-15 10:30] afabiani opened #2774 "Update GeoServer to 2.10.x and remove old stuff"
Consider updating to GeoServer 2.10.x and with the occasion cleanup the GeoServer data dir from old unused customised modules and extract dependencies as much as possible.

[2016-12-15 14:09] cgiovando opened #2775 "Add link back to GeoNode from GeoServer page"
Once the user goes to the admin GeoServer page, there is no link/button that leads back to GeoNode.

[2016-12-15 17:09] jj0hns0n commented on #2775
Note, I opened this ticket long ago. It would be good to have a unified header across geonode, geoserver and the geonode admin https://github.com/GeoNode/geonode/issues/907

[2016-12-15 17:12] afabiani commented on #2775
This could be feasible by customizing the GeoServer theme. In the simplest case it is just matter of producing some fancy CSS stylesheets.

[2016-12-15 17:20] jj0hns0n commented on #2775
@afabiani could we do this and just reuse the geonode header in our geoserver build?

[2016-12-15 23:17] aquilaimaging opened #2776 "poor resolution on GeoTIFF"
Hello,
I am having a problem with a geotiff I imported through the geonode interface. The file does not display correctly, it has a very low resolution & I am not able to zoom in very close.

I checked it out in the openlayers preview from geoserver and it looks fine. I'm not sure why it is not rendering correctly in geonode interface.

Can anyone explain or point me in the direction of a fix?

Ge

[2016-12-16 16:21] BerryDaniel opened #2778 "Remove corsheaders as a dependency"
The installed app `corsheaders` should be removed, since it has never actually worked and it is just adding a non essential package to GeoNode.

[2016-12-16 16:26] BerryDaniel commented on #2778
@afabiani is the app really needed for the updated A & A? Otherwise we should remove it as an installed app by default.

[2016-12-16 16:54] waybarrios commented on #2773
Hi @afabiani I just downloaded Geoserver.war from http://build.geonode.org/geoserver/latest/geoserver-2.9.x-oauth2.war But I noticed I can't access using default credentials, I mean `username:admin` `password:geoserver`

[2016-12-16 20:00] aquilaimaging commented on #2776
I added a geotiff directly to geoserver then added the wms into geonode, thinking maybe it was not formating right when being added vis the geonode interface. But the problem persisted with this alternate method as well.

This seems like I am i am missing some simple here...

Thoughts?

[2016-12-17 05:55] aquilaimaging opened #2781 "Higher zoom levels in geoexplorer"
Hello,
I am attempting to add additional zoom levels to geoexplorer.

I found this reference:
http://lists.osgeo.org/pipermail/geonode-users/2015-May/000408.html

Which led me to:
http://gis.stackexchange.com/questions/91902/geoexplorer-setting-more-custom-zoom-levels

But I am not sure which file I need to modify and where exactly in the file I need to add the code.

Would this be the correct fil

[2016-12-17 09:01] simod commented on #2781
Hi, it should be this file https://github.com/GeoNode/geonode/blob/master/geonode/maps/templates/maps/map_geoexplorer.js.

Ps please use the mailing lists geonode-users@lists.osgeo.org to ask for support.

[2016-12-17 09:01] #2781 closed

[2016-12-19 09:11] code-geek opened #2783 "Announcements getting covered by the navbar in the index page"
![image](https://cloud.githubusercontent.com/assets/4883631/21306880/409bc8c0-c5fb-11e6-95c2-923d9e108022.png)

[2016-12-19 09:37] afabiani commented on #2778
Nope, we can remove it.

[2016-12-19 09:39] afabiani commented on #2773
I will check it. Thanks for noticing.

[2016-12-19 09:41] afabiani commented on #2775
I can try to find a solution while working on GeoServer 2.10.x update.

[2016-12-19 10:45] afabiani commented on #2773
@waybarrios I just updated the GeoServer Data Dir, the issue should be fixed now.

WAR and Zip updated on build.geonode.org.

Please make sure your GeoServer Data Dir is updated with the latest one

http://build.geonode.org/geoserver/latest/data-2.9.x-oauth2.zip

Thanks,
-A.

[2016-12-21 09:18] code-geek opened #2786 "DEFAULT_TOPICCATEGORY setting not working?"
I'm trying to set a default for the topic category when editing metadata for a layer, document, etc. However, setting this does nothing:

`DEFAULT_TOPICCATEGORY = 'location'`

So, I looked for "settings.DEFAULT_TOPICCATEGORY" in the codebase and can't find it anywhere. Is this a bug? What am I missing?

I'm following [this.](http://docs.geonode.org/en/master/tutorials/advanced/geonode_settings/set

[2016-12-21 09:38] simod commented on #2786
Hi it is indeed a docs bug, that setting doesn't exists anymore in geonode. Labelling accordingly. Thanks

[2016-12-21 12:53] code-geek commented on #2786
Is there an easy way to set a default category?

[2016-12-21 13:07] simod commented on #2786
No, I don't think so. Not straightforward at least :)

[2016-12-21 14:06] capooti commented on #2786
Maybe is not ideal for everyone, but I think it can be done by setting a default value at the database level if it is really needed. I have not tested, though

[2016-12-21 16:13] capooti commented on #2778
I think we can close this correct?
https://github.com/GeoNode/geonode/pull/2785/commits/99b1ae5e181645ac8c33eea8f6254f3810ef6509

[2016-12-21 16:16] capooti commented on #2776
It would help to have a (smaller) dataset to replicate the problem.
From what you describe, though, it is not a problem related to GeoNode, but to GeoServer: correct?

[2016-12-21 16:37] BerryDaniel commented on #2778
Thanks for the reminder @capooti

[2016-12-21 16:37] #2778 closed

[2016-12-21 17:45] capooti commented on #2773
@waybarrios we can close this I assume?

[2016-12-21 22:53] #2786 closed

[2016-12-21 22:56] capooti commented on #2652
I would say it is a bug @simod

[2016-12-21 23:01] capooti commented on #2535
this is connected to #2291 and it should be a celery task as well

[2016-12-22 06:18] simod commented on #2652
Not sure, a thumbnail can be set manually with edit layer, which is also the only way to get the background. The option to have the whole process automatic I see it more as a feature request and would require the server side logic to fetch osm tiles (or other sources?)

[2016-12-22 10:16] francbartoli commented on #2769
@sindile The exited status of the geonode/geoserver_data container is the expected behavior.

Regarding the elasticsearch one can you please check your default setting of your docker machine in term of max virtual memory?

[2016-12-22 10:23] francbartoli commented on #2718
@NyakudyaA does this continue to be an issue yet?

[2016-12-22 10:27] NyakudyaA commented on #2718
It is no longer an issue

[2016-12-22 10:27] #2718 closed

[2016-12-22 10:28] francbartoli commented on #2694
@vwmaus are you talking about a development environment or a production one which would be proxied by nginx?
In the latter case it does not make sense to have the 8080 port exposed to the host and so I would close this.

[2016-12-22 10:33] francbartoli commented on #2686
I think this is no longer happening with the latest updates so I'm going to close it

[2016-12-22 10:33] #2686 closed

[2016-12-22 10:45] francbartoli commented on #2682
Closed with #2697

[2016-12-22 10:45] #2682 closed

[2016-12-22 11:07] francbartoli commented on #2661
@NyakudyaA It is not expected to create a new postgis datastore for the geonode platform. What are you trying to achieve here?

[2016-12-22 11:10] francbartoli commented on #2662
@NyakudyaA Is this still an issue?

[2016-12-22 11:13] NyakudyaA commented on #2661
I had big datasets (shapefile) which I needed to directly upload to my geonode database store. After this I needed to publish the data in geoserver and then update my geonode with geoserver. The python manage.py upload layers only works with shapefiles

[2016-12-22 11:15] NyakudyaA commented on #2662
yes It is still an issue.

[2016-12-22 11:29] francbartoli commented on #2395
With my +1 for react I'm wondering if it does make sense to use definitively:

- [Webpack](https://github.com/webpack/webpack)
- [django-webpack-loader](https://pypi.python.org/pypi/django-webpack-loader)

as a build pipeline with npm as well.

An example here:

[http://owaislone.org/blog/webpack-plus-reactjs-and-django/](http://owaislone.org/blog/webpack-plus-reactjs-and-django/)

[2016-12-22 11:37] francbartoli commented on #2662
Can you please explain better your workflow after using the default docker-compose from geonode?

This would allow to reproduce the issue.

[2016-12-22 11:58] francbartoli commented on #2661
Have you considered the option to load shapefiles into the data volume and then run importlayers [http://docs.geonode.org/en/master/tutorials/admin/admin_mgmt_commands/](http://docs.geonode.org/en/master/tutorials/admin/admin_mgmt_commands/)?

[2016-12-22 12:15] NyakudyaA commented on #2661
yes I have considered running those commands. It is just that by having the data in the database it opens up a whole lot of possibilities and also creating views in the database and geoserver sql views. I would prefer to upload the data into the db. Unless that is the only solution to use shapefiles

[2016-12-22 12:56] NyakudyaA commented on #2662
I was trying to use another postgres image.
*  Clone the geonode repo
* Edit docker-compose to change the postgres section.
  Use [https://github.com/kartoza/docker-postgis](url) instead of the specified image
  Change the docker compose to be the same as the image attached above.
  Since this docker image has a database called gis, username docker which will need to be changed
  in the docker com

[2016-12-22 13:15] simod commented on #2395
yes, we will use them!

[2016-12-22 13:23] francbartoli commented on #2662
So what the issue would be with the original docker-compose file?

If you have improvements please provide PR for this.

Thanks

Inviato da iPhone

[2016-12-22 13:44] capooti commented on #2652
@simod when uploading a new layer a thumbnail with the default style is correctly generated. I think it would be expected that when changing the default style of the layer the thumbnail would be updated accordingly

[2016-12-22 13:52] simod commented on #2652
totally agree, but I'd expect as well that if I have created a thumbnail with the background, the new one also has it otherwise I'll have to go and set it manually. What I mean is that imho is not a bug preventing to do something, is just that the process is not automatic. If you change the style, you have also to regenerate the thumbnail. But definitely we should fix this in the next releases.

[2016-12-22 19:03] aquilaimaging commented on #2776
@capooti

I'm not sure what the data set size has to do with this problem. Care to clarify?

No, this is incorrect. Per my initial comment:

As far as I can tell this is a problem in geonode as the geotiff renders fine in the openlayers preview in geoserver.

Now that those points are clear, can you or anyone else provide some guidance as to how to fix this?

[2016-12-23 15:57] capooti commented on #2776
Oh I see. This is because your layer cover a small extent and the default numZoomLevels for GeoExplorer is set to 20, which prevents your from being able to zoom in to a smaller area in your raster.
You should be able to override numZoomLevels in the javascript.

[2016-12-23 17:05] aquilaimaging commented on #2776
Ah ok. This was the other problem I was trying to sort out :) I'm glad to here my problem(s) are one in the same. I will try to sort out the zoom level. Thanks for your response and your time!

[2017-01-02 15:37] #2670 closed

[2017-01-02 18:41] waybarrios commented on #2773
for sure @capooti

[2017-01-02 18:41] #2773 closed

[2017-01-02 20:35] pjdufour opened #2795 "Download Layer Modal Improvements"
The links in the download layer modal are currently grouped in tabs by "images" and then "data", which is determined by whether they are `wms/gwc` services or not.  See: https://github.com/GeoNode/geonode/blob/master/geonode/layers/views.py#L334.

In regards to UX, many/most GeoNodes are data portals, so the data tab should probably come before "images" tab.  Some instances are primarily used for

[2017-01-02 20:47] pjdufour opened #2796 "ngCloak issue / search page loading"
For some reason, [ngCloak](https://docs.angularjs.org/api/ng/directive/ngCloak) is no longer working on the search pages.  Probably our logic/algorithm mistake.  It would be better to have the search pages flash a better loading message (or just show as blank) rather the message in the below screenshot.

![image](https://cloud.githubusercontent.com/assets/1438253/21595981/23c691e6-d0e9-11e6-9f76-8

[2017-01-03 09:54] #2694 closed

[2017-01-03 09:55] #2662 closed

[2017-01-03 09:55] #2769 closed

[2017-01-03 11:17] vwmaus commented on #2694
You are right, sorry for the mistake. Thanks!

[2017-01-04 20:03] waybarrios opened #2800 "Geoserver: No AuthenticationProvider on GeoNode Container"
I've been trying deployment on docker with the new authentication on docker, and I got the following error.

<img width="794" alt="captura de pantalla 2017-01-04 a las 2 35 27 p m" src="https://cloud.githubusercontent.com/assets/6794828/21656660/105feb0c-d28d-11e6-9fc0-cb78128df102.png">

However, django container and geoserver container are connected in the same network, because I can ping it and

[2017-01-05 09:40] ninsbl opened #2802 "Legend and North arrow not showing in map prints"
When printing a (unsaved) map in GeoNode 2.4 the legend of the map is not printed. Neither is the north arrow. In fact, the map print preview looks relatively different from the final result (PDF) (different scale bar).

[2017-01-05 10:19] ninsbl opened #2803 "Add bibliographicCitation to metadata"
When people download or use data from GeoNode, they often wonder how to cite the accessed data. It would be great to have a "bibliographicCitation" metadata entry, as e.g. defined in

- Dublin Core http://dublincore.org/documents/2012/06/14/dcmi-terms/?v=terms#bibliographicCitation or
- Darwin Core: http://rs.tdwg.org/dwc/terms/index.htm#dcterms:bibliographicCitation

However, I have no clear idea

[2017-01-05 10:38] simod commented on #2802
Hi, does this happen also after you configure the printing module as per http://docs.geonode.org/en/master/tutorials/advanced/geonode_production/production.html?highlight=printing#printing-with-the-mapfish-print-service?

[2017-01-05 10:45] ninsbl commented on #2802
Hi, and thanks for your swift reply! Have to ask @mdlux on that...

[2017-01-05 23:11] pjdufour commented on #2803
CC @tomkralidis

[2017-01-09 10:06] afabiani commented on #2795
Roger

[2017-01-09 10:15] afabiani commented on #2800
Usually this is caused by the new GeoNode REST Role Service. The new GeoServer auth system tries to gets roles from GeoNode by default.

- check that the GeoNode REST apis are reachable and the URIs well configured in GeoServer

- try also to change the default Role Service on GeoServer to "default" (see screenshot)

![image](https://cloud.githubusercontent.com/assets/1278021/21763205/fc204bfe-d65

[2017-01-10 10:51] karakostis opened #2810 "Enrich the metadata XML with attribute information of the layer"
Downloading the metadata of a layer in ISO format, doesn't include the attributes of the layer (the description and the label of each attribute).

It would be useful to include these elements in the exported XML. What is the recommended workflow for this? As far as I know, pyCSW is used for the exporting of metadata in different formats; thus modifications would be needed on the pyCSW side. Is tha

[2017-01-10 11:36] kalxas commented on #2810
I am not sure if the label of each attribute falls under the metadata scope.
In any case, we would need to figure out where is this handled in the ISO 19115 and then see if those elements are supported in OWSLib.

[2017-01-10 12:49] tomkralidis commented on #2810
I think the appropriate workflow to expose fields like this is when GeoNode saves an ISO document from scratch.  We'll have to ensure this is represented correctly in ISO proper and should not expect metadata exports other than ISO to support this feature.

[2017-01-10 15:08] tomkralidis commented on #2810
Looking deeper, here are the implementation specifics:

## Raster/GeoTIFF
- include the following in `geonode/catalogue/templates/catalogue/full_metadata.xml`
[code]
## Vector/Shapefile
- ISO 19115 dictates to specify attribute information via ISO 19110 via ONLY a reference, not inline
- include the following in `geonode/catalogue/templates/catalogue/full_metadata.xml`
[code]
- the actual 19110 XM

[2017-01-10 16:04] capooti commented on #1770
GeoExplorer does not honor the field order (I can fix it).

I would also need to have the is_visible attribute for my instance in the attribute model. Am I too late for a schema changes in 2.6? I can provide a PR ASAP.
Thanks

[2017-01-10 16:15] karakostis commented on #2810
Thanks Tom.
So no changes have to be made from the pyCSW side?

[2017-01-10 16:16] tomkralidis commented on #2810
@karakostis no, these are GeoNode enhancements.

[2017-01-10 16:18] capooti commented on #2372
@jj0hns0n I need to implement this for our instance. What is the best way to send the PR vs 2.7?

[2017-01-12 14:06] afabiani opened #2815 "OAuth2 "verify_token" api should not throw an error if user is not authenticated"
Currently the "verify_token" api throws an exception if there is no authenticated user on the session. This causes an error when trying to acquire token info from an external URI. Moreover this check is not necessary at all, since the authentication process to obtain a valid "access_token" has been already done before.

[2017-01-12 14:16] afabiani commented on #2815
PR: https://github.com/GeoNode/geonode/pull/2816

[2017-01-12 14:24] mehmadi opened #2817 "Some of the field labels in Edit Profile do not get translated"
I noticed that some of the field labels and help_texts in the Edit Profile page do not get translated (only the first three fields and help_text for the last field are translated). All translations are available in .po files. I through adding a translation.py in geonode/people directory may solve it, but apparently did not work.
The same problem exists in the admin panel for users' detail, as well

[2017-01-12 14:45] #2815 closed

[2017-01-12 16:53] #2291 closed

[2017-01-12 22:19] capooti opened #2819 "Path issue with geonode-project"
When running paver start_geoserver in my custom geonode-project, there is a path problem and importing from myproject.settings the OGC_SERVER setting it is causing an import error.
I could fix it by adding the current path of the pavement file to sys.path: does it make sense to send a PR with this?

[2017-01-13 02:32] jj0hns0n opened #2822 "TemplateDoesNotExist at /admin/base/hierarchicalkeyword/"
[code]

[2017-01-13 02:33] jj0hns0n commented on #2822
@simod I can look at this in the morning if you don't get to it first ;)

[2017-01-13 08:04] simod commented on #2819
I never use paver start, especially in projects. We could do this but usually write a shell script to start and shut down the machinery.

[2017-01-13 08:17] simod commented on #2822
@jj0hns0n treebeard is missing from your settings. I fixed it. https://github.com/GeoNode/geonode/blob/master/geonode/settings.py#L309

[2017-01-13 08:17] #2822 closed

[2017-01-13 15:29] capooti commented on #2819
paver start_geoserver in this case, that is the way I use to start GeoServer.
I also do not use paver start, but start the django development server with runserver

[2017-01-13 15:31] simod commented on #2819
ah yeah, sorry, didn't mention. A script that runs geoserver from within the geonode_core folder :) sry

[2017-01-13 16:32] capooti opened #2823 "Lack of documentation for GeoNode Celery tasks"
There are several Celery tasks in GeoNode such as delete_layer, delete_map, send_email, etc...
We should include in the documentation what these tasks do and how they can be used.

[2017-01-13 16:36] capooti opened #2824 "Thumbnails for documents don't use the same file name pattern of layers and maps"
Format for maps:
Now: map-uuid-thumb-png

Format for layers:
Now: layer-uuid-thumb-png

Format for documents:

Now: doc-id-thumb.png
Should be: document-uuid-thumb.png

[2017-01-14 16:14] #2824 closed

[2017-01-14 16:14] #2535 closed

[2017-01-14 17:48] francbartoli commented on #2800
@waybarrios can you try with the latest builds of images from docker hub?

[2017-01-17 09:12] afabiani opened #2831 "Celery version on setup.py"
There are errors with celery >= 4.*

The dependency should be modified from

"celery>=3.1.18,<4.0a0"

to

"celery>=3.1.18,<4.0"

in order to avoid any possible installation of celery 4.*

[2017-01-17 20:55] capooti commented on #2717
I cannot replicate this.

[2017-01-17 21:04] capooti opened #2838 "updatelayers does not generate anymore the layers thumbnails"

[2017-01-17 21:09] capooti opened #2839 "Tkeywords error when updating metadata"
When saving metadata for a fresh uploaded layer I the an error generated by the Tkeywords field being mandatory.

![screenshot 2017-01-17 16 07 25](https://cloud.githubusercontent.com/assets/148380/22039928/23dd705e-dccf-11e6-8a0f-7b8c78bcf9d1.png)

There is no way to edit that field from the UI

![screenshot 2017-01-17 16 07 40](https://cloud.githubusercontent.com/assets/148380/22039941/2952a4fa-

[2017-01-17 21:13] capooti commented on #2839
+1 to make this field not mandatory

[2017-01-17 21:47] capooti commented on #2838
The cause: geoserver signals are not executed from the command (that is using gs_slurp)

[2017-01-18 04:51] davekennewell commented on #2717
+1

I've experienced the same behaviour using geonode 2.4 on ubuntu 14.04. I haven't yet tried the "restart tomcat" workaround, but I did check write permissions for the uploaded files and this didn't seem to be the problem.

[2017-01-18 07:56] simod commented on #2717
I can replicate, it happens in production and the layer has to be replaced twice in order to show up again.

[2017-01-18 07:57] #2667 closed

[2017-01-18 08:00] simod commented on #2839
+1

2017-01-17 22:13 GMT+01:00 Paolo Corti <notifications@github.com>:

--
Simone

[2017-01-18 15:19] capooti commented on #2717
I tested with GN master, and the development server. In such a scenario I do not experience it

[2017-01-18 15:19] capooti commented on #2717
So it could be a problem of GN 2.4?

[2017-01-18 16:23] capooti commented on #2299
I believe this was fixed by #2841
I cannot reproduce it now, so I am closing it.

[2017-01-18 16:23] #2299 closed

[2017-01-18 16:33] capooti commented on #1784
With reference to the issue subject, as an authenticated user, right now:
* I can see all the public groups and the users belonging to them
* I cannot see any private group

Therefore I believe we can close this.

[2017-01-18 23:37] #2838 closed

[2017-01-19 16:30] capooti opened #2843 "Thumbnails should be generated asyncronously"
When available, we should use Celery to send all of the thumbnails manipulation tasks.

[2017-01-20 16:45] capooti commented on #2839
Apart making it not mandatory, this field for some reason is  not currently editable using GeoNode UI, not even in Django admin.
Will look into this.

[2017-01-20 16:51] afabiani commented on #2839
It will be editable with the new metadata editor we are currently
developing.

http://geonode-dev-md.geo-solutions.it/layers/geonode:san_andres_y_providencia_location/metadata

*demo / demo*

Best Regards,
Alessio Fabiani.

==
GeoServer Professional Services from the experts!
Visit http://goo.gl/it488V for more information.
==

Ing. Alessio Fabiani
@alfa7691
Founder/Technical Lead

GeoSolutions S.

[2017-01-20 16:55] capooti commented on #2839
oh awesome. Did not know about it!
thanks @afabiani

[2017-01-20 18:02] #2652 closed

[2017-01-20 19:53] jj0hns0n opened #2845 "Metadata form requires TKeywords but not able to enter them"
<img width="685" alt="screen shot 2017-01-20 at 11 49 56" src="https://cloud.githubusercontent.com/assets/506078/22163279/0599badc-df07-11e6-8dba-67dc5de3f5e2.png">

@afabiani can you take a look?

[2017-01-23 11:30] tomkralidis commented on #2810
@karakostis FYI this has been implemented in master per https://github.com/GeoNode/geonode/issues/2810#issuecomment-271599357.   Can you try this out and report back?

[2017-01-23 15:48] karakostis commented on #2810
@tomkralidis I have integrated and tested your commit and works. Thank you for this. So far I haven't played with the catalogue application and takes some time to understand each component and how all bind together. I want also to add the **description**  and **label** of its attribute to the feature_catalog.xml. I see that the attribute's description is in layers_attribute table. I guess the way

[2017-01-23 20:37] tomkralidis commented on #2810
@karakostis thanks for the info.  Exactly.  We can sort out where they go in the ISO 19110 doc thereafter.

[2017-01-24 09:51] afabiani commented on #2845
Patch available here: https://github.com/GeoNode/geonode/pull/2849

[2017-01-24 14:15] jj0hns0n commented on #2845
Thanks Alessio!

On Tue, Jan 24, 2017 at 1:51 AM, Alessio Fabiani <notifications@github.com>
wrote:

[2017-01-24 16:17] capooti commented on #2839
Now is not mandatory (via b426c4ef5018e07d1e487206080eba6b48128bd7) so no issue.

[2017-01-24 16:17] #2839 closed

[2017-01-24 16:17] #2845 closed

[2017-01-25 09:47] karakostis commented on #2810
@tomkralidis I have made some additions in your code.

More specifically:

1. In the feature_catalogue.xml I've added the definition tag for **each attribute** as described in this [example](https://geo-ide.noaa.gov/wiki/index.php?title=ISO_19110_(Feature_Catalog)):

                 `<gfc:definition>
			<gco:CharacterString>{{ attribute.description }}</gco:CharacterString>
		  </gfc:definition>`

[2017-01-25 19:19] nephilimdie opened #2854 "upgrade to 2.5"
Dear developpers. i am part of team research in archaeology at Bologna university and we use for our purpose your framework geonode version 2.4 in ubuntu server. We discovered that 2.5 version is better than the older one but I can't figure out how to upgrade from 2.4 to 2.5. Could you explain me which way i have to take to change the version?and could you tell me if the data migration will be pos

[2017-01-25 19:49] simod commented on #2854
Hi @nephilimdie. The 2.5 is still a testing version and the 2.6 stable will be out soon. We are working to include automatic migrations from 2.4 but is not ready yet. An official post will appear on geonode.org , twitter and mailing lists.

Ps the right place where to ask are the mailing lists Geonode-users@lists.osgeo.org. And Dev. :)

[2017-01-25 19:49] #2854 closed

[2017-01-26 11:22] senoadiw opened #2858 "GeoNode 2.5.10 KeyError on logout using local_settings.py qgis sample"
Hi,

I'm setting up GeoNode with a QGIS Server backend and get the following KeyError when logging out:

![docker-geonode-qgis logout key error](https://cloud.githubusercontent.com/assets/1198399/22329448/db29793a-e3f3-11e6-9063-e58768b1de10.png)

I think LOGIN_ENDPOINT and LOGOUT_ENDPOINT should be added to local_settings.py.qgis.sample

OGC_SERVER = {
    'default': {
        'LOGIN_ENDPOINT': '

[2017-01-26 18:21] jj0hns0n commented on #2858
@senoadiw can you send a PR to add this?

[2017-01-27 14:35] #2858 closed

[2017-01-27 16:58] jj0hns0n commented on #2843
@kalxas FYI ... we should look at this with @capooti

[2017-01-27 17:03] schignel opened #2863 "not working on Intenet Explorer 9"
Version 9.0.8112.16421

![image](https://cloud.githubusercontent.com/assets/19474876/22379742/ce383174-e477-11e6-8c27-8760977a2780.png)

[2017-01-27 17:38] schignel opened #2864 "Tilted map going from 3D to 2D"
The map is permanently tilted when going back to 2D view from the globe.

![image](https://cloud.githubusercontent.com/assets/19474876/22380943/b377d3f8-e47c-11e6-9e2a-73821229cfe9.png)

[2017-01-27 17:54] schignel opened #2865 "Remove extra fields from layer download?"
When downloading as a shapefile or csv, the layer comes with a slew of extra fields--anyway to prevent these fields from coming down so the user doesn't have to manually delete them, or get confused?

![image](https://cloud.githubusercontent.com/assets/19474876/22381431/d1a89e00-e47e-11e6-923a-4aa48cac1e3f.png)

[2017-01-27 17:59] schignel opened #2866 "Search not working"
The Search often returns no results. For example, I have a number of layers for Mekelle, Ethiopia. So I "type in "Mekelle" in the Search bar and a number of layers appear in the drop down. So I select "Mekelle: Aspect" and nothing shows up. Similarly, if I search by Region on the sidebar for "Africa" nothing shows up. Any thoughts?

![image](https://cloud.githubusercontent.com/assets/19474876/2238

[2017-01-27 22:25] capooti opened #2867 "Raster file is not deleted when deleting a raster layer"
The coverage store is correctly removed in GeoServer, but the original file still stays in the GeoServer data directory.

When debugging, this code [1] seems to work well and does not raise errors, so most likely it is a bug (or a not implemented feature) of gsconfig?

[1] https://github.com/GeoNode/geonode/blob/master/geonode/geoserver/helpers.py#L307

[2017-01-30 08:16] simod commented on #2865
Hi, Geonode is not adding any extra field to the shapefiles, they only contain what has been uploaded.

[2017-01-30 08:18] simod commented on #2864
Hi this seems to belong to the new client, could you please reopen in this repo? https://github.com/GeoNode/geonode-client

[2017-01-30 08:18] #2864 closed

[2017-01-30 08:20] simod commented on #2863
I think that's correct, not sure we support ie9.

[2017-01-30 12:28] francbartoli commented on #2800
@waybarryos can we close this?

[2017-01-30 14:23] waybarrios commented on #2800
of course! @francbartoli I just did it

[2017-01-30 14:23] #2800 closed

[2017-01-31 15:35] TheRealKembruck opened #2872 "ImportError: No module named..."
Hi everyone,
I can't install a custom application "prova" in my geonode.
My purpouse is open a new page "localhost:8000/prova with a simple HttpResponse
the error is ImportError: No module named prova
I've modified "settings.py":
I```
INSTALLED_APPS = (

    # Boostrap admin theme
    # 'django_admin_bootstrapped.bootstrap3',
    # 'django_admin_bootstrapped',

    # Apps bundled with Django
    '

[2017-01-31 15:36] #2872 closed

[2017-01-31 15:38] TheRealKembruck opened #2873 "ImportError: No module named..."
Hi everyone,
I can't install a custom application "prova" in my geonode.
My purpouse is open a new page "localhost:8000/prova with a simple HttpResponse
the error is
I've modified "settings.py":

[code]

I've changed prova/views.py:

[code]

prova/urls.py:

[code]

Can someone help me please?

[2017-01-31 15:58] #2873 closed

[2017-02-01 10:05] afabiani opened #2875 "GeoFence rules are not updated if GeoNode cannot reach GeoServer Public Location"
Until we don't have a plan for a full multi-tenancy GeoNode, the only solution is to change the GeoFence rules through the GeoServer LOCATION instead of PUBLIC_LOCATION.

[2017-02-01 10:57] schignel opened #2877 "Ability to select projection when downloading layer"
Consider adding the ability for a user to be able to choose from a selection of projections when downloading a layer.

A common set of projections could be set up by the data manager (e.g. GCS or the relevant UTM zone), and the layer would be reprojected prior to download.

This is particularly pertinent for GeoNodes hositng data from multiple locations around the world.

[2017-02-01 21:52] jj0hns0n opened #2881 "Panels in detail pages appearing below metadata"
<img width="860" alt="screen shot 2017-02-01 at 13 51 25" src="https://cloud.githubusercontent.com/assets/506078/22527878/ac73a930-e885-11e6-85a1-49957f06ed95.png">
<img width="1227" alt="screen shot 2017-02-01 at 13 51 47" src="https://cloud.githubusercontent.com/assets/506078/22527879/ac888328-e885-11e6-972d-137a21a83909.png">
<img width="1267" alt="screen shot 2017-02-01 at 13 51 58" src="https

[2017-02-02 17:35] waybarrios commented on #2750
@francbartoli I think We need to close this issue, right? Or you're working on that?

[2017-02-02 17:57] afabiani opened #2885 "Manage signals (activate/deactivate) when performing Backup & Resotore"
Disable / Re-enable Signals before proceeding with a Backup & Restore operation in order to avoid duplications and unwanted behaviors.

Code contributed by
Matteo Nastasi <matteo.nastasi@globalquakemodel.org>

[2017-02-02 18:53] schignel commented on #2865
Ah thank you, my mistake! Closing now.

[2017-02-02 18:53] #2865 closed

[2017-02-02 20:37] francbartoli commented on #2750
Actually I have a solution in my pocket but I did not have time to work on that. But however we can close, I'll come with a PR later

[2017-02-03 00:40] jondoig opened #2888 "View Map: Layer without view permission is displayed as broken (pink) tile images"
In Geonode 2.4, a layer for which I have no view permission is displayed as broken images (pink tiles) when viewing a map that contains it:
![image](https://cloud.githubusercontent.com/assets/4666409/22574804/72279ee0-ea05-11e6-9565-a0ed40c571d2.png)

Perhaps it should be greyed out:
![greyedout](https://cloud.githubusercontent.com/assets/4666409/22574766/215aad18-ea05-11e6-9e77-13a6bc545013.PNG)

[2017-02-03 13:17] waybarrios commented on #2750
Got it @francbartoli. I'll close it when you have all your work done!

[2017-02-03 13:37] afabiani opened #2889 "GNIP: GeoNode signals/notification refactor."
## Proposed by

Ariel Nunez ([Terranodo](http://terranodo.io/))
Alessio Fabiani ([GeoSolutions](http://www.geo-solutions.it))
## Assigned to release

None yet.

# GeoNode signals/notification refactor.

### 1. Background

GeoNode has been increasingly removing expensive operations from the request/response cycle. Before GeoNode 1.1, it used to do network calls to GeoServer in the HTML templates of

[2017-02-03 14:12] simod commented on #2889
Alessio, very interesting proposal. Designed for scaling, thanks. Looking forward for it.

[2017-02-06 00:15] tomkralidis commented on #2810
@karakostis great to hear.  QGIS doesn't do anything with feature attributes (in metadata) currently.  My guess for a QGIS workflow is that this functionality would be deeper tied to the data source/provider.  From a pure metadata workflow,

[2017-02-06 13:26] christianbraun opened #2891 "External Services don't draw images"
Dear all,

I have a geonode 2.4.1 installation from the ubuntu stable repo running. User management is connected to our corporate Active Directory server.
However, when I register as super user an external WMS via the UI everything goes fine. Layers are all listed and imported into the catalog. So the connection seems to work. If I want to view them in their dedicated page nothing gets overlayed t

[2017-02-06 15:48] ingenieroariel commented on #2889
If there are no initial objections we will start work and update the GNIP as coding progresses.

[2017-02-06 20:21] t-book opened #2892 "404 for geoexplorer link in ext-map dialog"
Hi,

unsure if this is already documented. When you click the about icon on map details a dialog appears.  Try clicking the geoExplorer tab and you´ll get a 404.

Link: http://demo.geonode.org/maps/169 (happens in all demo maps)
![bildschirmfoto 2017-02-06 um 21 02 57](https://cloud.githubusercontent.com/assets/20478652/22664549/79ca457c-ecb1-11e6-8e57-b2e52af98331.png)

The problem is a wrong pro

[2017-02-06 20:41] t-book commented on #2760
+1 for choosing a clearer icon instead of a cart icon.

[2017-02-07 06:21] simod commented on #2891
Hi, check what happens with the http requests in the browser console. If it is requesting the images and what type of response you get.

[2017-02-07 14:17] waybarrios commented on #2889
I can identificate, we need to apply this implementation on the following signals and methods on GeoNode:

![image](https://cloud.githubusercontent.com/assets/6794828/22694455/4f6321aa-ed15-11e6-93a5-84ae833f6091.png)

![image](https://cloud.githubusercontent.com/assets/6794828/22694495/803a3a7a-ed15-11e6-9362-c0ee0f7abd03.png)

![image](https://cloud.githubusercontent.com/assets/6794828/22694587/

[2017-02-07 14:28] christianbraun commented on #2891
@simod, thanks for the hint to check the requests to the external services.
I figured out that Geonode, by default, is asking for WMS in EPSG:900913. I changed my service accordingly. Works!

However, for external services which do not deliver EPSG:900913 it is not working.
Then, I changed in my local_settings.py variable DEFAULT_MAP_CRS = "EPSG:3857". This then is messing up all requests even to

[2017-02-08 08:04] simod commented on #2891
Hi, this is indeed a bug that we will investigate. I thought the 3857 was actually supported....

thanks

[2017-02-08 08:05] #2796 closed

[2017-02-08 08:25] christianbraun commented on #2891
OK, my work-around until the fix would then be to use external services which support EPSG:900913

Thanks,
Christian

[2017-02-08 19:33] Ogilo opened #2895 "Uploading shapefiles issue"
Hi i have issue with uploading a shapefile to a fresh geonode 2.4 installation on ubuntu 14.04. whenever i try uploading a shapefile i get the error: 'NoneType' object has no attribute 'name'.

Any help on debugging this?

[2017-02-09 00:58] jondoig opened #2896 "Private data is publicly visible at /uploaded/layers"
In Geonode 2.4, all uploaded data can be listed and downloaded from `http://<host>/uploaded/layers` regardless of security permissions.

This seems to be by design. The [installation doco](http://docs.geonode.org/en/master/tutorials/install_and_admin/geonode_install/setup_configure_httpd.html) says to make it all wide open:

[code]

Removing ‘other’ permission (chmod 770) breaks the upload functio

[2017-02-09 01:09] jondoig commented on #1421
You can already do this without even logging in. Even on private data. See #2896  :open_mouth:

[2017-02-09 01:44] jondoig commented on #2896
At least we can make it a bit harder by denying directory listing in the Apache config. I.e. change the [installation doco](http://docs.geonode.org/en/master/tutorials/install_and_admin/geonode_install/setup_configure_httpd.html#apache-configuration) from:

[code]
to
[code]

(...and same for the other directories configured there.)

But it's still not hard to infer the actual filenames and downloa

[2017-02-09 05:57] jondoig opened #2897 "Cannot upload simple KML from Google Earth"
In Geonode 2.4, I'm experimenting with KML upload after setting:
[code]

Using KML with Google Earth 7.1.7.2606 on Windows 7, I created a trivial KML with `<Point>`, `<LineString>` and `<Polygon>`: [Temporary Places.kml](https://github.com/GeoNode/geonode/files/762710/Temporary.Places.kml.txt) (added '.txt' suffix so I can link it here)

The upload completes OK but the polygons and lines are not l

[2017-02-09 06:05] jondoig commented on #2897
Actually I think that error log is irrelevant - I get the same two errors shown there when I successfully uploaded `Temporary Places - points only no lookat.kml`.

[2017-02-09 09:17] simod commented on #2896
Hi, the uploaded/layers directory doesn't have to be served by apache, it only needs write permissions. Thumbs on the other hands need to be publicly available. If the doc says that uploaded has to be served then we need to fix it.

Thanks

[2017-02-09 09:20] simod commented on #2895
Hi, seems to be an issue with the style.

Could you please move this to geonode-users@lists.osgeo.org adding some more info like the full stacktrace of the error?

[2017-02-09 09:20] #2895 closed

[2017-02-09 23:14] jondoig commented on #2896
OK so I've made a [pull request](https://github.com/GeoNode/geonode/issues/2899) to fix the [manual install doco](http://docs.geonode.org/en/master/tutorials/install_and_admin/geonode_install/setup_configure_httpd.html#apache-configuration), but the same change may be needed to other install methods ...Quick install? Ansible? Other?

[2017-02-10 09:35] simod commented on #2896
Thanks I've also  fixed it at package level see https://github.com/GeoNode/geonode/commit/dedd939909104b88af4af97b744b334896c819a1

[2017-02-10 09:35] #2896 closed

[2017-02-13 09:03] afabiani commented on #2889
+1

[2017-02-13 09:08] afabiani opened #2902 "GeoServer Post Save Layer should use settings.py URL instead of GetCapa one"
On post save GeoNode makes use of GeoServer URL provided by the GetCapabilities instead of keeping use of the one defined on settings.py.

This may cause issues when GeoServer defines a Proxy Url pointing to an external domain not reachable and/or not resolvable by GeoNode host.

[2017-02-13 09:11] afabiani opened #2903 "Request key internal error when trying to define a new Remote Service"
GeoNode throws a Python exception about not being able to retrieve "request" key when defining a new Remote Service.

[2017-02-14 00:27] jjgallow opened #2905 "Draw a point onto the map"
Hi there, we are experimenting with the use of Geonode, and have done some customization so that from the map view, it can search for attributes and zoom in on the results (using a bounding box URL parameter fed to the map...   ?bbox=).

It does this well, but then the feature is not highlighted (and it may search across over 100 layers, rather than just one).

Is there a way either highlight a fe

[2017-02-14 06:22] rasikadc opened #2906 "removing login option from geonode's toolbar"
I want to remove the Geonode's default login window from geoexplorer which is pop up when we click save map or publish map option of tool bar .I want to give my login page link instead of that to authenticate users from our existing database.I don't have any idea about this.Please help me in that as soon as possible.
thank you

[2017-02-14 06:30] rasikadc opened #2907 "Unchecked layers also can be modified on the GeoExplore"
On Unchecked layers also we can create a new feature  on the GeoExplore .How I can fix this problem if layer is unchecked then disabling edit option from geoexplorer tool bar.

[2017-02-14 06:31] simod commented on #2907
Hi, please don't write here to ask for support but use the mailing list only.

[2017-02-14 06:31] #2907 closed

[2017-02-14 06:31] #2906 closed

[2017-02-14 06:32] rasikadc opened #2908 "Unchecked layers also can be modified on the GeoExplore"
On Unchecked layers also we can create a new feature on the GeoExplore .How I can fix this problem if layer is unchecked then disabling edit option from geoexplorer tool bar.

[2017-02-14 06:33] #2908 closed

[2017-02-15 14:31] afabiani opened #2910 "Allow contrib apps to extend "site base""
As a developer I need GeoNode "contrib" apps to be able to extend and override (if needed) the GeoNode "site_base" template.

Currently this is not possible since "site_base.html" takes precedence on every other template of GeoNode apps.

The solution I propose to solve this issue is to create a new "base/geonode_base.html" basically empty and make all other apps extend this one instead of "site_b

[2017-02-16 08:31] francbartoli commented on #2889
@waybarrios very useful change, but I would expect more huge testing in this PR

[2017-02-16 14:43] #2910 closed

[2017-02-16 17:04] francbartoli opened #2914 "User is still authenticated in geoserver after logging out when geonode is behind a proxy server"
Steps to reproduce:

1. login django
2. navigate as authenticated user into geoserver (jsessionid is created with path /geoserver)
3. logout django
4. navigate /geoserver --> user is still authenticated (jsessionid is still valid)
5. firing off jsessionid then the user is out

[2017-02-16 20:25] capooti commented on #2905
Please, could you post this to the mailing list? thanks

[2017-02-16 20:25] #2905 closed

[2017-02-16 20:29] jjgallow commented on #2905
I can of you like....but considering you have url parameters in your
tutorial and they don't work...is that not a bug?

Maybe I should reword it?

On Feb 16, 2017 1:25 PM, "Paolo Corti" <notifications@github.com> wrote:

[2017-02-16 21:11] capooti commented on #2905
Can you expand the concept about having url parameters which don't work? Not sure I understand. Thanks a lot

[2017-02-16 21:42] jjgallow commented on #2905
Sure.  Maybe what I should have started with was this, from geonode's tutorial on Parametric View layers:

http://docs.geonode.org/en/master/tutorials/advanced/adv_data_mgmt/adding_data/add_sqllayers.html

Parametric View based layers are incredibly powerful and flexible, and would be one solution to my specific problem, as well as possibly a good solution to a broader scope of problems.

At the b

[2017-02-16 22:19] capooti commented on #2905
Well, that documentation seems incomplete. After having the view in GeoServer you should be able to register it in GeoNode using the updatelayers command.

[2017-02-16 22:59] jjgallow commented on #2905
Yes, you can, that is true.  Except that the purpose of the view is to
dynamically change the results via paramaters in the url.   And this does
not currently persist in geonode, thus the view does not function.

 Not sure if that makes sense...does that help explain the issue?

On Feb 16, 2017 3:19 PM, "Paolo Corti" <notifications@github.com> wrote:

[2017-02-17 11:06] jondoig opened #2915 "Open public folder for downloads"
Some people would rather just see a download folder full of zips.

Make data downloadable from a public download folder for http and ftp access.

Add a Private subfolder which when opened redirects to the login screen of Geonode, then to the layers tab on login.

One scenario when this would be crucial is to allow rapid and easy bulk download for off-site backup, as is now being done with difficul

[2017-02-17 11:24] jondoig opened #2916 "Interface groups to Facebook groups"
So data can be securely shared to members of a Facebook group

[2017-02-17 14:21] capooti commented on #2905
Well, while definitely a view is fully supported in GeoNode, view parameters are not implemented in the client, you are right, but it is possible to do it if needed by customizing it.

[2017-02-17 16:16] jjgallow commented on #2905
Thank you Paolo,

I have a small amount of customizing geonode...ie...customized the search
to our internal databases.

Could you point me in the right direction, and I'll post the code back?

On Feb 17, 2017 7:21 AM, "Paolo Corti" <notifications@github.com> wrote:

[2017-02-18 12:16] abersh commented on #1727
I want to geonode language localize any one please help or recommend videos or other resorce

[2017-02-19 22:30] ghost opened #2917 "SSL error upload layer"
I am trying to upload layer but this error appear
![capture](https://cloud.githubusercontent.com/assets/15879346/23107307/6b26d3d0-f703-11e6-8d15-3380b2dfb1d9.PNG)

in console :
![capture1](https://cloud.githubusercontent.com/assets/15879346/23107324/c1e34cf8-f703-11e6-9f8b-803361ce6080.PNG)
log:
`[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)
Traceback (most recent call l

[2017-02-20 10:41] francbartoli commented on #2914
Side effect of this is also that if two different users are going to access from the same browser:

1. the first one does logout after browsing into geoserver
2. the second one does login into geonode and if he/she goes to geoserver is authenticated as the first one

[2017-02-22 12:51] kalxas opened #2920 "column base_region.bbox_x0 does not exist"
I deployed master yesterday and when I try metadata details I get this error:
[code]

[2017-02-22 12:51] simod commented on #2920
@afabiani could you take a look?

[2017-02-22 13:10] afabiani commented on #2920
Mmm, quite strange. Did you run makemigrations?

The fileds are defined here
https://github.com/GeoNode/geonode/blob/master/geonode/base/migrations/24_to_26.py

And the initial_data.json has been updated with coordinates too.

[2017-02-22 13:13] kalxas commented on #2920
I already did python manage.py migrate

[2017-02-22 13:13] kalxas commented on #2920
this is a migrated site, so initial_data.json is not loaded

[2017-02-22 13:18] afabiani commented on #2920
maybe the 24_to_26.py has been marked as already applied. This should not happen on a new installation, but maybe on a migrated one yes.

A possible solution would be to run a python manage.py makemigrations, but maybe you need to remove the bbox fields declararion from 24_to_26.py first.

About the bboxes of the regions, it should not a big issue to have them empy. The side effect is that the md

[2017-02-22 19:16] kalxas commented on #2920
I added the missing columns manually.
Besides bbox_x0, bbox_x1, bbox_y0, bbox_y1
srid is also missing.

[2017-02-23 04:48] gonrial opened #2921 "Error: Module: 'earth' not found!"
Visiting the demo site: http://demo.geonode.org/maps/272
Click on _3d View_
See the error
[code]
I found related information from http://stackoverflow.com/questions/42007768/google-maps-api-uncaught-error-module-earth-not-found

Is it possible to disable _3d view_?

[2017-02-23 05:28] gonrial commented on #2921
Possibly adding the line `config.viewerTools.splice(10,1);` to all these branches?

https://github.com/GeoNode/geonode/blob/2.0.x/geonode/templates/geonode/geo_header.html#L24
https://github.com/GeoNode/geonode/blob/2.4.x/geonode/templates/geonode/geo_header.html#L24
https://github.com/GeoNode/geonode/blob/2.5.x/geonode/templates/geonode/geo_header.html#L24
https://github.com/GeoNode/geonode/blob/

[2017-02-23 06:24] jondoig commented on #2717
From psql I can see that deleting the layer removes its table from geonode_data, and removes its row from geonode.layers_layer. I also see the shapefile is gone from uploaded/layers.

However on attempting to re-upload the same shapefile, the first error I see in tomcat log is:

[code]

[2017-02-23 13:30] simod commented on #2921
@bartvde any comments on this one?

[2017-02-23 13:32] bartvde commented on #2921
yeah I would take out the tool

[2017-02-24 02:24] #2921 closed

[2017-02-25 10:07] ppasq commented on #2881
Sorry, the fix has not been ported in master yet.

[2017-02-26 11:00] marco-jem opened #2932 "Unable to update a layer (replace action) nor create a new layer with the same name of a already deleted layer"
Hello, I tried to replace a layer uploading a shapefile, after action completed (without reporting ANY error in the web UI) I accessed the layer all the shapes in the layer are gone and:
- the layer preview map displays the world map and nothing else
- the PostgreSQL table containig layed data does not exist anymore
- the layer is still listed among available layers both in GeoNode and GeoServer
-

[2017-02-27 06:41] simod commented on #2932
@afabiani could this depend from geoserver?

[2017-02-27 09:13] afabiani commented on #2932
Most probably the JDBC connection on GeoServer has not yet released at the time of replacing the layer.

Please try to do like this:

1. Delete the layer from GeoNode
2. Restart GeoServer
3. Upload the layer again

That should work.

[2017-02-27 10:52] marco-jem commented on #2932
OK, I'll give it a try this evening when I get home ....I'm at work at the
moment.

Stay tuned ;)

2017-02-27 10:13 GMT+01:00 Alessio Fabiani <notifications@github.com>:

[2017-02-28 05:34] stevenvandervalk opened #2933 "Setting correct Geonode/Geoserver security permissions for anon user to view layers"
Hi.  Thanks a lot for the project and active support on mailing lists here!

I'm currently stuck finding the right security permissions to let an anon Geonode user to view what should be public layers without having to disable security chains.

If I upload a layer using my admin user in geoserver-shell or QGIS plugin or simply through Geoserver Importer UI, when previewed in Geonode it works fine.

[2017-02-28 06:29] simod commented on #2933
Hi, could be a connection issue between geoserver and geonode, if you set the layer as public, then it should be visible to anonymous users (no need to exempt anything). You installed geonode with apt-get right? Geoserver is the one installed by geonode by default. Check also if geoserver gives you any error when you try to set the permissions (from the geoserver ui -> logs).

ps, please use the m

[2017-02-28 06:29] #2933 closed

[2017-02-28 08:42] zahirulislamovich commented on #1951
Dear Achorivai,
I cannot integrate. when i copy and past my geoexplorer  map view is blank.

zahir

[2017-02-28 09:38] #2875 closed

[2017-02-28 09:38] #2831 closed

[2017-02-28 09:39] #2408 closed

[2017-02-28 09:39] #2758 closed

[2017-02-28 09:39] #2759 closed

[2017-02-28 09:39] #2885 closed

[2017-03-01 05:48] gonrial opened #2937 "extra_script block is overwritten when accessing maps or layers"
**2.4.x**: Found several `{% block extra_script %}` without `{% block.super %}` so every template overwrites the previous values.
For example if analytics code is put in `site_base.html` it will not be called when the following templates are used:

* geonode/contrib/favorite/templates/favorite/favorite_list.html
* geonode/documents/templates/documents/document_detail.html
* geonode/documents/templ

[2017-03-01 08:57] marco-jem commented on #2932
Good morning!
I confirm it's a problem related to GeoServer, here the details of the tests I performed:

Test 1: replace layer
1) open the selected layer and click on edit -> replace
2)  shutdown GeoServer and wait for 10 seconds
3) start GeoServer
4) upload shapefile and complete the replace action

The layer was successfully updated!

Test 2: upload a layer with the same name of an already delet

[2017-03-01 09:18] afabiani commented on #2932
Well, unfortunately this is not a trivial fix to achieve. It requires changes to GeoServer and improve the communication of events between GeoNode and GeoServer.

Basically this caused by the JDBC Datastore of GeoServer retaining the connections for an amount of period.

In theory would be possible to mitigate the issue by tweaking a bit the GeoServer JDBC pool configuration and the DB sessions.

[2017-03-02 08:43] stevenvandervalk commented on #2933
Hi @simod. Thanks for the reply and apologies I'll post on the mailing list.

[2017-03-02 14:31] marco-jem commented on #2932
By the way ....could my issue be related to this one?

https://github.com/GeoNode/geonode/issues/2462

[2017-03-02 14:47] marco-jem commented on #2932
NEW!
Trid fo apply the fix suggested by @afabiani and it solves this issue! I thinks this bug and bug #2462 reported by @afabiani are related to the same problem.

If you confirm my hypothesis I think this bug report could be linked to #2462 and closed, what do you guys think about this?

[2017-03-03 19:29] capooti commented on #2905
You will need to customize GeoExplorer (or the client you are using) for getting that.

[2017-03-07 08:40] simod commented on #2920
is this still valid? Can we consider it as fixed?

[2017-03-07 14:23] kalxas commented on #2920
well, I had to manually add this column in the migration process, but yes, lets close this issue

[2017-03-07 14:23] #2920 closed

[2017-03-08 11:16] blackgis commented on #2462
This issue is unfortunately not fixed, leave it open.

[2017-03-08 11:20] blackgis commented on #2932
Hi all, i run into the same.
@marco-jem  where exactly and how did you write the cat.reload(). Can you post a short example of your helpers.py.

[2017-03-08 12:27] blackgis commented on #2462
@afabiani Where should I exactly add this reload function in the helpers.py?

[2017-03-08 18:14] marco-jem commented on #2932
@blackgis here it is!
[helpers.zip](https://github.com/GeoNode/geonode/files/828535/helpers.zip)

You can find the added code at line 1054

[2017-03-09 09:46] blackgis commented on #2932
@marco-jem thank you! After a restart of Tomcat it starts working as suggested. Saved my day.

[2017-03-09 14:13] blackgis opened #2942 "Legend is not updated accordingly to the selected style"
Hi all,
I have a lot of layers with more than one style. When switching between them the map is correctly updating  but not the legend area, which keeps showing the 'default' styles information.
In the first everything is as expected:
![style1_nolegendupdate](https://cloud.githubusercontent.com/assets/7139491/23753609/69691014-04da-11e7-8d1f-b11e07eeacf6.jpg)

in the second the map is updated to t

[2017-03-09 14:49] capooti commented on #2942
I am having a look at this

[2017-03-10 08:00] #2942 closed

[2017-03-10 10:47] #2937 closed

[2017-03-10 10:58] alaw005 opened #2945 "Lockdown prevents access to user registration and invite user pages"
Setting LOCKDOWN_GEONODE = True prevents access to the user registration page. I suggest that IF REGISTRATION_OPEN = True then the user registration pages be automatically excluded from the lockdown, e.g. automatically added to the AUTH_EXEMPT_URLS list in settings.py somehow.

This issue also applies to the url sent when a user is invited to join by an existing user. I haven't managed to work out

[2017-03-10 11:26] blackgis commented on #2942
@capooti in general it is working but i get the not found symbology in the legend area because in the wms url of the changed file a fixed layer is used. instead of LAYER=geonode:subwaylines_p_odp there should be Layer={{something which take the really acutal layer??}} look here: https://github.com/GeoNode/geonode/pull/2944/commits/be3b6bc72aa0c1e834ba0d1376f55e375b472aba

[2017-03-10 13:15] blackgis opened #2946 "Default style is not used when loading the page"
Hi all,

I have this problem with all my layers, so it is not limited to this example,  but for better understanding:

I uploaded a layer (shp) called **dwellings_kule_tierkidi2**. The default style is called 'dwellings_kule_tierkidi2'. For dwellings i already have a style I use for an other layer too. In 'Manage Styles' I search for the style called 'Dwellings simple style' and assign it to the l

[2017-03-10 14:41] capooti commented on #2942
OK I will look into that other issue later

[2017-03-10 14:43] capooti commented on #2946
So, you experience the problem only when changing the default style, correct?

[2017-03-10 19:36] blackgis commented on #2946
Yes, the initial style of the layer is always the first which is presented  in the map doesn't even matter if it is in available styles or not ..

[2017-03-11 08:08] alaw005 opened #2947 "Images fail in documentation"
The images on the live documentation page http://docs.geonode.org/en/master/organizational/contribute/contribute_to_documentation.html are not found. They are shown correctly when built on local machine from repository but not the live site.

[2017-03-12 11:29] alaw005 opened #2948 "Error saving metadata"
I get the following error when saving metadata. I thought it was to do with the django caching but I changed this to memcached but still the error.  I have the 'notification' app enabled for user registrations.

If I give full access (chmod 777) then error changes to one following

LockFailed at /layers/geonode:layer_name/metadata
failed to create /var/www/server_name.Dummy-1-23375
Request Method:

[2017-03-13 09:37] Gpetrak opened #2949 "Some thoughts about the Custom Installation documentation guide"
Hello community,

Yesterday, I followed the Custom Installation Guide (http://docs.geonode.org/en/master/tutorials/admin/install/custom_install.html)  to install GeoNode 2.4 in a fresh Ubuntu 14.04 LTS machine. While the guide is very helpful with many useful details, I came to the attention some issues that I would like to refer in order to improve this lovely guide:

- Below the code of "Downloa

[2017-03-13 13:33] blackgis commented on #2946
@capooti Thy for fixing the legend icon staff: https://github.com/GeoNode/geonode/commit/307dbb4d0ec6429d061964d8a7594acd50d2c8f8

Sorry I was wrong, it is not limited to changing the style only, because what I wanted to demonstrate here was, that when I re/load the page, I got it like in the first picture, the map is not showing the default style it is showing the style in the map which was creat

[2017-03-13 19:45] pjdufour commented on #2762
I can handle some of these.

[2017-03-13 20:04] pjdufour commented on #2915
It's easy enough to write scripts to download all the data off a GeoNode.  Just 50 lines of python or something like that by parsing CSW and making wfs calls.

[2017-03-13 20:05] pjdufour commented on #2866
CC @d3netxer

[2017-03-13 20:44] capooti commented on #2946
@blackgis this is fixed, but you need to use the 2.6.x branch for now

[2017-03-13 21:10] capooti commented on #2915
It depends also on the GeoServer WFS maximum number of features settings: by default is very large (1,000,000) but it is generally suggested as a best practice to keep it low in the GeoServer documentation (the Java process could freeze GeoServer). I am not sure if, when this limit is less than the layer's total feature number, there is an easy way to paginate the features to download. Here someon

[2017-03-14 06:36] #2946 closed

[2017-03-14 16:46] davisc commented on #2889
@afabiani and @ingenieroariel nice work. We've been working on a kafka-geoserver plugin which would be an interesting test case. https://github.com/boundlessgeo/kafka-geoserver-plugin

[2017-03-14 16:57] ingenieroariel commented on #2889
We also explored kafka in our initial analysis but found it may be harder for downstream projects to adopt and preferred to just use the existing RabbitMQ. Very interested to hear more about your experience with Kafka as I think it is a technically superior alternative (message durability, scalability, etc). How hard was it to update GeoNode installers to use Kafka?

[2017-03-14 17:11] afabiani commented on #2889
Hi all,
the GeoServer plugin we developed and currently use on this implementation,
has been published as a GeoServer community plugin and it's structure is
general enough to easily allow plug other implementations.
Notice that this plugin also handles catalog (read as configuration)
changes, not only data.

Here there are the common classes:

https://github.com/geoserver/geoserver/tree/master/src

[2017-03-15 07:47] xqx930807 opened #2951 "Error happened when upload shp files as a layer"
[15/Mar/2017 02:39:21] "GET / HTTP/1.1" 200 17297
[15/Mar/2017 02:39:21] "GET /jsi18n/ HTTP/1.1" 200 13512
[15/Mar/2017 02:39:21] "GET /lang.js HTTP/1.1" 200 10016
[15/Mar/2017 02:39:21] "GET /api/featured/ HTTP/1.1" 200 68
[15/Mar/2017 02:39:39] "GET /layers/upload HTTP/1.1" 200 30363
[15/Mar/2017 02:39:39] "GET /jsi18n/ HTTP/1.1" 200 13512
[15/Mar/2017 02:39:39] "GET /lang.js HTTP/1.1" 200 10016

[2017-03-15 08:15] simod commented on #2951
hi, did you see any errors during the installation? it should be a setup issue as geonode has been tested a lot, especially the 2.4.

ps, do you mind moving this to geonode-users@lists.osgeo.org?

[2017-03-15 09:28] blackgis commented on #2946
@capooti Thank you all, I changed the views.py and now it works as it should.

[2017-03-15 12:27] xqx930807 commented on #2951
okay, I have subscribed to the geonode maillist just now.

however,  during the installation there is no errors to report.

[2017-03-15 13:27] capooti commented on #2903
Looking into this today

[2017-03-15 16:03] capooti commented on #2903
Running **the 2.6.x branch** I see several problems from the beginning, and cannot replicate @afabiani one.

First problem:
trying to create a service for the geonode demo WMS, I first get this error:
FailedRequestError at /services/register/ No store found named: geonode-demo Request Method: POST Request URL

If I press another time on the button, don't get errors when creating it, but when acces

[2017-03-15 17:42] capooti opened #2953 "Part of the code of services is out of sync with model (should be servicelayer_set and not layer_set)"
For example, service has not a layer_set while it should have a servicelayer_set

grep -i -r layer_set geonode/services
geonode/services/management/commands/importservice.py:            for layer in service.layer_set.all():
geonode/services/models.py:    for layer in instance.layer_set.all():
Binary file geonode/services/models.pyc matches
geonode/services/templates/services/layers_register.html:

[2017-03-15 17:50] capooti opened #2954 "Have an appropriate tests suite for services"
Currently we only have 2 tests for services. No test is done on harvested layers.
Furthermore we should not rely on external services (such as http://metaspatial.net/cgi-bin/ogc-wms.xml or http://maps1.arcgisonline.com/ArcGIS/rest/services/EPA_Facilities/MapServer) but we should mock the services, as it is done in HHypermap (for example, here is the mock for WMS: https://github.com/cga-harvard/HHy

[2017-03-16 10:00] afabiani commented on #2903
closing

[2017-03-16 10:00] #2903 closed

[2017-03-17 15:04] dvictori opened #2957 "Atribute table Label name not shown in Feature Info"
I've set a label for a column in the Attribute section of the metadata. The new label shows up in the Attribute tab of the layer page however, it does not show when using the Feature info.

This was tested on demo.geonode.org, which is running v2.4.1. So I don't know if it has been fixed.

A picture is worth 1000 words...
![capturar](https://cloud.githubusercontent.com/assets/5786553/24049126/d395

[2017-03-17 17:31] pjdufour opened #2958 "importlayers / additional options"
- [x] name
- [x] abstract
- [x] license

[2017-03-21 08:45] ppasq commented on #2863
We don't support IE9. The major issue is HTML5 and in particular the ability to select multiple files for a single HTML INPUT TYPE=FILE field which is not supported by IE9 or earlier versions. This affects the upload functionality. It can be solved with workarounds such as using Flash or Silverlight.

[2017-03-21 14:07] afabiani commented on #2914
https://github.com/GeoNode/geonode/pull/2962

Along with GeoServer commit https://github.com/geoserver/geoserver/commit/94ea2c0047f6367ce02a2462bde053565f7999fb

**WARNING:** You need to update GeoServer too, at least the OAuth2 Plugin

http://ares.boundlessgeo.com/geoserver/2.9.x/community-latest/geoserver-2.9-SNAPSHOT-sec-oauth2-geonode-plugin.zip

[2017-03-21 14:23] francbartoli commented on #2914
Hi @afabiani, not yet tested but I don't see this commit on our internal repository, what does it mean?
Is something changed in the meantime from the last release for our internal build process?

[2017-03-21 14:25] afabiani commented on #2914
Hi @francbartoli I'm not sure to understand the question. You mean in GeoServer? If so the commit has been merged on GeoServer community modules and the WARs of GeoNode rebuilt through Jenkins jobs. Is that what you were asking?

[2017-03-21 14:36] francbartoli commented on #2914
Yes, now I have figured out the build, as the change impacted a community module which is used by the vanilla geoserver. So that means now the oauth security piece of geonode is part of the standard geoserver code, is that correct?

[2017-03-21 14:42] afabiani commented on #2914
@francbartoli yes, correct.

[2017-03-21 14:45] francbartoli commented on #2914
@afabiani thanks, I'll try to do some tests asap and get back feedbacks

[2017-03-23 08:36] frippe12573 opened #2965 "thumb with only basemap, no layer overlapped"
In a geosites configuration of geonode, when I set a new thumbnail from 'edit layer' I have a thumb with only the baselayer and without the layer. In the layer info page the map show correctly the layer overlapped the basemap.
here the geoserver log output: http://pastebin.com/4Kg3HHsJ

[2017-03-24 17:12] afabiani opened #2967 "Error on Hierarchical Keywords"
It looks like it is no more possible to save keywords on Layers

[code]

[2017-03-25 14:24] francbartoli commented on #2948
@alaw005 which geonode version are you using? It looks like from your log that django is a version no longer used by the master and 2.6.x code as you can see from setup.py

[2017-03-25 14:40] francbartoli commented on #2914
tested successfully. Thanks @afabiani

[2017-03-26 10:23] afabiani commented on #2948
Currently on GeoNode 2.6.x + saving metadata is also broken if you try to update the keywords due to this
https://github.com/GeoNode/geonode/issues/2967

[2017-03-26 11:01] simod commented on #2948
I'll take a look tomorrow.

[2017-03-27 06:18] simod commented on #2948
@afabiani I cannot replicate this on 2.6. I can add keywords through the admin

[2017-03-27 14:48] #2967 closed

[2017-03-27 20:17] pjdufour opened #2974 "Delete Layer Issue"
When I try to delete a layer, I get a `'NoneType' object has no attribute 'release'` error with stacktrace.  Looks like something to do with notifications.  This is on a development server without email setup.  At the least, email errors should be caught and not propagate.
[code]

[2017-03-27 20:36] pjdufour opened #2975 "Upload Layer Issue"
I'm getting the following issue when uploading a shapefile using webui and importlayers.  Django will create a layer object, but a layer won't be created in GeoServer.  Looks like a geofence sync issue.

[code]

[2017-03-28 07:20] simod commented on #2975
@pjdufour I guess you are on master. It requires rabbitmq at the moment in order to load the layers. That gs warning is not a big deal I think

[2017-03-28 11:10] #2953 closed

[2017-03-28 11:11] #2951 closed

[2017-03-28 11:12] #2863 closed

[2017-03-28 11:13] simod commented on #2888
closing as this will be fixed in the new client

[2017-03-28 11:13] #2888 closed

[2017-03-28 19:26] yecarrillo commented on #2669
Can´t make this work! How can I add those missing files ? "python manage.py collectstatic" do not bring those files even with "DEBUG_STATIC = 'False'"

[2017-03-29 07:18] jondoig commented on #2888
Yay thanks! Good to hear.

On 28 Mar. 2017 22:13, "Simone Dalmasso" <notifications@github.com> wrote: